In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("/Users/pratik/Box/Datasets_shared/Datasets_Zhihan/Virus_classification_data.csv")

In [3]:
df.head()

,Taxonomy,Virus,Accession_number,Class_label,FASTA
0,Adnaviria,Acidianus filamentous virus 1,NC_005830,1,CGGGGGGGAGCATGTGGTTTGCGGTTTGAGGTTCGCACTTGTGATT...
1,Adnaviria,Acidianus filamentous virus 2,NC_009884,1,GTATATATACGGTAAAATACCCAGACGATATTCTCCGTCAGTTTGA...
2,Adnaviria,Acidianus filamentous virus 3,NC_010155,1,TAACATCAAGTATGAGGATACTACACACAACATAAAGTATCTACAC...
3,Adnaviria,Acidianus filamentous virus 6,NC_010152,1,AGCTTTTTTCTCTAGATAGAGAATGTAGTATCAAGTATCAAGATAC...
4,Adnaviria,Acidianus filamentous virus 7,NC_010153,1,TAAGTCATTTCCCCCTTTTATATATAAAGATACATATCACACACCC...

In [4]:
gb = df.groupby(['Class_label'])
gb.get_group(5)

,Taxonomy,Virus,Accession_number,Class_label,FASTA
250,Avsunviroidae,Avocado sunblotch viroid,NC_001410,5,TTTATTAGAACAAGAAGTGAGGATATGATTAAACTTTGTTTGACGA...
251,Avsunviroidae,Chrysanthemum chlorotic mottle viroid,NC_003540,5,GGCACCTGACGTCGGTGTCCTGATGAAGATCCATGACAGGATCGAA...
252,Avsunviroidae,Eggplant latent viroid,NC_039241,5,GGGTGGTGTGTGCCACCCCTGATGAGACCGAAAGGTCGAAATGGGG...
253,Avsunviroidae,Peach latent mosaic viroid,NC_003636,5,GTCATAAGTTTCGTCGCATTTCAGCGACTCATCAGTGGGCTTAGCC...

In [5]:
df.groupby(['Class_label']).size()

Class_label
1       28
2      111
3        3
4      108
5        4
6        8
7        1
8        1
9     4462
10       1
11      11
12       2
13       1
14       1
15    1896
16     103
17       1
18       1
19     232
20       2
21      35
22    6602
23       3
24      51
25       1
26     141
27     277
28       3
29       5
30       2
31     346
dtype: int64

In [6]:
for index, i in df.groupby(['Class_label']).size().items():
    if (i==1):
        for j, values in gb.get_group(index).iterrows():
            print(len(values['FASTA']))

5278
5800
9174
13769
14462
23219
11965
24893