In [1]:
import os
import glob
import pandas as pd
# os.chdir("/directory")

In [8]:
os.chdir("/home/pratik/Work_directory/SARS_finetuned/")

In [9]:
file_extension = '.csv'
all_filenames = [i for i in glob.glob(f"*{file_extension}")]

In [10]:
all_filenames

['Finetuned_SARS_Oceania.csv',
 'Finetuned_SARS_Europe.csv',
 'Finetuned_SARS_Asia.csv',
 'Finetuned_SARS_South America.csv',
 'Finetuned_SARS_Africa.csv',
 'Finetuned_SARS_North America.csv']

In [11]:
all_filenames.sort()
all_filenames

['Finetuned_SARS_Africa.csv',
 'Finetuned_SARS_Asia.csv',
 'Finetuned_SARS_Europe.csv',
 'Finetuned_SARS_North America.csv',
 'Finetuned_SARS_Oceania.csv',
 'Finetuned_SARS_South America.csv']

In [13]:
combined_csv_data = pd.concat([pd.read_csv(f) for f in all_filenames])
combined_csv_data.drop_duplicates().reset_index(drop=True)

                                                 Sequence  Label
0       TAAACGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGCTT...      1
1       TGATTGTGAAGAAGAAGAGTTTGAGCCATCAACTCAATATGAGTAT...      1
2       TATCAAATTTGCTGATGATTTAAACCAGTTAACTGGTTATAAGAAA...      1
3       TGATACCAATGTACTAGAAGGTTCTGTTGCTTATGAAAGTTTACGC...      1
4       CAGGGCAACCTTACAAGCTATAGCCTCAGAGTTTAGTTCCCTTCCA...      1
...                                                   ...    ...
277313  GTATTCTACACTCCAGGGACCACCTGGTACTGGTAAGAGTCATTTT...      0
277314  TAAAGGTTTACAACCATCTGTAGGTCCCAAACAAGCTAGTCTTAAT...      0
277315  GTTACCAACCATACAGAGTAGTAGTACTTTCTTTTGAACTTCTACA...      0
277316  TGTTACCTTCTTCATCTACAATAAAATTGTTGATGAGCCTGAAGAA...      0
277317  NNNNNNNNNNNNNNNNNNNNNNNNNTCCAGAAACTAACATTCTTCT...      0

[277318 rows x 2 columns]

In [14]:
print (combined_csv_data.groupby('Label').count())

       Sequence
Label
0         45278
1         78631
2         19219
3         29590
4         12991
5          5589
6         40838
7          6116
8         56654

In [15]:
combined_csv_data.to_csv("../SARS_variant_classification_finetune_data.csv", index= False)