In [16]:
import os
import glob
import pandas as pd
# os.chdir("/directory")

In [17]:
os.chdir("/home/pratik/Work_directory/SARS_finetuned/1000_chunk_size")

In [18]:
file_extension = '.csv'
all_filenames = [i for i in glob.glob(f"*{file_extension}")]

In [19]:
all_filenames

['Finetuned_SARS_Oceania.csv',
 'Finetuned_SARS_Europe.csv',
 'Finetuned_SARS_Asia.csv',
 'Finetuned_SARS_South America.csv',
 'Finetuned_SARS_Africa.csv',
 'Finetuned_SARS_North America.csv']

In [20]:
all_filenames.sort()
all_filenames

['Finetuned_SARS_Africa.csv',
 'Finetuned_SARS_Asia.csv',
 'Finetuned_SARS_Europe.csv',
 'Finetuned_SARS_North America.csv',
 'Finetuned_SARS_Oceania.csv',
 'Finetuned_SARS_South America.csv']

In [21]:
combined_csv_data = pd.concat([pd.read_csv(f) for f in all_filenames])
combined_csv_data.drop_duplicates().reset_index(drop=True)

                                                 Sequence  Label
0       TAAACGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGCTT...      1
1       TTACAGGTGGTGTTGTTCAGTTGACTTCGCAGTGGCTAACTAACAT...      1
2       GAGCTGATGTTACTAAAATAAAACCTCATAATTCACATGAAGGTAA...      1
3       GAAGGCTATTTGAACTCTACTAATGTCACTATTGCAACCTACTGTA...      1
4       TGATACCAATGTACTAGAAGGTTCTGTTGCTTATGAAAGTTTACGC...      1
...                                                   ...    ...
360395  GTTGTCCTGCTGAAATTGTTGACACTGTGAGTGCTTTGGTTTATGA...      0
360396  TGCGCTAGTTATCAGACTCAGACTAATTCTCATCGGCGGGCACGTA...      0
360397  ATTAAAAGAATTACTGCAAAATGGTATGAATGGACGTACCATATTG...      0
360398  GTTTACCGAGGTACAACAACTTACAAATTAAATGTTGGTGATTATT...      0
360399  GCTGTTGAACAAGACAAAAACACCCAAGAAGTTTTCGCACAAGTCA...      0

[360400 rows x 2 columns]

In [22]:
print (combined_csv_data.groupby('Label').count())

       Sequence
Label
0         60894
1        101661
2         30246
3         38129
4         21431
5          7515
6         53154
7          9312
8         75979

In [23]:
combined_csv_data.to_csv("../SARS_variant_classification_finetune_data_1000.csv", index= False)