In [19]:
import os
import pandas as pd
import numpy as np

In [24]:
non_coding_region= "acceptors"
df= pd.read_csv(f"/data/projects/JimData/DNABERTfiles/splicesites/MOUSE_canonical_{non_coding_region}.tsv", sep="\t", names=[f'{non_coding_region}_sequence'])

In [25]:
df

                                       acceptors_sequence
0       AACCCTGTGTTTGTGTTTCTGTGTGGTTGTTTTCATTAGGCTTTGC...
1       GGCATCCTTAGTCTTCTTCTCTGATTTATTAATATCCAGCTCAGTC...
2       ACATGACATCTCATTTATTTTGATATCTGTTTCATACAGGCAAATT...
3       AAATTAGTTTTCGGGCAGCTAGTAGAGGACACGGGCAAGATGGCGG...
4       CAGTCCAGTGTGTGCTTATTTTGTCTTATTCTCTTTTAGGTTATTT...
...                                                   ...
716608  AATACAAATTATTTATCCCAAAAAAAAAATTTTTTTTAGGCCGAGA...
716609  ATCATGGTTTCATTTTTACACATGTATGCAATATTTTAGGATGAAC...
716610  TGTCTGAAATATGATACATTTTTCTGGTATATATTTTAGGTTACAA...
716611  ATCATGGTTTCATTTTTACACATGTATGCAATATTTTAGGATGAAC...
716612  TGTCTGAAATATGATACATTTTTCTGGTATATATTTTAGGTTACAA...

[716613 rows x 1 columns]

In [26]:
def seq2kmer(seq):
    """
    Convert original sequence to kmers
    
    Arguments:
    seq -- str, original sequence.
    k -- int, kmer of length k specified.
    
    Returns:
    kmers -- str, kmers separated by space
    """
    k=6
    kmer = [seq[x:x+k] for x in range(len(seq)+1-k)]
    kmers = " ".join(kmer)
    return kmers

In [27]:
df['Sequence']= df[f'{non_coding_region}_sequence'].apply(seq2kmer)
df

,acceptors_sequence,Sequence
0,AACCCTGTGTTTGTGTTTCTGTGTGGTTGTTTTCATTAGGCTTTGC...,AACCCT ACCCTG CCCTGT CCTGTG CTGTGT TGTGTT GTGT...
1,GGCATCCTTAGTCTTCTTCTCTGATTTATTAATATCCAGCTCAGTC...,GGCATC GCATCC CATCCT ATCCTT TCCTTA CCTTAG CTTA...
2,ACATGACATCTCATTTATTTTGATATCTGTTTCATACAGGCAAATT...,ACATGA CATGAC ATGACA TGACAT GACATC ACATCT CATC...
3,AAATTAGTTTTCGGGCAGCTAGTAGAGGACACGGGCAAGATGGCGG...,AAATTA AATTAG ATTAGT TTAGTT TAGTTT AGTTTT GTTT...
4,CAGTCCAGTGTGTGCTTATTTTGTCTTATTCTCTTTTAGGTTATTT...,CAGTCC AGTCCA GTCCAG TCCAGT CCAGTG CAGTGT AGTG...
...,...,...
716608,AATACAAATTATTTATCCCAAAAAAAAAATTTTTTTTAGGCCGAGA...,AATACA ATACAA TACAAA ACAAAT CAAATT AAATTA AATT...
716609,ATCATGGTTTCATTTTTACACATGTATGCAATATTTTAGGATGAAC...,ATCATG TCATGG CATGGT ATGGTT TGGTTT GGTTTC GTTT...
716610,TGTCTGAAATATGATACATTTTTCTGGTATATATTTTAGGTTACAA...,TGTCTG GTCTGA TCTGAA CTGAAA TGAAAT GAAATA AAAT...
716611,ATCATGGTTTCATTTTTACACATGTATGCAATATTTTAGGATGAAC...,ATCATG TCATGG CATGGT ATGGTT TGGTTT GGTTTC GTTT...
716612,TGTCTGAAATATGATACATTTTTCTGGTATATATTTTAGGTTACAA...,TGTCTG GTCTGA TCTGAA CTGAAA TGAAAT GAAATA AAAT...

In [28]:
df['Label'] = np.random.choice([0, 1], size=len(df))
df

,acceptors_sequence,Sequence,Label
0,AACCCTGTGTTTGTGTTTCTGTGTGGTTGTTTTCATTAGGCTTTGC...,AACCCT ACCCTG CCCTGT CCTGTG CTGTGT TGTGTT GTGT...,0
1,GGCATCCTTAGTCTTCTTCTCTGATTTATTAATATCCAGCTCAGTC...,GGCATC GCATCC CATCCT ATCCTT TCCTTA CCTTAG CTTA...,0
2,ACATGACATCTCATTTATTTTGATATCTGTTTCATACAGGCAAATT...,ACATGA CATGAC ATGACA TGACAT GACATC ACATCT CATC...,0
3,AAATTAGTTTTCGGGCAGCTAGTAGAGGACACGGGCAAGATGGCGG...,AAATTA AATTAG ATTAGT TTAGTT TAGTTT AGTTTT GTTT...,0
4,CAGTCCAGTGTGTGCTTATTTTGTCTTATTCTCTTTTAGGTTATTT...,CAGTCC AGTCCA GTCCAG TCCAGT CCAGTG CAGTGT AGTG...,1
...,...,...,...
716608,AATACAAATTATTTATCCCAAAAAAAAAATTTTTTTTAGGCCGAGA...,AATACA ATACAA TACAAA ACAAAT CAAATT AAATTA AATT...,0
716609,ATCATGGTTTCATTTTTACACATGTATGCAATATTTTAGGATGAAC...,ATCATG TCATGG CATGGT ATGGTT TGGTTT GGTTTC GTTT...,0
716610,TGTCTGAAATATGATACATTTTTCTGGTATATATTTTAGGTTACAA...,TGTCTG GTCTGA TCTGAA CTGAAA TGAAAT GAAATA AAAT...,1
716611,ATCATGGTTTCATTTTTACACATGTATGCAATATTTTAGGATGAAC...,ATCATG TCATGG CATGGT ATGGTT TGGTTT GGTTTC GTTT...,0
716612,TGTCTGAAATATGATACATTTTTCTGGTATATATTTTAGGTTACAA...,TGTCTG GTCTGA TCTGAA CTGAAA TGAAAT GAAATA AAAT...,1

In [29]:
output_path = f"/data/private/pdutta_new/Max/{non_coding_region}/"
if not os.path.exists(output_path):
    os.makedirs(output_path)
df[['Sequence', 'Label']].to_csv(output_path+ "dev.tsv", sep="\t", index=False)