In [1]:
import os, tarfile
import re
import pandas as pd
import numpy as np
import zipfile, gzip
import pandas as pd
from sklearn.model_selection import train_test_split

In [78]:
chr_name = "chr9"

In [79]:
data_file = "/home/pdutta/Rekha_LabWork/Enhancer_Prediction_Project/Whole_genome_07142022/5.kmer_files/{}/{}.txt".format(chr_name, chr_name)
data_save_tsv = "/home/pdutta/Rekha_LabWork/Enhancer_Prediction_Project/Whole_genome_07142022/5.kmer_files/{}/dev.tsv".format(chr_name)

In [80]:
df_temp = pd.read_csv(data_file, names=['Sequence'] )

In [81]:
df_temp.head()

                                            Sequence
0  TAACCC AACCCT ACCCTA CCCTAA CCTAAC CTAACC TAAC...
1  TGGGTA GGGTAT GGTATC GTATCA TATCAT ATCATG TCAT...
2  CCGCGC CGCGCC GCGCCG CGCCGG GCCGGC CCGGCG CGGC...
3  AGGTGT GGTGTA GTGTAC TGTACT GTACTG TACTGG ACTG...
4  TTTCTT TTCTTT TCTTTG CTTTGA TTTGAC TTGACC TGAC...

In [82]:
df_temp['Label']=0

In [83]:
df_temp.shape

(730744, 2)

In [84]:
df_temp

                                                 Sequence  Label
0       TAACCC AACCCT ACCCTA CCCTAA CCTAAC CTAACC TAAC...      0
1       TGGGTA GGGTAT GGTATC GTATCA TATCAT ATCATG TCAT...      0
2       CCGCGC CGCGCC GCGCCG CGCCGG GCCGGC CCGGCG CGGC...      0
3       AGGTGT GGTGTA GTGTAC TGTACT GTACTG TACTGG ACTG...      0
4       TTTCTT TTCTTT TCTTTG CTTTGA TTTGAC TTGACC TGAC...      0
...                                                   ...    ...
730739  TATCAT ATCATT TCATTT CATTTC ATTTCT TTTCTA TTCT...      0
730740  CTAGTA TAGTAC AGTACT GTACTT TACTTT ACTTTT CTTT...      0
730741  GCCATC CCATCA CATCAT ATCATT TCATTA CATTAA ATTA...      0
730742  GAACAT AACATC ACATCA CATCAC ATCACT TCACTT CACT...      0
730743  CTTTTT TTTTTT TTTTTG TTTTGT TTTGTA TTGTAT TGTA...      0

[730744 rows x 2 columns]

In [85]:
df_temp.to_csv(data_save_tsv, sep='\t', index=False)

In [2]:
chr_names = ['chr10', 'chr11','chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chr20', 'chr22', 'chrX', 'chrY']

for chr_name in chr_names:
    print(chr_name)
    data_file = "/home/pdutta/Rekha_LabWork/Enhancer_Prediction_Project/Whole_genome_07142022/5.kmer_files/{}/{}.txt".format(chr_name, chr_name)
    data_save_tsv = "/home/pdutta/Rekha_LabWork/Enhancer_Prediction_Project/Whole_genome_07142022/5.kmer_files/{}/dev.tsv".format(chr_name)
    df_temp = pd.read_csv(data_file, names=['Sequence'] )
    df_temp['Label']=0
    print(chr_name, df_temp.shape)
    df_temp.to_csv(data_save_tsv, sep='\t', index=False)

chr10
chr10 (799581, 2)
chr11
chr11 (807203, 2)
chr12
chr12 (798831, 2)
chr13
chr13 (587901, 2)
chr14
chr14 (543413, 2)
chr15
chr15 (507849, 2)
chr16
chr16 (490838, 2)
chr17
chr17 (497523, 2)
chr18
chr18 (480535, 2)
chr19
chr19 (350645, 2)
chr20
chr20 (383671, 2)
chr22
chr22 (234964, 2)
chrX
chrX (929360, 2)
chrY
chrY (158489, 2)