In [30]:
import pandas as pd
import sklearn
from sklearn.utils import shuffle
import os, tarfile
import re
import pandas as pd
import numpy as np

In [2]:
enhancer_non_enhancer_ratio='1-1'
sequence_length ='200'
train_test_split = '80_20'

In [12]:
output_folder_path = "/data/projects/Enhancer/Data_for_comparison/Benchmark_data"
data_file_path = "/data/projects/Enhancer/Data_for_comparison/Benchmark_data/Merged_data/iEnhancer_Benchmark_dataset_merged.csv"

In [13]:
output_folder_path

'/data/projects/Enhancer/Data_for_comparison/Benchmark_data'

In [14]:
df = pd.read_csv(data_file_path, sep=",")

In [22]:
df

                                                  kmers  Label
0     GCCCTC CCCTCA CCTCAC CTCACA TCACAT CACATT ACAT...      1
1     GAGCAG AGCAGG GCAGGA CAGGAG AGGAGG GGAGGC GAGG...      1
2     CCTCTG CTCTGC TCTGCT CTGCTG TGCTGA GCTGAG CTGA...      1
3     ACAGCC CAGCCT AGCCTT GCCTTA CCTTAA CTTAAA TTAA...      1
4     TGCAGT GCAGTG CAGTGC AGTGCC GTGCCT TGCCTA GCCT...      1
...                                                 ...    ...
2960  TGAGGA GAGGAC AGGACC GGACCT GACCTA ACCTAC CCTA...      0
2961  ACTATA CTATAC TATACT ATACTT TACTTT ACTTTA CTTT...      0
2962  CATGTA ATGTAT TGTATG GTATGC TATGCA ATGCAT TGCA...      0
2963  AACTCT ACTCTC CTCTCA TCTCAT CTCATA TCATAT CATA...      0
2964  AAGGAC AGGACA GGACAA GACAAG ACAAGC CAAGCT AAGC...      0

[2965 rows x 2 columns]

In [16]:
df.groupby(['Label']).size()

Label
0    1483
1    1482
dtype: int64

In [17]:
all_data = shuffle(df).reset_index(drop=True)

In [23]:
all_data

                                                  kmers  Label
0     AGAAAC GAAACC AAACCT AACCTG ACCTGG CCTGGA CTGG...      1
1     TCTCTG CTCTGT TCTGTT CTGTTC TGTTCA GTTCAC TTCA...      0
2     AGTGAC GTGACG TGACGT GACGTT ACGTTC CGTTCA GTTC...      0
3     AGAAAA GAAAAG AAAAGT AAAGTG AAGTGT AGTGTA GTGT...      0
4     AATTTA ATTTAG TTTAGA TTAGAA TAGAAT AGAATA GAAT...      0
...                                                 ...    ...
2960  GATCCA ATCCAG TCCAGT CCAGTG CAGTGG AGTGGG GTGG...      0
2961  CTTTTC TTTTCT TTTCTC TTCTCC TCTCCA CTCCAC TCCA...      1
2962  TGAGCC GAGCCA AGCCAT GCCATA CCATAC CATACA ATAC...      0
2963  GAACTC AACTCT ACTCTC CTCTCT TCTCTC CTCTCG TCTC...      1
2964  TCTCTA CTCTAC TCTACT CTACTG TACTGT ACTGTT CTGT...      0

[2965 rows x 2 columns]

In [33]:
train, test = sklearn.model_selection.train_test_split(all_data, test_size=0.15)
print (train.shape, test.shape)
print(train.groupby(['Label']).size(), test.groupby(['Label']).size() )

(2520, 2) (445, 2)
Label
0    1270
1    1250
dtype: int64 Label
0    213
1    232
dtype: int64

In [35]:
train.to_csv(output_folder_path+"/train.tsv", sep="\t", index=False)
test.to_csv(output_folder_path+"/dev.tsv", sep="\t", index=False)