In [9]:
import os
import glob
import pandas as pd
# os.chdir("/directory")

In [10]:
os.chdir("/Users/pratik/Box/Datasets/3000_chunk_size")

In [11]:
file_extension = '.csv'
all_filenames = [i for i in glob.glob(f"*{file_extension}")]

In [12]:
all_filenames

['Finetuned_SARS_Africa.csv',
 'Finetuned_SARS_Asia.csv',
 'Finetuned_SARS_Europe.csv',
 'Finetuned_SARS_North America.csv',
 'Finetuned_SARS_Oceania.csv',
 'Finetuned_SARS_South America.csv']

In [13]:
all_filenames.sort()
all_filenames

['Finetuned_SARS_Africa.csv',
 'Finetuned_SARS_Asia.csv',
 'Finetuned_SARS_Europe.csv',
 'Finetuned_SARS_North America.csv',
 'Finetuned_SARS_Oceania.csv',
 'Finetuned_SARS_South America.csv']

In [14]:
combined_csv_data = pd.concat([pd.read_csv(f) for f in all_filenames])
combined_csv_data.drop_duplicates().reset_index(drop=True)

,Index,Sequence,Label
0,AF_1629314973953_0_0,AGATCTGTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGTCACTC...,0
1,AF_1629314973953_0_3000,TGAAGAAGAAGGTGATTGTGAAGAAGAAGAGTTTGAGCCATCAACT...,0
2,AF_1629314973953_0_6000,TGTATGTGATAATATCAAATTTGCTGATGATTTAAACCAGTTAACT...,0
3,AF_1629314973953_0_9000,ACCATATTGTTATGATACCAATGTACTAGAAGGTTCTGTTGCTTAT...,0
4,AF_1629314973953_0_15000,ATGAATCTTAAGTATGCCATTAGTGCAAAGAACAGAGCTCGCACCG...,0
...,...,...,...
294901,SA_1629389399049_2476_3000,GAGTTTAAATTGGCTTCACATATGTATTGTTCTTTTTACCCTCCAG...,8
294902,SA_1629389399049_2476_12000,TCACTACTTTCTGTTTTGCTTTCCATGCAGGGTGCTGTAGACATAA...,8
294903,SA_1629389399049_2476_1000,AAAAGAGCTATGAATTGCAGACACCTTTTGAAATTAAATTGGCAAA...,8
294904,SA_1629389399049_2476_4000,CTAAGTTCCTCACAGAAAACTTGTTACTTTATATTGACATTAATGG...,8
294905,SA_1629389399049_2476_5000,CCACACGCAAGTTGTGGACATGTCAATGACATATGGACAACAGTTT...,8

In [15]:
print (combined_csv_data.groupby('Label').count())

       Index  Sequence
Label
0      45278     45278
1      78631     78631
2      19219     19219
3      29590     29590
4      12991     12991
5       5589      5589
6      40838     40838
7       6116      6116
8      56654     56654

In [16]:
combined_csv_data.to_csv("../SARS_variant_classification_finetune_data_3000.csv", index= False)