In [1]:
import os
import pandas as pd
import sys 
import subprocess

In [15]:
cmd = ["blastn", "-query",'../1.txt',"-subject", '../3.txt', "-task", 'blastn', "-outfmt","6"]
object1 = subprocess.Popen(cmd, stdout=subprocess.PIPE)
object1.wait()

0

In [11]:
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO

temp = StringIO(object1.communicate()[0].decode('utf-8'))
header = ['query', 'ref', 'per_ident', 'aln_len', 'mismatch', 'gapopen', 'qstart', 'qend', 'sstart', 'send', 'evalue', 'bitscore']
df = pd.read_csv(temp, sep="\t", names=header)

In [12]:
df

,query,ref,per_ident,aln_len,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
0,MW737421.1,MW969600.1,99.634,546,2,0,22552,23097,1,546,0.000,976.0
1,MW737421.1,MW969600.1,100.000,16,0,0,22863,22878,327,312,0.013,30.1
2,MW737421.1,MW969600.1,90.000,20,2,0,5179,5198,113,94,0.046,28.3
3,MW737421.1,MW969600.1,89.474,19,2,0,28075,28093,336,318,0.160,26.5
4,MW737421.1,MW969600.1,100.000,12,0,0,22784,22795,244,233,2.000,22.9
5,MW737421.1,MW969600.1,100.000,12,0,0,19995,20006,412,423,2.000,22.9
6,MW737421.1,MW969600.1,100.000,11,0,0,22777,22787,58,68,6.900,21.1
7,MW737421.1,MW969600.1,100.000,11,0,0,23771,23781,231,221,6.900,21.1
8,MW737421.1,MW969600.1,100.000,11,0,0,22609,22619,226,236,6.900,21.1
9,MW737421.1,MW969600.1,100.000,11,0,0,13657,13667,247,237,6.900,21.1
10,MW737421.1,MW969600.1,100.000,11,0,0,20524,20534,299,309,6.900,21.1
11,MW737421.1,MW969600.1,100.000,11,0,0,22964,22974,473,483,6.900,21.1
12,MW737421.1,MW969600.1,100.000,11,0,0,27702,27712,520,510,6.900,21.1
13,MW737421.1,MW969600.1,100.000,11,0,0,2752,2762,514,524,6.900,21.1
14,MW737421.1,MW969600.1,100.000,11,0,0,10497,10507,526,536,6.900,21.1

In [13]:
sim_score = df['per_ident'].mean()
sim_score

98.60719999999999