In [8]:
import os
import numpy as np
import pandas as pd
import sklearn
from io import StringIO

In [47]:
data_path = "/data/private/pdutta/Collab_data/David_data/Serine_gene_Z_score_per_TCGA_sample.xlsx"

In [51]:
df  = pd.read_excel(data_path)
df['Unnamed: 0'] = df['Unnamed: 0'].str.replace('.','-')
df = df.set_index('Unnamed: 0')
df.index.name = None

/tmp/ipykernel_2155553/3779487040.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Unnamed: 0'] = df['Unnamed: 0'].str.replace('.','-')

In [52]:
df.head()

                    PHGDH     SFXN1    SLC1A5   Z score
TCGA-AG-3726-01  3.326811 -0.021047  2.016050  1.773938
TCGA-AG-3727-01  3.135933 -0.515977  1.599620  1.406525
TCGA-CK-4952-01  2.388606  0.592290  1.103608  1.361501
TCGA-CL-4957-01  2.442352  0.751154  0.889201  1.360902
TCGA-EF-5830-01  3.142027 -0.400663  1.274505  1.338623

/tmp/ipykernel_2155553/2306355096.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Unnamed: 0'] = df['Unnamed: 0'].str.replace('.','-')

In [43]:
df

          Unnamed: 0     PHGDH     SFXN1    SLC1A5   Z score
0    TCGA-AG-3726-01  3.326811 -0.021047  2.016050  1.773938
1    TCGA-AG-3727-01  3.135933 -0.515977  1.599620  1.406525
2    TCGA-CK-4952-01  2.388606  0.592290  1.103608  1.361501
3    TCGA-CL-4957-01  2.442352  0.751154  0.889201  1.360902
4    TCGA-EF-5830-01  3.142027 -0.400663  1.274505  1.338623
..               ...       ...       ...       ...       ...
520  TCGA-AA-A01Q-01 -4.042396 -0.192062 -0.773237 -1.669232
521  TCGA-AG-3732-01 -2.953977 -1.504648 -0.742928 -1.733851
522  TCGA-AG-3725-01 -3.759599 -1.165187 -0.406955 -1.777247
523  TCGA-G4-6320-01 -4.529502 -0.364425 -0.486842 -1.793589
524  TCGA-A6-A56B-01 -4.175233 -0.588596 -0.637401 -1.800410

[525 rows x 5 columns]

In [17]:
s = df['Z score']
val_list_3= s.quantile([.33, .66]).values.tolist()
val_list_2= s.quantile([.5]).values.tolist()

In [19]:
val_list_3

[-0.28318940187381686, 0.28537173582846925]

In [20]:
def group_3(row, val_list):
    if row['ENST00000322723.8'] < val_list[0]:
        return 0
    elif val_list[0] <= row['ENST00000322723.8'] < val_list[1]:
        return 1
    elif val_list[1] <= row['ENST00000322723.8']:
        return 2
def group_2(row, val_list):
    if row['ENST00000322723.8'] < val_list[0]:
        return 0
    else:
        return 1