In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
df  =pd.read_csv("/data/projects/PSB/DNABERT_data/CoreProm/chr1/dev.tsv", sep= "\t")

In [3]:
df.columns

Index(['Sequence', 'Label'], dtype='object')

In [4]:
df

                                                   Sequence  Label
0         GTCCCG TCCCGG CCCGGC CCGGCA CGGCAG GGCAGC GCAG...      0
1         ATCCCG TCCCGG CCCGGC CCGGCA CGGCAG GGCAGC GCAG...      1
2         GTCCCG TCCCGG CCCGGC CCGGCA CGGCAG GGCAGC GCAG...      0
3         CTCCCG TCCCGG CCCGGC CCGGCA CGGCAG GGCAGC GCAG...      0
4         GTCCCG TCCCGG CCCGGC CCGGCA CGGCAG GGCAGC GCAG...      1
...                                                     ...    ...
17155555  ATAAGA TAAGAA AAGAAA AGAAAG GAAAGA AAAGAC AAGA...      0
17155556  ATAAGA TAAGAA AAGAAA AGAAAG GAAAGA AAAGAC AAGA...      1
17155557  ATAAGA TAAGAA AAGAAA AGAAAG GAAAGA AAAGAC AAGA...      1
17155558  ATAAGA TAAGAA AAGAAA AGAAAG GAAAGA AAAGAC AAGA...      0
17155559  ATAAGA TAAGAA AAGAAA AGAAAG GAAAGA AAAGAC AAGA...      1

[17155560 rows x 2 columns]

In [5]:
df.groupby(['Label'])['Label'].count()

Label
0    8579603
1    8575957
Name: Label, dtype: int64

In [23]:
df['Sequence'][0]

'ACCTCA CCTCAG CTCAGG TCAGGG CAGGGA AGGGAC GGGACC GGACCG GACCGG ACCGGT CCGGTC CGGTCC GGTCCC GTCCCC TCCCCC CCCCCC CCCCCG CCCCGC CCCGCC CCGCCG CGCCGG GCCGGA CCGGAA CGGAAC GGAACT GAACTG AACTGC ACTGCT CTGCTT TGCTTC GCTTCC CTTCCT TTCCTA TCCTAC CCTACC CTACCT TACCTG ACCTGG CCTGGT CTGGTC TGGTCC GGTCCG GTCCGG TCCGGT CCGGTC CGGTCC GGTCCC GTCCCG TCCCGG CCCGGC CCGGCA CGGCAG GGCAGC GCAGCT CAGCTG AGCTGA GCTGAA CTGAAT TGAATC GAATCT AATCTG ATCTGG TCTGGC CTGGCC TGGCCA GGCCAG GCCAGC CCAGCC CAGCCC AGCCCA GCCCAA CCCAAC CCAACC CAACCT'

In [24]:
df['Sequence'][1]

'ACCGCA CCGCAG CGCAGG GCAGGG CAGGGA AGGGAC GGGACC GGACCG GACCGG ACCGGT CCGGTC CGGTCC GGTCCC GTCCCC TCCCCC CCCCCC CCCCCG CCCCGC CCCGCC CCGCCG CGCCGG GCCGGA CCGGAA CGGAAC GGAACT GAACTG AACTGC ACTGCT CTGCTT TGCTTC GCTTCC CTTCCT TTCCTA TCCTAC CCTACC CTACCT TACCTG ACCTGG CCTGGT CTGGTC TGGTCC GGTCCG GTCCGG TCCGGT CCGGTC CGGTCC GGTCCC GTCCCG TCCCGG CCCGGC CCGGCA CGGCAG GGCAGC GCAGCT CAGCTG AGCTGA GCTGAA CTGAAT TGAATC GAATCT AATCTG ATCTGG TCTGGC CTGGCC TGGCCA GGCCAG GCCAGC CCAGCC CAGCCC AGCCCA GCCCAA CCCAAC CCAACC CAACCT'

In [31]:
df = df[df['Label']!='Label']
df['Label'] = df['Label'].astype(int)
df

/tmp/ipykernel_2717359/2050585531.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Label'] = df['Label'].astype(int)

                                                  Sequence  Label
0        ACCTCA CCTCAG CTCAGG TCAGGG CAGGGA AGGGAC GGGA...      1
1        ACCGCA CCGCAG CGCAGG GCAGGG CAGGGA AGGGAC GGGA...      1
2        ACCTCA CCTCAG CTCAGG TCAGGG CAGGGA AGGGAC GGGA...      1
3        ACCTTA CCTTAG CTTAGG TTAGGG TAGGGA AGGGAC GGGA...      0
4        ACCTCA CCTCAG CTCAGG TCAGGG CAGGGA AGGGAC GGGA...      0
...                                                    ...    ...
5000004  CCAGTC CAGTCA AGTCAC GTCACC TCACCT CACCTC ACCT...      1
5000005  CCAGTC CAGTCA AGTCAC GTCACC TCACCT CACCTC ACCT...      1
5000006  CCAGTC CAGTCA AGTCAC GTCACC TCACCT CACCTC ACCT...      1
5000007  CCAGTC CAGTCA AGTCAC GTCACC TCACCT CACCTC ACCT...      1
5000008  CCAGTC CAGTCA AGTCAC GTCACC TCACCT CACCTC ACCT...      0

[5000000 rows x 2 columns]

In [32]:
df.groupby(['Label'])['Label'].count()

Label
0    2501173
1    2498827
Name: Label, dtype: int64