In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/data/projects/Tissue_specific_data/TissueEnhanced/DNABERT_Finetuned_Data/brain/1_1/dev.tsv', sep='\t')
df

                                              Sequence  Label
0    ATGACT TGACTT GACTTC ACTTCC CTTCCT TTCCTA TCCT...      0
1    GCCTCC CCTCCC CTCCCG TCCCGG CCCGGC CCGGCC CGGC...      1
2    AAGACG AGACGC GACGCC ACGCCG CGCCGA GCCGAA CCGA...      1
3    CCCACC CCACCT CACCTC ACCTCC CCTCCC CTCCCA TCCC...      1
4    GGGTAG GGTAGA GTAGAA TAGAAG AGAAGA GAAGAA AAGA...      1
..                                                 ...    ...
354  GCAGGC CAGGCA AGGCAC GGCACT GCACTT CACTTC ACTT...      1
355  TGCAGG GCAGGT CAGGTA AGGTAA GGTAAA GTAAAG TAAA...      0
356  ATCCTT TCCTTT CCTTTT CTTTTC TTTTCA TTTCAT TTCA...      1
357  GTTACT TTACTC TACTCA ACTCAA CTCAAA TCAAAG CAAA...      0
358  AATAAC ATAACA TAACAA AACAAA ACAAAT CAAATT AAAT...      0

[359 rows x 2 columns]

In [3]:
len(df['Sequence'][1].split(' '))

2495

In [20]:
len(df['Sequence'][1].split(' '))

2495

In [4]:
# Function to split sequences into chunks of a specified size
def split_sequence(row, chunk_size=512):
    kmers = row['Sequence'].split()
    n = len(kmers)
    
    chunks = [' '.join(kmers[i:i+chunk_size]) for i in range(0, n, chunk_size)]
    return chunks

In [5]:
# Apply the split_sequence function to the dataframe
split_data = []
for _, row in df.iterrows():
    chunks = split_sequence(row)
    for chunk in chunks:
        split_data.append({'Sequence': chunk, 'Label': row['Label']})

In [6]:
# Convert the list of dictionaries into a dataframe
new_df = pd.DataFrame(split_data)

In [7]:
new_df

                                               Sequence  Label
0     ATGACT TGACTT GACTTC ACTTCC CTTCCT TTCCTA TCCT...      0
1     CCCCAG CCCAGA CCAGAC CAGACG AGACGC GACGCC ACGC...      0
2     GGGCCG GGCCGA GCCGAG CCGAGG CGAGGG GAGGGC AGGG...      0
3     GTATGA TATGAT ATGATC TGATCA GATCAG ATCAGA TCAG...      0
4     TGAAGC GAAGCC AAGCCC AGCCCA GCCCAG CCCAGA CCAG...      0
...                                                 ...    ...
1790  AATAAC ATAACA TAACAA AACAAA ACAAAT CAAATT AAAT...      0
1791  CTCTGG TCTGGC CTGGCA TGGCAA GGCAAC GCAACT CAAC...      0
1792  CGCGAG GCGAGT CGAGTG GAGTGG AGTGGG GTGGGG TGGG...      0
1793  CTATCG TATCGT ATCGTA TCGTAA CGTAAA GTAAAC TAAA...      0
1794  CAACTT AACTTC ACTTCT CTTCTG TTCTGT TCTGTA CTGT...      0

[1795 rows x 2 columns]

In [8]:
new_df.to_csv("/data/projects/Tissue_specific_data/TissueEnhanced/DNABERT_Finetuned_Data/brain/1_1/Visualization/dev.tsv", sep="\t", index=False)