In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('/data/projects/Tissue_specific_data/TissueEnhanced/DNABERT_Finetuned_Data/brain/1_1/dev.tsv', sep='\t')
df

                                              Sequence  Label
0    ATGACT TGACTT GACTTC ACTTCC CTTCCT TTCCTA TCCT...      0
1    GCCTCC CCTCCC CTCCCG TCCCGG CCCGGC CCGGCC CGGC...      1
2    AAGACG AGACGC GACGCC ACGCCG CGCCGA GCCGAA CCGA...      1
3    CCCACC CCACCT CACCTC ACCTCC CCTCCC CTCCCA TCCC...      1
4    GGGTAG GGTAGA GTAGAA TAGAAG AGAAGA GAAGAA AAGA...      1
..                                                 ...    ...
354  GCAGGC CAGGCA AGGCAC GGCACT GCACTT CACTTC ACTT...      1
355  TGCAGG GCAGGT CAGGTA AGGTAA GGTAAA GTAAAG TAAA...      0
356  ATCCTT TCCTTT CCTTTT CTTTTC TTTTCA TTTCAT TTCA...      1
357  GTTACT TTACTC TACTCA ACTCAA CTCAAA TCAAAG CAAA...      0
358  AATAAC ATAACA TAACAA AACAAA ACAAAT CAAATT AAAT...      0

[359 rows x 2 columns]

In [19]:
len(df['Sequence'][1].split(' '))

2495

In [20]:
len(df['Sequence'][1].split(' '))

2495

In [30]:
# Function to split sequences into chunks of a specified size
def split_sequence(row, chunk_size=20):
    kmers = row['Sequence'].split()
    n = len(kmers)
    
    chunks = [' '.join(kmers[i:i+chunk_size]) for i in range(0, n, chunk_size)]
    return chunks

In [31]:
# Apply the split_sequence function to the dataframe
split_data = []
for _, row in df.iterrows():
    chunks = split_sequence(row)
    for chunk in chunks:
        split_data.append({'Sequence': chunk, 'Label': row['Label']})

In [32]:
# Convert the list of dictionaries into a dataframe
new_df = pd.DataFrame(split_data)

In [33]:
new_df

                                                Sequence  Label
0      ATGACT TGACTT GACTTC ACTTCC CTTCCT TTCCTA TCCT...      0
1      AACCCC ACCCCA CCCCAA CCCAAG CCAAGG CAAGGG AAGG...      0
2      CACAAA ACAAAA CAAAAC AAAACC AAACCT AACCTC ACCT...      0
3      CCCCAG CCCAGT CCAGTC CAGTCT AGTCTC GTCTCC TCTC...      0
4      TTAGAT TAGATG AGATGA GATGAG ATGAGG TGAGGA GAGG...      0
...                                                  ...    ...
44870  TTTTGC TTTGCA TTGCAC TGCACC GCACCC CACCCT ACCC...      0
44871  AGTGGT GTGGTA TGGTAT GGTATT GTATTG TATTGG ATTG...      0
44872  TTGTGT TGTGTC GTGTCT TGTCTT GTCTTT TCTTTG CTTT...      0
44873  AAAGAG AAGAGA AGAGAC GAGACC AGACCT GACCTA ACCT...      0
44874  CTCATT TCATTC CATTCC ATTCCA TTCCAC TCCACC CCAC...      0

[44875 rows x 2 columns]

In [34]:
new_df.to_csv("/data/projects/Tissue_specific_data/TissueEnhanced/DNABERT_Finetuned_Data/brain/1_1/Visualization/dev.tsv", sep="\t", index=False)