In [ ]:
import os, glob
import pandas as pd
from io import StringIO
import pyBigWig
import subprocess
import pybedtools 
pybedtools.helpers.set_tempdir('//data/private/pdutta/PSB_Data')

In [2]:
transcript_file_path = "/data/private/pdutta/PSB_Data/all_tc_input.csv"

In [3]:
df_transcript = pd.read_csv(transcript_file_path, sep=",")
df_transcript['chromosome_name'] = 'chr' + df_transcript['chromosome_name'].astype(str)
df_transcript

,Unnamed: 0,transcription_start_site,chromosome_name,transcript_start,transcript_end,strand,ensembl_gene_id,ensembl_transcript_id
0,7,22441458,chrY,22439593,22441458,-1,ENSG00000131538,ENST00000253838
1,8,6390431,chrY,6390431,6411564,1,ENSG00000129816,ENST00000250776
2,9,9774289,chrY,9753156,9774289,-1,ENSG00000129845,ENST00000250805
3,10,22144966,chrY,22144966,22146831,1,ENSG00000131548,ENST00000253848
4,11,11981507,chr18,11981507,12030877,1,ENSG00000141401,ENST00000269159
...,...,...,...,...,...,...,...,...
252697,274574,181732566,chr1,181732566,181767884,1,ENSG00000198216,ENST00000700189
252698,274575,181793668,chr1,181793668,181813262,1,ENSG00000198216,ENST00000700190
252699,274576,182329213,chr1,182278254,182329213,-1,ENSG00000228918,ENST00000702781
252700,274577,84621034,chr1,84614068,84621034,-1,ENSG00000289881,ENST00000701339
252701,274578,84621061,chr1,84614070,84621061,-1,ENSG00000289881,ENST00000701824

In [4]:
df_transcript[df_transcript['ensembl_transcript_id']=='ENST00000003583']

,Unnamed: 0,transcription_start_site,chromosome_name,transcript_start,transcript_end,strand,ensembl_gene_id,ensembl_transcript_id
3578,3593,24413725,chr1,24357005,24413725,-1,ENSG00000001460,ENST00000003583

## For acceptor region

In [5]:
df_acceptor = pd.read_csv("/data/private/pdutta/DNABERT_data/Splice_sites/Acceptor_raw_files/Acceptor_RAW_Combined.tsv", sep="\t")

In [6]:
df_acceptor

,Unnamed: 0,transcript_id,exon_id,transcript_type,strand,coordinates,sequence,chr_name,acceptor_40BP
0,0,ENST00000003583.12,ENSE00003692979.1,protein_coding,-,24401457,TCAACAGTGACTTCTTACGCAGTTCCTACTGCAGGCAGCACCAGCA...,chr1,GTGAAATGATCTCTACAAATGCTGTGTTTTGCTGTTTCAGGTGCTT...
1,1,ENST00000003583.12,ENSE00003638911.1,protein_coding,-,24384004,TTCCAGCCCCACCACTTGGTAACTGAGACGAAGATCGGGCAAGTCA...,chr1,TTGAAGTATCTCGATGACACCACCTTCTCTTCCCTTTCAGAATGAT...
2,2,ENST00000003583.12,ENSE00003688858.1,protein_coding,-,24379824,AAGCGAGTACAGGTCTGAACTTGCGTTTTCCAAGGGAAGATCCTCA...,chr1,TTATGTGACAATGCTGATTCCTTTGGTTGTCTCCTTACAGTGCGCC...
3,3,ENST00000003583.12,ENSE00003631141.1,protein_coding,-,24373811,AAACTCATAGACCACTTGAGCTGGGATGACAGGGAAGCCACAGCCA...,chr1,GAAAGGTACTGAGTACATTGGGTGTATTTTCTCCCCCTAGGCCTCT...
4,4,ENST00000003583.12,ENSE00003516207.1,protein_coding,-,24369840,AGCTAAGTGTGTGCTTCCCGTGCCATCTGTTCTCTGCATGGTGAGG...,chr1,AAGAGTTCCTTATTCTGTCCTAAAATTTCTTTCTCCTTAGGGCATT...
...,...,...,...,...,...,...,...,...,...
1255761,1261995,ENST00000684226.1,ENSE00003767626.1,non_stop_decay,-,13297849,AATGTCTCGCATATTGTGACTGCTCTTTACGTTAGGTTTTTTTTTA...,chrY,ACTTTGGGTTACTTTATGACTGTTGCTTTTTTCCTTCTAGCCTGCC...
1255762,1261996,ENST00000684226.1,ENSE00003761778.1,non_stop_decay,-,13260405,GTCAAATGTCAGTTATTCTCAACTTTAAATATTTTAATATTGTCAT...,chrY,TTCAGTAGTTACTCTCACAAATAGTTTTTTCCCACAATAGGTATTG...
1255763,1261997,ENST00000684226.1,ENSE00001713248.1,non_stop_decay,-,13251188,TTTCTCTGGGTGTGCTACAAAACAAAACCTAGTGTCTCAAACTCAC...,chrY,ACTGTCCAATACTTTTTGTTTATTTATTTATTTAATATAGGTGGAG...
1255764,1261998,ENST00000684226.1,ENSE00003917271.1,non_stop_decay,-,13234827,AGCTTGCACTGACCTGCAGGTGTTCCTTGATATATACATCCTGGGT...,chrY,TCCTGCAAACCCCAATGTGAACTTGTGGTGCCTTTTCCAGGCCTCC...
1255765,1261999,ENST00000684326.1,ENSE00003920852.1,processed_transcript,-,13234827,AGCTTGCACTGACCTGCAGGTGTTCCTTGATATATACATCCTGGGT...,chrY,TCCTGCAAACCCCAATGTGAACTTGTGGTGCCTTTTCCAGGCCTCC...

In [7]:
df_acceptor['start'] = df_acceptor['coordinates']-40
df_acceptor['end'] = df_acceptor['coordinates']+39

In [8]:
df_acceptor

,Unnamed: 0,transcript_id,exon_id,transcript_type,strand,coordinates,sequence,chr_name,acceptor_40BP,start,end
0,0,ENST00000003583.12,ENSE00003692979.1,protein_coding,-,24401457,TCAACAGTGACTTCTTACGCAGTTCCTACTGCAGGCAGCACCAGCA...,chr1,GTGAAATGATCTCTACAAATGCTGTGTTTTGCTGTTTCAGGTGCTT...,24401417,24401496
1,1,ENST00000003583.12,ENSE00003638911.1,protein_coding,-,24384004,TTCCAGCCCCACCACTTGGTAACTGAGACGAAGATCGGGCAAGTCA...,chr1,TTGAAGTATCTCGATGACACCACCTTCTCTTCCCTTTCAGAATGAT...,24383964,24384043
2,2,ENST00000003583.12,ENSE00003688858.1,protein_coding,-,24379824,AAGCGAGTACAGGTCTGAACTTGCGTTTTCCAAGGGAAGATCCTCA...,chr1,TTATGTGACAATGCTGATTCCTTTGGTTGTCTCCTTACAGTGCGCC...,24379784,24379863
3,3,ENST00000003583.12,ENSE00003631141.1,protein_coding,-,24373811,AAACTCATAGACCACTTGAGCTGGGATGACAGGGAAGCCACAGCCA...,chr1,GAAAGGTACTGAGTACATTGGGTGTATTTTCTCCCCCTAGGCCTCT...,24373771,24373850
4,4,ENST00000003583.12,ENSE00003516207.1,protein_coding,-,24369840,AGCTAAGTGTGTGCTTCCCGTGCCATCTGTTCTCTGCATGGTGAGG...,chr1,AAGAGTTCCTTATTCTGTCCTAAAATTTCTTTCTCCTTAGGGCATT...,24369800,24369879
...,...,...,...,...,...,...,...,...,...,...,...
1255761,1261995,ENST00000684226.1,ENSE00003767626.1,non_stop_decay,-,13297849,AATGTCTCGCATATTGTGACTGCTCTTTACGTTAGGTTTTTTTTTA...,chrY,ACTTTGGGTTACTTTATGACTGTTGCTTTTTTCCTTCTAGCCTGCC...,13297809,13297888
1255762,1261996,ENST00000684226.1,ENSE00003761778.1,non_stop_decay,-,13260405,GTCAAATGTCAGTTATTCTCAACTTTAAATATTTTAATATTGTCAT...,chrY,TTCAGTAGTTACTCTCACAAATAGTTTTTTCCCACAATAGGTATTG...,13260365,13260444
1255763,1261997,ENST00000684226.1,ENSE00001713248.1,non_stop_decay,-,13251188,TTTCTCTGGGTGTGCTACAAAACAAAACCTAGTGTCTCAAACTCAC...,chrY,ACTGTCCAATACTTTTTGTTTATTTATTTATTTAATATAGGTGGAG...,13251148,13251227
1255764,1261998,ENST00000684226.1,ENSE00003917271.1,non_stop_decay,-,13234827,AGCTTGCACTGACCTGCAGGTGTTCCTTGATATATACATCCTGGGT...,chrY,TCCTGCAAACCCCAATGTGAACTTGTGGTGCCTTTTCCAGGCCTCC...,13234787,13234866
1255765,1261999,ENST00000684326.1,ENSE00003920852.1,processed_transcript,-,13234827,AGCTTGCACTGACCTGCAGGTGTTCCTTGATATATACATCCTGGGT...,chrY,TCCTGCAAACCCCAATGTGAACTTGTGGTGCCTTTTCCAGGCCTCC...,13234787,13234866

In [9]:
df_acceptor['acceptor_40BP'].iloc[1]

'TTGAAGTATCTCGATGACACCACCTTCTCTTCCCTTTCAGAATGATATCCCAGGACCTGGGTTCTACAATGTTATTCACC'

In [10]:
df_acceptor[['transcript_id','exon_id','transcript_type','strand','chr_name', 'acceptor_40BP','start','end']].to_csv("/data/private/pdutta/DNABERT_data/Splice_sites/Acceptor_raw_files/Acceptor_80BP_bed.tsv", sep="\t", index= False)

In [11]:
df_acceptor[df_acceptor['coordinates']==22441458]

Empty DataFrame
Columns: [Unnamed: 0, transcript_id, exon_id, transcript_type, strand, coordinates, sequence, chr_name, acceptor_40BP, start, end]
Index: []

# Not required

In [29]:
accep_trans_list = list(df_acceptor['transcript_id'].str.split('.', expand=True)[0])
transcript_list = list(df_transcript['ensembl_transcript_id'])

In [30]:
len(transcript_list)

252702

In [31]:
common_list = list(set(accep_trans_list).intersection(set(transcript_list)))

In [32]:
len(common_list)

208682

In [33]:
df_acceptor['transcript_id'] =df_acceptor['transcript_id'].str.split('.', expand=True)[0]

In [34]:
df_acceptor

,Unnamed: 0,transcript_id,exon_id,transcript_type,strand,coordinates,sequence,chr_name,acceptor_40BP,start,end
0,0,ENST00000003583,ENSE00003692979.1,protein_coding,-,24401457,TCAACAGTGACTTCTTACGCAGTTCCTACTGCAGGCAGCACCAGCA...,chr1,GTGAAATGATCTCTACAAATGCTGTGTTTTGCTGTTTCAGGTGCTT...,24401417,24401496
1,1,ENST00000003583,ENSE00003638911.1,protein_coding,-,24384004,TTCCAGCCCCACCACTTGGTAACTGAGACGAAGATCGGGCAAGTCA...,chr1,TTGAAGTATCTCGATGACACCACCTTCTCTTCCCTTTCAGAATGAT...,24383964,24384043
2,2,ENST00000003583,ENSE00003688858.1,protein_coding,-,24379824,AAGCGAGTACAGGTCTGAACTTGCGTTTTCCAAGGGAAGATCCTCA...,chr1,TTATGTGACAATGCTGATTCCTTTGGTTGTCTCCTTACAGTGCGCC...,24379784,24379863
3,3,ENST00000003583,ENSE00003631141.1,protein_coding,-,24373811,AAACTCATAGACCACTTGAGCTGGGATGACAGGGAAGCCACAGCCA...,chr1,GAAAGGTACTGAGTACATTGGGTGTATTTTCTCCCCCTAGGCCTCT...,24373771,24373850
4,4,ENST00000003583,ENSE00003516207.1,protein_coding,-,24369840,AGCTAAGTGTGTGCTTCCCGTGCCATCTGTTCTCTGCATGGTGAGG...,chr1,AAGAGTTCCTTATTCTGTCCTAAAATTTCTTTCTCCTTAGGGCATT...,24369800,24369879
...,...,...,...,...,...,...,...,...,...,...,...
1255761,1261995,ENST00000684226,ENSE00003767626.1,non_stop_decay,-,13297849,AATGTCTCGCATATTGTGACTGCTCTTTACGTTAGGTTTTTTTTTA...,chrY,ACTTTGGGTTACTTTATGACTGTTGCTTTTTTCCTTCTAGCCTGCC...,13297809,13297888
1255762,1261996,ENST00000684226,ENSE00003761778.1,non_stop_decay,-,13260405,GTCAAATGTCAGTTATTCTCAACTTTAAATATTTTAATATTGTCAT...,chrY,TTCAGTAGTTACTCTCACAAATAGTTTTTTCCCACAATAGGTATTG...,13260365,13260444
1255763,1261997,ENST00000684226,ENSE00001713248.1,non_stop_decay,-,13251188,TTTCTCTGGGTGTGCTACAAAACAAAACCTAGTGTCTCAAACTCAC...,chrY,ACTGTCCAATACTTTTTGTTTATTTATTTATTTAATATAGGTGGAG...,13251148,13251227
1255764,1261998,ENST00000684226,ENSE00003917271.1,non_stop_decay,-,13234827,AGCTTGCACTGACCTGCAGGTGTTCCTTGATATATACATCCTGGGT...,chrY,TCCTGCAAACCCCAATGTGAACTTGTGGTGCCTTTTCCAGGCCTCC...,13234787,13234866
1255765,1261999,ENST00000684326,ENSE00003920852.1,processed_transcript,-,13234827,AGCTTGCACTGACCTGCAGGTGTTCCTTGATATATACATCCTGGGT...,chrY,TCCTGCAAACCCCAATGTGAACTTGTGGTGCCTTTTCCAGGCCTCC...,13234787,13234866

In [35]:
df_new = df_acceptor[df_acceptor['transcript_id'].isin(common_list)][['transcript_id','exon_id','chr_name','strand','acceptor_40BP','start','end']]

In [36]:
df_new

,transcript_id,exon_id,chr_name,strand,acceptor_40BP,start,end
0,ENST00000003583,ENSE00003692979.1,chr1,-,GTGAAATGATCTCTACAAATGCTGTGTTTTGCTGTTTCAGGTGCTT...,24401417,24401496
1,ENST00000003583,ENSE00003638911.1,chr1,-,TTGAAGTATCTCGATGACACCACCTTCTCTTCCCTTTCAGAATGAT...,24383964,24384043
2,ENST00000003583,ENSE00003688858.1,chr1,-,TTATGTGACAATGCTGATTCCTTTGGTTGTCTCCTTACAGTGCGCC...,24379784,24379863
3,ENST00000003583,ENSE00003631141.1,chr1,-,GAAAGGTACTGAGTACATTGGGTGTATTTTCTCCCCCTAGGCCTCT...,24373771,24373850
4,ENST00000003583,ENSE00003516207.1,chr1,-,AAGAGTTCCTTATTCTGTCCTAAAATTTCTTTCTCCTTAGGGCATT...,24369800,24369879
...,...,...,...,...,...,...,...
1255761,ENST00000684226,ENSE00003767626.1,chrY,-,ACTTTGGGTTACTTTATGACTGTTGCTTTTTTCCTTCTAGCCTGCC...,13297809,13297888
1255762,ENST00000684226,ENSE00003761778.1,chrY,-,TTCAGTAGTTACTCTCACAAATAGTTTTTTCCCACAATAGGTATTG...,13260365,13260444
1255763,ENST00000684226,ENSE00001713248.1,chrY,-,ACTGTCCAATACTTTTTGTTTATTTATTTATTTAATATAGGTGGAG...,13251148,13251227
1255764,ENST00000684226,ENSE00003917271.1,chrY,-,TCCTGCAAACCCCAATGTGAACTTGTGGTGCCTTTTCCAGGCCTCC...,13234787,13234866
1255765,ENST00000684326,ENSE00003920852.1,chrY,-,TCCTGCAAACCCCAATGTGAACTTGTGGTGCCTTTTCCAGGCCTCC...,13234787,13234866

In [ ]:
24357005	24413725

In [39]:
df_new[df_new['transcript_id']=='ENST00000003583']

,transcript_id,exon_id,chr_name,strand,acceptor_40BP,start,end
0,ENST00000003583,ENSE00003692979.1,chr1,-,GTGAAATGATCTCTACAAATGCTGTGTTTTGCTGTTTCAGGTGCTT...,24401417,24401496
1,ENST00000003583,ENSE00003638911.1,chr1,-,TTGAAGTATCTCGATGACACCACCTTCTCTTCCCTTTCAGAATGAT...,24383964,24384043
2,ENST00000003583,ENSE00003688858.1,chr1,-,TTATGTGACAATGCTGATTCCTTTGGTTGTCTCCTTACAGTGCGCC...,24379784,24379863
3,ENST00000003583,ENSE00003631141.1,chr1,-,GAAAGGTACTGAGTACATTGGGTGTATTTTCTCCCCCTAGGCCTCT...,24373771,24373850
4,ENST00000003583,ENSE00003516207.1,chr1,-,AAGAGTTCCTTATTCTGTCCTAAAATTTCTTTCTCCTTAGGGCATT...,24369800,24369879
5,ENST00000003583,ENSE00003539806.1,chr1,-,ACTGCCTTAGTGACATCTTCCCGTTTTATCTTTCCCAAAGGAAAAA...,24361002,24361081
6,ENST00000003583,ENSE00003692602.1,chr1,-,TTTTCTCTCTTAATGCCTCCGCCTCTCTGTCCCCTCACAGCTACGT...,24358580,24358659

In [ ]:
# Till this

In [13]:
str_io_acceptor = StringIO()
df_acceptor[['chr_name','start','end','transcript_id','strand']].to_csv(str_io_acceptor, sep='\t', index=False, header=False)
str_io_acceptor.seek(0)
acceptor_bed = pybedtools.BedTool(str_io_acceptor.read(), from_string=True)

In [14]:
str_io_transcript = StringIO()
df_transcript[['chromosome_name','transcript_start','transcript_end','ensembl_transcript_id','strand']].to_csv(str_io_transcript, sep='\t', index=False, header=False)
str_io_transcript.seek(0)
transcript_bed = pybedtools.BedTool(str_io_transcript.read(), from_string=True)

In [15]:
# intersect the files
intersect_bed = acceptor_bed.intersect(transcript_bed, wa=True, wb=True)

In [16]:
for i, interval in enumerate(intersect_bed):
    if i < 5:
        print(interval)
    else:
        break

chr1	24401417	24401496	ENST00000003583.12	-	chr1	24401079	24410779	ENST00000475760	-1

chr1	24401417	24401496	ENST00000003583.12	-	chr1	24391562	24412027	ENST00000483528	-1

chr1	24401417	24401496	ENST00000003583.12	-	chr1	24391258	24416153	ENST00000498488	-1

chr1	24401417	24401496	ENST00000003583.12	-	chr1	24357005	24413725	ENST00000003583	-1

chr1	24401417	24401496	ENST00000003583.12	-	chr1	24356999	24413782	ENST00000337248	-1

In [18]:
intersect_df = intersect_bed.to_dataframe()

In [19]:
intersect_df.head()

,chrom,start,end,name,score,strand,thickStart,thickEnd,itemRgb,blockCount
0,chr1,24401417,24401496,ENST00000003583.12,-,chr1,24401079,24410779,ENST00000475760,-1
1,chr1,24401417,24401496,ENST00000003583.12,-,chr1,24391562,24412027,ENST00000483528,-1
2,chr1,24401417,24401496,ENST00000003583.12,-,chr1,24391258,24416153,ENST00000498488,-1
3,chr1,24401417,24401496,ENST00000003583.12,-,chr1,24357005,24413725,ENST00000003583,-1
4,chr1,24401417,24401496,ENST00000003583.12,-,chr1,24356999,24413782,ENST00000337248,-1

In [21]:
output_df.head()

,chromosome name,start,end,Acceptor_TranscriptID,strand,Intersect_Type,Ensembl_Transcript_ID
0,chr1,24401417,24401496,ENST00000003583.12,-,Partially,chr1
1,chr1,24401417,24401496,ENST00000003583.12,-,Partially,chr1
2,chr1,24401417,24401496,ENST00000003583.12,-,Partially,chr1
3,chr1,24401417,24401496,ENST00000003583.12,-,Fully,chr1
4,chr1,24401417,24401496,ENST00000003583.12,-,Partially,chr1

In [22]:
intersect_df.to_csv("/data/private/pdutta/DNABERT_data/Splice_sites/Acceptor_raw_files/Acceptor_Transcript_intersect.tsv", sep='\t', index=False)
output_df.to_csv("/data/private/pdutta/DNABERT_data/Splice_sites/Acceptor_raw_files/PART_Acceptor_Transcript_intersect_details.tsv", sep='\t', index=False)

In [50]:
chr_wise_DBSNP_files = glob.glob('/data/projects/VCF_files/DBSNP/ChrWise_Data/*.csv')

In [52]:
for dbsnp_file in chr_wise_DBSNP_files:
    # Read the csv file into a DataFrame
    print(dbsnp_file)
    df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])
    df = df.iloc[1:]
    print(df.head())
    
    # Convert the DataFrame to a BedTool
    dbsnp = pybedtools.BedTool.from_dataframe(df)
    
    # Intersect the BedTool with the transcript file
    intersected = intersect_bed.intersect(dbsnp, wa=True, wb=True)
    
    # Save the intersected BedTool to a bed file
    output_file = "/data/private/pdutta/PSB_Data/Acceptor/Chrwise/intersected_DBSNP_transcript_" + dbsnp_file.split('/')[-1].replace('.csv', '.tsv')
    intersected.saveas(output_file)

/data/projects/VCF_files/DBSNP/ChrWise_Data/chr7_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

      0      1      2             3  4  5   6
1  chr7  10001  10002  rs1583156258  T  1  C,
2  chr7  10002  10003  rs1583156262  A  1  G,
3  chr7  10003  10004  rs1583156265  A  1  C,
4  chr7  10004  10005  rs1583156268  C  1  A,
5  chr7  10006  10007  rs1781584841  C  1  T,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr13_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

       0         1         2             3  4  5   6
1  chr13  16000025  16000026  rs1175737345  T  1  A,
2  chr13  16000063  16000064  rs1957610123  G  1  A,
3  chr13  16000079  16000080  rs1957610132  G  1  T,
4  chr13  16000081  16000082  rs1957610136  A  1  C,
5  chr13  16000100  16000101  rs1957610144  T  1  C,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chrY_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

      0      1      2             3  4  5     6
1  chrY  10001  10002  rs1226858834  T  1    A,
2  chrY  10002  10003   rs375039031  A  2  C,G,
3  chrY  10006  10007  rs1422184628  C  1    G,
4  chrY  10007  10008  rs1179917603  T  1    G,
5  chrY  10008  10009   rs565284081  A  2  C,G,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chrX_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

      0      1      2             3  4  5     6
1  chrX  10001  10002  rs1226858834  T  1    A,
2  chrX  10002  10003   rs375039031  A  2  C,G,
3  chrX  10006  10007  rs1422184628  C  1    G,
4  chrX  10007  10008  rs1179917603  T  1    G,
5  chrX  10008  10009   rs565284081  A  2  C,G,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr15_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

       0         1         2             3  4  5     6
1  chr15  17000014  17000015  rs1566750235  A  1   AA,
2  chr15  17000025  17000026  rs2044609058  T  1    G,
3  chr15  17000028  17000029  rs1464642334  G  1    T,
4  chr15  17000037  17000038  rs1427739243  T  2  A,C,
5  chr15  17000048  17000049  rs2044609081  T  1    C,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr6_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

      0      1      2             3  4  5   6
1  chr6  61733  61734  rs1761792635  C  1  T,
2  chr6  61734  61735  rs1357314184  T  1  A,
3  chr6  61753  61754  rs1761792694  G  1  A,
4  chr6  61754  61755  rs1269839351  G  1  T,
5  chr6  61761  61762  rs1761792734  T  1  A,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr19_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

       0      1      2             3  4  5   6
1  chr19  60061  60062  rs1555674440  G  1  C,
2  chr19  60172  60173  rs1371922052  G  1  A,
3  chr19  60222  60223  rs1187548881  A  1  G,
4  chr19  60250  60251  rs1310995734  G  1  A,
5  chr19  60318  60319  rs1244952011  C  1  T,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr1_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

      0      1      2             3  4  5       6
1  chr1  10000  10001  rs1570391677  T  2    A,C,
2  chr1  10001  10002  rs1570391692  A  1      C,
3  chr1  10002  10003  rs1570391694  A  1      C,
4  chr1  10006  10007  rs1639538116  T  2    C,G,
5  chr1  10007  10008  rs1570391698  A  3  C,G,T,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr5_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

      0      1      2             3  4  5     6
1  chr5  10017  10018  rs1658455299  C  1    A,
2  chr5  10020  10021  rs1742866267  A  1    G,
3  chr5  10021  10022  rs1742866288  C  1    A,
4  chr5  10022  10023  rs1742866315  C  2  A,G,
5  chr5  10023  10024  rs1742866334  C  1    A,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr12_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

       0      1      2             3  4  5   6
1  chr12  10009  10010  rs1591589648  A  1  G,
2  chr12  10015  10016  rs1862308353  A  1  G,
3  chr12  10016  10017  rs1591589651  C  1  A,
4  chr12  10019  10020  rs1591589652  T  1  G,
5  chr12  10020  10021  rs1591589654  A  1  C,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr10_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

       0      1      2             3  4  5     6
1  chr10  10022  10023  rs1243990134  C  1    A,
2  chr10  10030  10031  rs1834135687  C  2  A,G,
3  chr10  10033  10034  rs1834135707  A  1    G,
4  chr10  10035  10036  rs1834135720  C  2  A,T,
5  chr10  10040  10041  rs1834135754  C  1    A,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr9_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

      0      1      2             3  4  5     6
1  chr9  10006  10007  rs1449034754  T  1    C,
2  chr9  10006  10007  rs1815666481  T  1     ,
3  chr9  10008  10009  rs1587255763  A  2  C,G,
4  chr9  10012  10013  rs1265381183  T  2  C,G,
5  chr9  10013  10014  rs1587255772  A  1    C,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chrM_data.csv
      0   1   2             3  4  5   6
1  chrM   9  10   rs879233578  T  1  C,
2  chrM  15  16  rs1556422363  A  1  T,
3  chrM  25  26   rs879071945  C  1  T,
4  chrM  40  41   rs879100564  C  1  T,
5  chrM  41  42  rs1603218266  T  1  C,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr8_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

      0      1      2             3  4  5   6
1  chr8  60008  60009  rs1584847528  G  1  T,
2  chr8  60021  60022  rs1800303754  A  1  C,
3  chr8  60023  60024  rs1584847530  A  1  C,
4  chr8  60024  60025  rs1584847532  C  1  A,
5  chr8  60048  60049  rs1800303798  A  1  G,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr21_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

       0        1        2             3  4  5   6
1  chr21  5025531  5025532  rs1879593094  G  1  C,
2  chr21  5030087  5030088  rs1455320509  C  1  T,
3  chr21  5030104  5030105  rs1173141359  C  1  A,
4  chr21  5030150  5030151  rs1601770018  T  1  G,
5  chr21  5030153  5030154  rs1461284410  T  1  C,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr20_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

       0      1      2             3  4  5   6
1  chr20  60001  60002   rs555848207  G  1  C,
2  chr20  60008  60009  rs1600128456  C  1  A,
3  chr20  60009  60010  rs1340966003  G  1  A,
4  chr20  60017  60018  rs2054408755  A  1  C,
5  chr20  60021  60022  rs1178632636  G  1  A,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr11_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

       0      1      2             3  4  5   6
1  chr11  60849  60850  rs1590036156  C  1  T,
2  chr11  60993  60994  rs1452162522  T  1  C,
3  chr11  61117  61118   rs867959887  A  1  C,
4  chr11  61118  61119  rs1187622598  A  1  G,
5  chr11  61154  61155   rs899119276  A  1  G,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr22_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

       0         1         2             3  4  5   6
1  chr22  10510050  10510051  rs2061858963  T  1  C,
2  chr22  10510054  10510055  rs2061858972  A  1  G,
3  chr22  10510076  10510077  rs1290354662  C  1  A,
4  chr22  10510090  10510091  rs2061858975  T  1  A,
5  chr22  10510104  10510105  rs1325858619  T  1  A,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr18_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

       0      1      2             3  4  5     6
1  chr18  10001  10002  rs1600555225  C  1    T,
2  chr18  10002  10003  rs1905036575  C  1    T,
3  chr18  10003  10004  rs1600555228  T  1    C,
4  chr18  10004  10005   rs111219353  A  2  C,T,
5  chr18  10005  10006  rs1600555234  A  2  C,G,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr14_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

       0         1         2             3          4  5    6
1  chr14  16022653  16022654  rs2089043555          T  1   C,
2  chr14  16022660  16022661  rs1391007058          C  1   T,
3  chr14  16022660  16022663  rs1273995405        CCC  1  CC,
4  chr14  16022662  16022671  rs2089043582  CGTGTGTGT  1    ,
5  chr14  16022663  16022664  rs2089043587          G  1   A,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr16_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

       0      1      2             3  4  5     6
1  chr16  10000  10001  rs1896969576  T  1    C,
2  chr16  10001  10002  rs1596443048  A  1    T,
3  chr16  10003  10004  rs1596443052  C  1    A,
4  chr16  10005  10006  rs1167029723  C  1    G,
5  chr16  10006  10007  rs1416464287  T  2  A,C,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr4_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

      0      1      2             3    4  5      6
1  chr4  10000  10001  rs1581341342    A  1     C,
2  chr4  10001  10001  rs1560073237  NaN  1     G,
3  chr4  10001  10002  rs1581341346    C  1     A,
4  chr4  10001  10004  rs1560073246  CCC  1  CCCC,
5  chr4  10003  10004  rs1581341351    C  1     T,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr3_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

      0      1      2             3   4  5       6
1  chr3  10008  10009  rs1339898020   A  3  C,G,T,
2  chr3  10009  10010  rs1695495101   A  1      C,
3  chr3  10010  10011  rs1695495136   C  1      A,
4  chr3  10014  10015  rs1206436362   A  1      C,
5  chr3  10014  10016  rs1695495167  AA  1    AAA,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr17_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

       0      1      2             3  4  5   6
1  chr17  60054  60055  rs2039333033  G  1  A,
2  chr17  60086  60087  rs2039333047  C  1  T,
3  chr17  60102  60103  rs1399099657  G  1  A,
4  chr17  60103  60104  rs1363626035  C  1  T,
5  chr17  60149  60150  rs2039333080  C  1  A,
/data/projects/VCF_files/DBSNP/ChrWise_Data/chr2_data.csv

//data/private/pdutta/PSB_Data/ipykernel_1445450/2573811785.py:4: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dbsnp_file, header=None, sep= ',', usecols=[0, 1, 2, 3, 4, 5,6])

      0      1      2             3        4  5         6
1  chr2  10006  10007  rs1572047073        C  1        A,
2  chr2  10015  10015  rs1558169263      NaN  1        G,
3  chr2  10016  10023  rs1558169385  CACCCAC  1      CAC,
4  chr2  10018  10021  rs1558169386      CCC  1       CC,
5  chr2  10019  10019  rs1558169388      NaN  2  ACA,ACG,

In [28]:
for i, interval in enumerate(bigbed_file):
    if i < 5:
        print(interval)
    else:
        break

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xeb in position 0: invalid continuation byte

In [ ]:
intersect_acceptor_DBSNP = acceptor_bed.intersect(transcript_bed, wa=True, wb=True)

In [25]:
# Convert the BigBed file to a Bed file
bed_file_from_bigbed = bigbed_file.to_bed()

AttributeError: 'BedTool' object has no attribute 'to_bed'

In [26]:
bw = pyBigWig.open('/data/projects/VCF_files/DBSNP/dbSnp155.bb')

In [17]:
# output dataframe
output_df = pd.DataFrame(columns=["chromosome name",  "start", "end","Acceptor_TranscriptID", "strand","Intersect_Type", "Ensembl_Transcript_ID"])

for i, interval in enumerate(intersect_bed):
    # extract acceptor and transcript information
    if(i%1000==0):
        print("Number of instance", i+1)
    acceptor_info = interval[:5]
    transcript_info = interval[5:]
    
    # check if it is fully or partially intersected
    intersect_type = "Fully" if acceptor_info[3] >= transcript_info[3] and acceptor_info[4] <= transcript_info[4] else "Partially"
    row_to_add = pd.Series([*acceptor_info, intersect_type, transcript_info[0]], index=output_df.columns)
    output_df = pd.concat([output_df, pd.DataFrame([row_to_add])], ignore_index=True)

Number of instance 1
Number of instance 1001
Number of instance 2001
Number of instance 3001
Number of instance 4001
Number of instance 5001
Number of instance 6001
Number of instance 7001
Number of instance 8001
Number of instance 9001
Number of instance 10001
Number of instance 11001
Number of instance 12001
Number of instance 13001
Number of instance 14001
Number of instance 15001
Number of instance 16001
Number of instance 17001
Number of instance 18001
Number of instance 19001
Number of instance 20001
Number of instance 21001
Number of instance 22001
Number of instance 23001
Number of instance 24001
Number of instance 25001
Number of instance 26001
Number of instance 27001
Number of instance 28001
Number of instance 29001
Number of instance 30001
Number of instance 31001
Number of instance 32001
Number of instance 33001
Number of instance 34001
Number of instance 35001
Number of instance 36001
Number of instance 37001
Number of instance 38001
Number of instance 39001
Number of instance 40001
Number of instance 41001
Number of instance 42001
Number of instance 43001
Number of instance 44001
Number of instance 45001
Number of instance 46001
Number of instance 47001
Number of instance 48001
Number of instance 49001
Number of instance 50001
Number of instance 51001
Number of instance 52001
Number of instance 53001
Number of instance 54001
Number of instance 55001
Number of instance 56001
Number of instance 57001
Number of instance 58001
Number of instance 59001
Number of instance 60001
Number of instance 61001
Number of instance 62001
Number of instance 63001
Number of instance 64001
Number of instance 65001
Number of instance 66001
Number of instance 67001
Number of instance 68001
Number of instance 69001
Number of instance 70001
Number of instance 71001
Number of instance 72001
Number of instance 73001
Number of instance 74001
Number of instance 75001
Number of instance 76001
Number of instance 77001
Number of instance 78001
Number of instance 79001
Number of instance 80001
Number of instance 81001
Number of instance 82001
Number of instance 83001
Number of instance 84001
Number of instance 85001
Number of instance 86001
Number of instance 87001
Number of instance 88001
Number of instance 89001
Number of instance 90001
Number of instance 91001
Number of instance 92001
Number of instance 93001
Number of instance 94001
Number of instance 95001
Number of instance 96001
Number of instance 97001
Number of instance 98001
Number of instance 99001
Number of instance 100001
Number of instance 101001
Number of instance 102001
Number of instance 103001
Number of instance 104001
Number of instance 105001
Number of instance 106001
Number of instance 107001
Number of instance 108001
Number of instance 109001
Number of instance 110001
Number of instance 111001
Number of instance 112001
Number of instance 113001
Number of instance 114001
Number of instance 115001
Number of instance 116001
Number of instance 117001
Number of instance 118001
Number of instance 119001
Number of instance 120001
Number of instance 121001
Number of instance 122001
Number of instance 123001
Number of instance 124001
Number of instance 125001
Number of instance 126001
Number of instance 127001
Number of instance 128001
Number of instance 129001
Number of instance 130001
Number of instance 131001
Number of instance 132001
Number of instance 133001
Number of instance 134001
Number of instance 135001
Number of instance 136001
Number of instance 137001
Number of instance 138001
Number of instance 139001
Number of instance 140001
Number of instance 141001
Number of instance 142001
Number of instance 143001
Number of instance 144001
Number of instance 145001
Number of instance 146001
Number of instance 147001
Number of instance 148001
Number of instance 149001
Number of instance 150001
Number of instance 151001
Number of instance 152001
Number of instance 153001
Number of instance 154001
Number of instance 155001
Number of instance 156001
Number of instance 157001
Number of instance 158001
Number of instance 159001
Number of instance 160001
Number of instance 161001
Number of instance 162001
Number of instance 163001
Number of instance 164001
Number of instance 165001
Number of instance 166001
Number of instance 167001
Number of instance 168001
Number of instance 169001
Number of instance 170001
Number of instance 171001
Number of instance 172001
Number of instance 173001
Number of instance 174001
Number of instance 175001
Number of instance 176001
Number of instance 177001
Number of instance 178001
Number of instance 179001
Number of instance 180001
Number of instance 181001
Number of instance 182001
Number of instance 183001
Number of instance 184001
Number of instance 185001
Number of instance 186001
Number of instance 187001
Number of instance 188001
Number of instance 189001
Number of instance 190001
Number of instance 191001
Number of instance 192001
Number of instance 193001
Number of instance 194001
Number of instance 195001
Number of instance 196001
Number of instance 197001
Number of instance 198001
Number of instance 199001
Number of instance 200001
Number of instance 201001
Number of instance 202001
Number of instance 203001
Number of instance 204001
Number of instance 205001
Number of instance 206001
Number of instance 207001
Number of instance 208001
Number of instance 209001
Number of instance 210001
Number of instance 211001
Number of instance 212001
Number of instance 213001
Number of instance 214001
Number of instance 215001
Number of instance 216001
Number of instance 217001
Number of instance 218001
Number of instance 219001
Number of instance 220001
Number of instance 221001
Number of instance 222001
Number of instance 223001
Number of instance 224001
Number of instance 225001
Number of instance 226001
Number of instance 227001
Number of instance 228001
Number of instance 229001
Number of instance 230001
Number of instance 231001
Number of instance 232001
Number of instance 233001
Number of instance 234001
Number of instance 235001
Number of instance 236001
Number of instance 237001
Number of instance 238001
Number of instance 239001
Number of instance 240001
Number of instance 241001
Number of instance 242001
Number of instance 243001
Number of instance 244001
Number of instance 245001
Number of instance 246001
Number of instance 247001
Number of instance 248001
Number of instance 249001
Number of instance 250001
Number of instance 251001
Number of instance 252001
Number of instance 253001
Number of instance 254001
Number of instance 255001
Number of instance 256001
Number of instance 257001
Number of instance 258001
Number of instance 259001
Number of instance 260001
Number of instance 261001
Number of instance 262001
Number of instance 263001
Number of instance 264001
Number of instance 265001
Number of instance 266001
Number of instance 267001
Number of instance 268001
Number of instance 269001
Number of instance 270001
Number of instance 271001
Number of instance 272001
Number of instance 273001
Number of instance 274001
Number of instance 275001
Number of instance 276001
Number of instance 277001
Number of instance 278001
Number of instance 279001
Number of instance 280001
Number of instance 281001
Number of instance 282001
Number of instance 283001
Number of instance 284001
Number of instance 285001
Number of instance 286001
Number of instance 287001
Number of instance 288001
Number of instance 289001
Number of instance 290001
Number of instance 291001
Number of instance 292001
Number of instance 293001
Number of instance 294001
Number of instance 295001
Number of instance 296001
Number of instance 297001
Number of instance 298001
Number of instance 299001
Number of instance 300001
Number of instance 301001
Number of instance 302001
Number of instance 303001
Number of instance 304001
Number of instance 305001
Number of instance 306001
Number of instance 307001
Number of instance 308001
Number of instance 309001
Number of instance 310001
Number of instance 311001
Number of instance 312001
Number of instance 313001
Number of instance 314001
Number of instance 315001
Number of instance 316001
Number of instance 317001
Number of instance 318001
Number of instance 319001
Number of instance 320001
Number of instance 321001
Number of instance 322001
Number of instance 323001
Number of instance 324001
Number of instance 325001
Number of instance 326001
Number of instance 327001
Number of instance 328001
Number of instance 329001
Number of instance 330001
Number of instance 331001
Number of instance 332001
Number of instance 333001
Number of instance 334001
Number of instance 335001
Number of instance 336001
Number of instance 337001
Number of instance 338001
Number of instance 339001
Number of instance 340001
Number of instance 341001
Number of instance 342001
Number of instance 343001
Number of instance 344001
Number of instance 345001
Number of instance 346001
Number of instance 347001
Number of instance 348001
Number of instance 349001
Number of instance 350001

KeyboardInterrupt:

In [ ]:
ou