In [2]:
import pandas as pd
import gzip
from tqdm import tqdm
import os
import io

In [3]:
file_path = '/home/pdutta/Data/DBSNP/dbSnp155Details.tab.gz'

In [4]:
total_size = os.path.getsize(file_path)
total_size

22428781386

In [5]:
column_names = ['rs_ID', 'freqSourceCount', 'alleleCounts', 'alleleTotals', 'soTermCount', 'soTerms', 'clinVarCount', 'clinVarAccs', 'clinVarSigs', 'submitterCount', 'submitters', 'pubMedIdCount' ,'pubMedIds' ]

In [7]:
df = pd.read_csv(gzip.open(file_path, 'rt'), delimiter='\t', nrows=10,  names=column_names)
df

,rs_ID,freqSourceCount,alleleCounts,alleleTotals,soTermCount,soTerms,clinVarCount,clinVarAccs,clinVarSigs,submitterCount,submitters,pubMedIdCount,pubMedIds
0,rs10,31,"A:97|C:4911,A:640|C:7896|T:0,C:255154|A:9536,A...","5008,8536,264690,2930,558,216,600,56,3708,1675...",1,"1627,",0,NaN,NaN,51,"1000GENOMES,ACPOP,BCM-HGSC-SUB,BCMHGSC_JDW,BGI...",3,"21487504,25948407,27902482,"
1,rs1000,31,",T:2|C:0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2,"1624,1986,",0,NaN,NaN,4,"EVA,ILLUMINA,KRIBB_YJKIM,WIAF,",50,"21197618,21992066,22432041,22662167,22796266,2..."
2,rs10000,31,"A:4694|G:314,A:18224|G:2262,,A:2513|G:93,A:40|...","5008,20486,0,2606,90,208,0,0,0,14970,0,32,6601...",3,"1819,1580,1619,",6,"RCV000030369.6,RCV000162401.1,RCV000174851.8,R...","benign,benign,benign,benign,benign,benign,",23,"1000GENOMES,CGM_KYOTO,CNGFU,CORRELAGEN,CSHL,EV...",7,"16619,10479499,15256438,16472587,20186688,2020..."
3,rs1000000,31,"G:4178|A:830,G:159401|A:42383|C:0,A:46411|G:21...","5008,201784,264690,2930,148,216,600,18,3708,16...",1,"1627,",0,NaN,NaN,41,"1000GENOMES,ABI,ACPOP,BCMHGSC_JDW,BIOINF_KMB_F...",0,NaN
4,rs10000000,31,"A:4157|T:851,A:19064|G:0|T:1730,T:33724|A:2309...","5008,20794,264690,2930,210,216,600,18,3708,167...",2,"2153,1627,",0,NaN,NaN,29,"1000GENOMES,ACPOP,BIOINF_KMB_FNS_UNIBA,CSHL,CS...",0,NaN
5,rs1000000000,31,",G:14050|A:0,A:26|G:264664,,,,,,,,,,G:140283|A...","0,14050,264690,0,0,0,0,0,0,0,0,0,140296,0,0,0,...",1,"1627,",0,NaN,NaN,3,"GNOMAD,HUMAN_LONGEVITY,TOPMED,",0,NaN
6,rs1000000001,31,",C:14050|T:0,T:21|C:264669,,,,,,,,,,C:139876|T...","0,14050,264690,0,0,0,0,0,0,0,0,0,139884,0,0,0,...",0,NaN,0,NaN,NaN,3,"GNOMAD,HUMAN_LONGEVITY,TOPMED,",0,NaN
7,rs1000000002,31,",C:14050|G:0,G:1|C:264689,,,,,,,,,,C:140261|G:...","0,14050,264690,0,0,0,0,0,0,0,0,0,140264,0,0,0,...",0,NaN,0,NaN,NaN,2,"GNOMAD,TOPMED,",0,NaN
8,rs1000000003,31,",C:14050|G:0,G:8|C:264682,,,,,,,,,,C:140206|G:...","0,14050,264690,0,0,0,0,0,0,0,0,0,140210,0,0,0,...",0,NaN,0,NaN,NaN,3,"GNOMAD,HUMAN_LONGEVITY,TOPMED,",0,NaN
9,rs1000000004,31,",T:14047|C:3,C:83|T:264607,,,,,,,T:16759|C:1,,...","0,14050,264690,0,0,0,0,0,0,16760,0,0,140186,0,...",1,"1627,",0,NaN,NaN,4,"GNOMAD,HUMAN_LONGEVITY,TOMMO_GENOMICS,TOPMED,",0,NaN

In [10]:
df[1]

0    31
1    31
2    31
3    31
4    31
5    31
6    31
7    31
8    31
9    31
Name: 1, dtype: int64

In [6]:
df.iloc[0].tolist()

['rs1000',
 31,
 ',T:2|C:0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,',
 '0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,',
 2,
 '1624,1986,',
 0,
 nan,
 nan,
 4,
 'EVA,ILLUMINA,KRIBB_YJKIM,WIAF,',
 50,
 '21197618,21992066,22432041,22662167,22796266,23289806,23341828,24005813,24532427,24835231,25266489,25515945,25565795,26078566,26091847,26156397,26200829,26588355,26765445,26770579,26871844,26873362,26886638,26938746,26967389,26989676,27026844,27050280,27127179,27217259,27227944,27233804,27250029,27336899,27374856,27468418,27495027,27524883,27567908,27595605,27765929,27765935,28422712,28424424,29581776,30335025,30967134,31192258,32312375,33127268,']

In [ ]:
df = pd.read_csv(file_path, compression='gzip', delimiter='\t', header=None)

 # replace with your column name
df[1].unique()

In [6]:
# initialize progress bar
progress_bar = tqdm(total=total_size, unit='B', unit_scale=True)

  0%|                                                                                                                                                                                                                            | 0.00/22.4G [00:00<?, ?B/s]

In [7]:
def read_in_chunks(file_object, chunk_size=1024 * 1024):  # read in chunks of 1 MB
    while True:
        data = file_object.read(chunk_size)
        if not data:
            break
        progress_bar.update(len(data))
        yield data

In [9]:
buffer = ''
with gzip.open(file_path, 'rt') as f:
    for chunk in read_in_chunks(f):
        buffer += chunk
    df = pd.read_csv(io.StringIO(buffer), delimiter='\t')

progress_bar.close()

186GB [07:54, 413MB/s]

MemoryError:

186GB [08:14, 413MB/s]