In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("/data/private/pdutta/DNABERT_data/Core_Prom_new/TATA/dev.tsv", sep="\t")

In [20]:
df

                                               Sequence  Label
0     TCTTAA CTTAAC TTAACA TAACAA AACAAT ACAATA CAAT...      1
1     TTTCAA TTCAAG TCAAGA CAAGAA AAGAAT AGAATG GAAT...      0
2     TGCTGT GCTGTC CTGTCT TGTCTT GTCTTT TCTTTA CTTT...      1
3     TTGCTT TGCTTT GCTTTC CTTTCT TTTCTT TTCTTT TCTT...      1
4     TGTGTA GTGTAA TGTAAA GTAAAT TAAATA AAATAG AATA...      1
...                                                 ...    ...
3391  CATGAA ATGAAG TGAAGA GAAGAT AAGATA AGATAA GATA...      0
3392  AGAGGT GAGGTG AGGTGC GGTGCA GTGCAC TGCACT GCAC...      1
3393  CGCCCG GCCCGC CCCGCG CCGCGG CGCGGC GCGGCC CGGC...      1
3394  TTCCAA TCCAAG CCAAGG CAAGGT AAGGTT AGGTTC GGTT...      0
3395  GACCAC ACCACT CCACTC CACTCC ACTCCA CTCCAT TCCA...      0

[3396 rows x 2 columns]

In [21]:
# Count the number of 0s and 1s
counts = df['Label'].value_counts(normalize=True)

In [22]:
# Calculate the number of 0s and 1s to sample
n_zeros = int(round(counts[0] * 40))
n_ones = 40 - n_zeros  # Ensures the total is 160

In [23]:
# Sample the rows
sample_zeros = df[df['Label'] == 0].sample(n=n_zeros)
sample_ones = df[df['Label'] == 1].sample(n=n_ones)

In [24]:
# Concatenate the samples to get the final sample DataFrame
final_sample = pd.concat([sample_zeros, sample_ones]).sample(frac=1)  # Shuffle the rows

In [25]:
final_sample

                                               Sequence  Label
1322  AGCTTA GCTTAA CTTAAA TTAAAA TAAAAA AAAAAC AAAA...      1
847   ATCAGT TCAGTT CAGTTA AGTTAT GTTATT TTATTG TATT...      0
610   TCTCAT CTCATG TCATGA CATGAG ATGAGA TGAGAT GAGA...      1
1820  ATAAGA TAAGAA AAGAAA AGAAAG GAAAGC AAAGCT AAGC...      0
1223  AAATCT AATCTG ATCTGC TCTGCC CTGCCT TGCCTA GCCT...      1
2066  ACTCCT CTCCTT TCCTTC CCTTCC CTTCCC TTCCCT TCCC...      1
82    AATATA ATATAA TATAAA ATAAAT TAAATA AAATAA AATA...      0
2389  ACCACG CCACGC CACGCT ACGCTC CGCTCG GCTCGG CTCG...      1
3097  TTAGGC TAGGCA AGGCAA GGCAAC GCAACA CAACAT AACA...      0
1795  GTTGTA TTGTAG TGTAGA GTAGAT TAGATT AGATTA GATT...      0
2132  ATCATG TCATGT CATGTA ATGTAA TGTAAA GTAAAA TAAA...      1
2751  TTGGAA TGGAAA GGAAAT GAAATA AAATAC AATACT ATAC...      0
2791  AGAGCT GAGCTT AGCTTA GCTTAT CTTATC TTATCT TATC...      1
3363  TGTTGC GTTGCA TTGCAA TGCAAC GCAACA CAACAA AACA...      0
1053  TTATTC TATTCC ATTCCT TTCCTT TCCTTG CCTTGA CTTG...      0
1292  CACCTG ACCTGA CCTGAA CTGAAA TGAAAC GAAACA AAAC...      0
508   AAATTC AATTCA ATTCAA TTCAAC TCAACA CAACAA AACA...      1
8     CACACT ACACTT CACTTG ACTTGG CTTGGT TTGGTG TGGT...      0
756   CTTATC TTATCA TATCAG ATCAGT TCAGTA CAGTAA AGTA...      1
2204  CCAGGA CAGGAG AGGAGA GGAGAG GAGAGA AGAGAA GAGA...      1
812   ACCCGG CCCGGC CCGGCC CGGCCA GGCCAC GCCACC CCAC...      1
2266  ATTTTT TTTTTT TTTTTT TTTTTT TTTTTT TTTTTT TTTT...      1
2909  ACCCTG CCCTGC CCTGCA CTGCAC TGCACG GCACGT CACG...      1
66    CCCAAC CCAACC CAACCC AACCCC ACCCCT CCCCTC CCCT...      1
648   ATTAAG TTAAGA TAAGAT AAGATT AGATTT GATTTG ATTT...      0
2996  AAGTCC AGTCCC GTCCCA TCCCAA CCCAAC CCAACA CAAC...      0
949   GGAGGT GAGGTG AGGTGC GGTGCT GTGCTC TGCTCA GCTC...      0
2483  AGTGAA GTGAAG TGAAGA GAAGAC AAGACT AGACTG GACT...      1
740   CAGCTT AGCTTT GCTTTT CTTTTT TTTTTT TTTTTC TTTT...      0
1698  TGAGTG GAGTGA AGTGAG GTGAGA TGAGAA GAGAAT AGAA...      0
657   AAGGAA AGGAAA GGAAAA GAAAAT AAAATA AAATAC AATA...      1
3081  TTTAAC TTAACT TAACTC AACTCA ACTCAG CTCAGG TCAG...      0
35    CAGTAC AGTACC GTACCA TACCAT ACCATA CCATAC CATA...      1
3342  TTACAA TACAAA ACAAAT CAAATT AAATTT AATTTG ATTT...      0
516   GTAAAG TAAAGG AAAGGA AAGGAA AGGAAA GGAAAC GAAA...      1
888   TTGTTT TGTTTG GTTTGC TTTGCT TTGCTC TGCTCC GCTC...      0
2855  GCGGGG CGGGGC GGGGCC GGGCCG GGCCGC GCCGCG CCGC...      1
1503  CTTTAT TTTATA TTATAT TATATT ATATTT TATTTG ATTT...      0
227   GAGCAC AGCACT GCACTG CACTGA ACTGAC CTGACT TGAC...      1
538   TACAAA ACAAAC CAAACA AAACAA AACAAC ACAACT CAAC...      0

In [26]:
final_sample.to_csv("/data/private/pdutta/DNABERT_data/Core_Prom_new/TATA/small_dataset/dev.tsv", sep="\t", index=False)