In [1]:
import pandas as pd
import numpy as np
import torch

## Get the code from /home/campus.stonybrook.edu/pdutta/DNABERT/examples/DNABERT_feature.py

In [7]:
test_x = np.load("/data/projects/Nimisha/small_dataset/small_train_x.npy")
test_df =pd.read_csv("/data/private/pdutta/DNABERT_data/Core_Prom_new/TATA/small_dataset/train.tsv", sep= "\t")

In [8]:
test_x.shape

(160, 768)

In [9]:
test_df

                                              Sequence  Label
0    TTCTAA TCTAAG CTAAGT TAAGTC AAGTCG AGTCGC GTCG...      1
1    ATAAAT TAAATT AAATTA AATTAG ATTAGT TTAGTA TAGT...      0
2    TGTAAG GTAAGT TAAGTA AAGTAG AGTAGG GTAGGC TAGG...      1
3    CCACCG CACCGT ACCGTA CCGTAT CGTATC GTATCC TATC...      0
4    TGAAAG GAAAGA AAAGAG AAGAGA AGAGAC GAGACA AGAC...      0
..                                                 ...    ...
155  GCGCCG CGCCGA GCCGAG CCGAGG CGAGGG GAGGGG AGGG...      1
156  GCCAGC CCAGCA CAGCAG AGCAGA GCAGAG CAGAGA AGAG...      0
157  GATTCC ATTCCT TTCCTT TCCTTG CCTTGT CTTGTC TTGT...      0
158  AATACT ATACTG TACTGC ACTGCT CTGCTG TGCTGC GCTG...      1
159  GTGATT TGATTC GATTCT ATTCTG TTCTGG TCTGGG CTGG...      1

[160 rows x 2 columns]

In [10]:
test_df['DNABERT_Embedding'] = list(test_x)
test_df

,Sequence,Label,DNABERT_Embedding
0,TTCTAA TCTAAG CTAAGT TAAGTC AAGTCG AGTCGC GTCG...,1,"[0.2517712, 0.07104056, 0.32164788, 0.17206165..."
1,ATAAAT TAAATT AAATTA AATTAG ATTAGT TTAGTA TAGT...,0,"[0.22393468, 0.2434363, -0.11532202, -0.488481..."
2,TGTAAG GTAAGT TAAGTA AAGTAG AGTAGG GTAGGC TAGG...,1,"[0.7632314, 0.47539252, 0.77235454, -0.4611468..."
3,CCACCG CACCGT ACCGTA CCGTAT CGTATC GTATCC TATC...,0,"[-0.25621158, 0.19415535, 0.2364465, -0.585288..."
4,TGAAAG GAAAGA AAAGAG AAGAGA AGAGAC GAGACA AGAC...,0,"[-0.30839136, -0.0455763, 0.008738385, -0.5840..."
...,...,...,...
155,GCGCCG CGCCGA GCCGAG CCGAGG CGAGGG GAGGGG AGGG...,1,"[0.39488098, -0.4839846, -0.052416254, -0.0600..."
156,GCCAGC CCAGCA CAGCAG AGCAGA GCAGAG CAGAGA AGAG...,0,"[0.18357548, 0.008765518, 0.42721453, 0.196485..."
157,GATTCC ATTCCT TTCCTT TCCTTG CCTTGT CTTGTC TTGT...,0,"[0.5957316, -0.049518213, 0.05002333, -0.36414..."
158,AATACT ATACTG TACTGC ACTGCT CTGCTG TGCTGC GCTG...,1,"[0.03193341, 0.5581094, 0.2785576, 0.44276842,..."
159,GTGATT TGATTC GATTCT ATTCTG TTCTGG TCTGGG CTGG...,1,"[-0.44221818, 0.0026558724, 0.46018842, -0.148..."

In [11]:
test_df.to_csv("/data/projects/Nimisha/small_dataset/Small_TATA_Embedding_train.tsv", sep="\t")