In [1]:
import pandas as pd
import numpy as np
import torch

## Get the code from /home/campus.stonybrook.edu/pdutta/DNABERT/examples/DNABERT_feature.py

In [9]:
test_x = np.load("/home/campus.stonybrook.edu/pdutta/Github/Postdoc/DNABERT_data_processing/Nimisha/TATA_test_x.npy")
test_df =pd.read_csv("/data/private/pdutta/DNABERT_data/Core_Prom_new/TATA/dev.tsv", sep= "\t")

In [11]:
test_x.shape

(3396, 768)

In [12]:
test_df

                                               Sequence  Label
0     TCTTAA CTTAAC TTAACA TAACAA AACAAT ACAATA CAAT...      1
1     TTTCAA TTCAAG TCAAGA CAAGAA AAGAAT AGAATG GAAT...      0
2     TGCTGT GCTGTC CTGTCT TGTCTT GTCTTT TCTTTA CTTT...      1
3     TTGCTT TGCTTT GCTTTC CTTTCT TTTCTT TTCTTT TCTT...      1
4     TGTGTA GTGTAA TGTAAA GTAAAT TAAATA AAATAG AATA...      1
...                                                 ...    ...
3391  CATGAA ATGAAG TGAAGA GAAGAT AAGATA AGATAA GATA...      0
3392  AGAGGT GAGGTG AGGTGC GGTGCA GTGCAC TGCACT GCAC...      1
3393  CGCCCG GCCCGC CCCGCG CCGCGG CGCGGC GCGGCC CGGC...      1
3394  TTCCAA TCCAAG CCAAGG CAAGGT AAGGTT AGGTTC GGTT...      0
3395  GACCAC ACCACT CCACTC CACTCC ACTCCA CTCCAT TCCA...      0

[3396 rows x 2 columns]

In [13]:
test_df['DNABERT_Embedding'] = list(test_x)
test_df

,Sequence,Label,DNABERT_Embedding
0,TCTTAA CTTAAC TTAACA TAACAA AACAAT ACAATA CAAT...,1,"[-0.2985387, -0.0448725, 0.83895385, -0.523473..."
1,TTTCAA TTCAAG TCAAGA CAAGAA AAGAAT AGAATG GAAT...,0,"[-0.37829328, 0.20705411, 0.048178975, -0.1981..."
2,TGCTGT GCTGTC CTGTCT TGTCTT GTCTTT TCTTTA CTTT...,1,"[0.066112004, 0.37781042, 0.43758187, -0.03651..."
3,TTGCTT TGCTTT GCTTTC CTTTCT TTTCTT TTCTTT TCTT...,1,"[0.24752909, 0.38937947, 0.27991483, -0.029562..."
4,TGTGTA GTGTAA TGTAAA GTAAAT TAAATA AAATAG AATA...,1,"[-0.19787626, -0.16571209, 0.3797077, -0.20557..."
...,...,...,...
3391,CATGAA ATGAAG TGAAGA GAAGAT AAGATA AGATAA GATA...,0,"[0.43133646, -0.27712324, -0.114310585, -0.167..."
3392,AGAGGT GAGGTG AGGTGC GGTGCA GTGCAC TGCACT GCAC...,1,"[0.31561905, -0.23046921, -0.036973827, 0.2485..."
3393,CGCCCG GCCCGC CCCGCG CCGCGG CGCGGC GCGGCC CGGC...,1,"[0.27925873, 0.77301246, 0.70580256, -0.319614..."
3394,TTCCAA TCCAAG CCAAGG CAAGGT AAGGTT AGGTTC GGTT...,0,"[-0.08215874, 0.05830405, 0.30023566, -0.31320..."
3395,GACCAC ACCACT CCACTC CACTCC ACTCCA CTCCAT TCCA...,0,"[0.13627449, 0.07477433, 0.2967832, 0.4172747,..."

In [14]:
test_df.to_csv("TATA_Embedding_test.tsv", sep="\t")