In [32]:
import numpy as np
import pandas as pd
import math

In [33]:
input_file_path = "/data/private/pdutta/Collab_data/Oliver_data/DNABERT_data/TREM2_CrProm/intermediate.tsv"

In [34]:
TATA_probab_file_path  = "/data/private/pdutta/DNABERT_output/TATA_CorePromoter/TREM2_CrProm/pred_results.npy"
nonTATA_probab_file_path  = "/data/private/pdutta/DNABERT_output/nonTATA_CorePromoter/Prediction_result/TREM2_CrProm/pred_results.npy"

In [35]:
all_data = pd.read_csv(input_file_path, sep= "\t")
all_data

,chr,strand,Core_Prom_start,Core_Prom_end,VCF_position,ref_neucleotide,alt_neucleotide,reference_seq,alt_seq
0,chr6,-,41163072,41163161,41163086,A,G,GAGGCTCCATGCCACCCTTCCCCAGCCAAGGGCAGAAGCAGAGTGC...,GAGGCTCCATGCCGCCCTTCCCCAGCCAAGGGCAGAAGCAGAGTGC...
1,chr6,-,41163072,41163161,41163134,G,T,GAGGCTCCATGCCACCCTTCCCCAGCCAAGGGCAGAAGCAGAGTGC...,GAGGCTCCATGCCACCCTTCCCCAGCCAAGGGCAGAAGCAGAGTGC...
2,chr6,-,41163059,41163148,41163086,A,G,ATGAGCAGCCGGAGAGGCTCCATGCCACCCTTCCCCAGCCAAGGGC...,ATGAGCAGCCGGAGAGGCTCCATGCCGCCCTTCCCCAGCCAAGGGC...
3,chr6,-,41163059,41163148,41163134,G,T,ATGAGCAGCCGGAGAGGCTCCATGCCACCCTTCCCCAGCCAAGGGC...,ATGAGCAGCCGGAGAGGCTCCATGCCACCCTTCCCCAGCCAAGGGC...

In [31]:
df_TREM2 = all_data.iloc[::2].reset_index(drop=True)
df_TREM2

,chr,strand,Core_Prom_start,Core_Prom_end,VCF_position,ref_neucleotide,alt_neucleotide,reference_seq,alt_seq
0,chr6,-,41163072,41163161,41163086,A,G,GAGGCTCCATGCCACCCTTCCCCAGCCAAGGGCAGAAGCAGAGTGC...,GAGGCTCCATGCCGCCCTTCCCCAGCCAAGGGCAGAAGCAGAGTGC...
1,chr6,-,41163059,41163148,41163086,A,G,ATGAGCAGCCGGAGAGGCTCCATGCCACCCTTCCCCAGCCAAGGGC...,ATGAGCAGCCGGAGAGGCTCCATGCCGCCCTTCCCCAGCCAAGGGC...

In [36]:
df_TREM2 =all_data

In [37]:
TATA_probablity = np.load(TATA_probab_file_path)
nonTATA_probablity = np.load(nonTATA_probab_file_path)

In [38]:
TATA_probablity

array([0.07619458, 0.19129333, 0.07619458, 0.62953633, 0.96762735,
       0.99914205, 0.96762735, 0.89898974], dtype=float32)

In [39]:
Reference_TATA_list = TATA_probablity[::2]
Alternative_TATA_list = TATA_probablity[1::2]
Refernce_nonTATA_list = nonTATA_probablity[::2]
Alternative_nonTATA_list = nonTATA_probablity[1::2]

In [40]:
Reference_TATA_list

array([0.07619458, 0.07619458, 0.96762735, 0.96762735], dtype=float32)

In [41]:
df_TREM2['TATA_ref']=Reference_TATA_list
df_TREM2['TATA_alt']=Alternative_TATA_list
df_TREM2['nonTATA_ref']=Refernce_nonTATA_list
df_TREM2['nonTATA_alt']=Alternative_nonTATA_list

In [42]:
df_TREM2

,chr,strand,Core_Prom_start,Core_Prom_end,VCF_position,ref_neucleotide,alt_neucleotide,reference_seq,alt_seq,TATA_ref,TATA_alt,nonTATA_ref,nonTATA_alt
0,chr6,-,41163072,41163161,41163086,A,G,GAGGCTCCATGCCACCCTTCCCCAGCCAAGGGCAGAAGCAGAGTGC...,GAGGCTCCATGCCGCCCTTCCCCAGCCAAGGGCAGAAGCAGAGTGC...,0.076195,0.191293,0.972287,0.960271
1,chr6,-,41163072,41163161,41163134,G,T,GAGGCTCCATGCCACCCTTCCCCAGCCAAGGGCAGAAGCAGAGTGC...,GAGGCTCCATGCCACCCTTCCCCAGCCAAGGGCAGAAGCAGAGTGC...,0.076195,0.629536,0.972287,0.981193
2,chr6,-,41163059,41163148,41163086,A,G,ATGAGCAGCCGGAGAGGCTCCATGCCACCCTTCCCCAGCCAAGGGC...,ATGAGCAGCCGGAGAGGCTCCATGCCGCCCTTCCCCAGCCAAGGGC...,0.967627,0.999142,0.972410,0.969255
3,chr6,-,41163059,41163148,41163134,G,T,ATGAGCAGCCGGAGAGGCTCCATGCCACCCTTCCCCAGCCAAGGGC...,ATGAGCAGCCGGAGAGGCTCCATGCCACCCTTCCCCAGCCAAGGGC...,0.967627,0.898990,0.972410,0.980187

In [43]:
def calculate_diff_probab(p1,p2):
    return((p2-p1)*max(p1,p2))

In [44]:
def log_oods_ratio(p1,p2):
    term1 = math.log2(p1/(1-p1))
    term2 = math.log2(p2/(1-p2))
    return (term1-term2)

In [45]:
calculate_diff_probab(0.944215, 1.790375e-03)

-0.889851467294375

In [46]:
log_oods_ratio(0.944215, 1.790375e-03)

13.204103456410776

In [47]:
df_TREM2['TATAScoreChange'] = df_TREM2.apply(lambda row: calculate_diff_probab(row['TATA_ref'], row['TATA_alt']), axis=1)
df_TREM2['TATALogOddRatio'] = df_TREM2.apply(lambda row: log_oods_ratio(row['TATA_ref'], row['TATA_alt']), axis=1)
df_TREM2['nonTATAScoreChange'] = df_TREM2.apply(lambda row: calculate_diff_probab(row['nonTATA_ref'], row['nonTATA_alt']), axis=1)
df_TREM2['nonTATALogOddRatio'] = df_TREM2.apply(lambda row: log_oods_ratio(row['nonTATA_ref'], row['nonTATA_alt']), axis=1)

In [48]:
df_TREM2

,chr,strand,Core_Prom_start,Core_Prom_end,VCF_position,ref_neucleotide,alt_neucleotide,reference_seq,alt_seq,TATA_ref,TATA_alt,nonTATA_ref,nonTATA_alt,TATAScoreChange,TATALogOddRatio,nonTATAScoreChange,nonTATALogOddRatio
0,chr6,-,41163072,41163161,41163086,A,G,GAGGCTCCATGCCACCCTTCCCCAGCCAAGGGCAGAAGCAGAGTGC...,GAGGCTCCATGCCGCCCTTCCCCAGCCAAGGGCAGAAGCAGAGTGC...,0.076195,0.191293,0.972287,0.960271,0.022018,-1.519999,-0.011683,0.537580
1,chr6,-,41163072,41163161,41163134,G,T,GAGGCTCCATGCCACCCTTCCCCAGCCAAGGGCAGAAGCAGAGTGC...,GAGGCTCCATGCCACCCTTCCCCAGCCAAGGGCAGAAGCAGAGTGC...,0.076195,0.629536,0.972287,0.981193,0.348349,-4.364786,0.008738,-0.572441
2,chr6,-,41163059,41163148,41163086,A,G,ATGAGCAGCCGGAGAGGCTCCATGCCACCCTTCCCCAGCCAAGGGC...,ATGAGCAGCCGGAGAGGCTCCATGCCGCCCTTCCCCAGCCAAGGGC...,0.967627,0.999142,0.972410,0.969255,0.031488,-5.283978,-0.003068,0.160879
3,chr6,-,41163059,41163148,41163134,G,T,ATGAGCAGCCGGAGAGGCTCCATGCCACCCTTCCCCAGCCAAGGGC...,ATGAGCAGCCGGAGAGGCTCCATGCCACCCTTCCCCAGCCAAGGGC...,0.967627,0.898990,0.972410,0.980187,-0.066416,1.747801,0.007623,-0.489193

In [49]:
df_TREM2.to_csv("/data/private/pdutta/Collab_data/Oliver_data/Output/TREM2_CoreProm.csv", sep=",",index=False)