In [1]:
import os, tarfile
import re
import pandas as pd
import numpy as np
import zipfile, gzip
import pandas as pd
from sklearn.model_selection import train_test_split

In [36]:
promoter_data_path = "/mnt/data05/shared/pdutta_data/DNABERT_data/Promoter_prediction/Promoter_regions_new/"
non_promoter_data_path = "/mnt/data05/shared/pdutta_data/DNABERT_data/Promoter_prediction/Non_promoter_regions/"
data_path= "/mnt/data05/shared/pdutta_data/DNABERT_data/Promoter_prediction/300BP_data_5:1/"

In [3]:
def seq2kmer(seq, k):
    kmer = [seq[x:x+k] for x in range(len(seq)+1-k)]
    #print (kmer)
    kmers = " ".join(kmer)
    #print (kmers)
    return kmers

In [4]:
temp_seq = seq2kmer("NNUHIUEFHKAHDHEAJANEDHLAAFH", 6 )

In [37]:
def df2kmer(dataframe, name):
    temp_df= pd.DataFrame(columns= ['sequence','label' ])
    for index, row in dataframe.iterrows():
        temp_df.loc[index,['sequence']]= seq2kmer(row['sequence'], 6)
        temp_df.loc[index,['label']]= row['label']
        #print(temp)
        # if(index==10):
        #     break
    temp_df.to_csv(data_path+name, index=False,  sep='\t')
    #return temp_df

In [6]:
def create_csv(path):
    file_names = os.listdir(path)
    for i in file_names:
        print (i)
    combined_csv_data = pd.concat([pd.read_csv(str(path)+str(f)) for f in file_names])
    combined_csv_data.drop_duplicates().reset_index(drop=True)
    print (combined_csv_data.shape)
    return combined_csv_data

In [7]:
promoter_csv = create_csv(promoter_data_path)
non_promoter_csv = create_csv(non_promoter_data_path)

chr1_promoter.csv
chr2_promoter.csv
chr3_promoter.csv
chr4_promoter.csv
chr5_promoter.csv
chr6_promoter.csv
chr7_promoter.csv
chr8_promoter.csv
chr9_promoter.csv
chr10_promoter.csv
chr11_promoter.csv
chr12_promoter.csv
chr13_promoter.csv
chr14_promoter.csv
chr15_promoter.csv
chr16_promoter.csv
chr17_promoter.csv
chr18_promoter.csv
chr19_promoter.csv
chr20_promoter.csv
chr21_promoter.csv
chr22_promoter.csv
chrX_promoter.csv
chrY_promoter.csv
(106030, 7)
chr10_non_promoter.csv
chr11_non_promoter.csv
chr12_non_promoter.csv
chr13_non_promoter.csv
chr15_non_promoter.csv
chr16_non_promoter.csv
chr17_non_promoter.csv
chr18_non_promoter.csv
chr19_non_promoter.csv
chr1_non_promoter.csv
chr20_non_promoter.csv
chr21_non_promoter.csv
chr22_non_promoter.csv
chr3_non_promoter.csv
chr4_non_promoter.csv
chr5_non_promoter.csv
chr6_non_promoter.csv
chr7_non_promoter.csv
chr8_non_promoter.csv
chr9_non_promoter.csv
chrX_non_promoter.csv
chrY_non_promoter.csv
(8505343, 2)

In [8]:
promoter_negative = promoter_csv[promoter_csv['strand']=='-']
promoter_positive = promoter_csv[promoter_csv['strand']=='+']

In [9]:
promoter_negative.head(40).to_csv(data_path+"promoter_negative.csv", index=False)
promoter_positive.head(40).to_csv(data_path+"promoter_positive.csv", index=False)

In [10]:
non_promoter_csv.head()

   Unnamed: 0                                                  0
0           0  NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
1           1  cctaaccctaaccctaaccctaaccctaaccctaaccctaacccta...
2           2  ctgcaaagaggaagaattttatttaccgtcgctgtggccccgagtt...
3           3  cgccggcgcaggcgcggaggggcgcgCCCGAACCCGAACCCTAATG...
4           4  TCCAGCCTTCCCGCTTCAACACCTGGACACATTCTGGAAAGTTTCC...

In [11]:
#non_promoter_csv.head(40).to_csv(data_path+"/non_promoter_negative.csv", index= False)

In [12]:
non_promoter_csv.columns

Index(['Unnamed: 0', '0'], dtype='object')

In [13]:
promoter_sequence = promoter_csv[['sequence']]
promoter_sequence['label']= 1
print (promoter_sequence.head())
non_promoter_sequence = non_promoter_csv[['0']]
non_promoter_sequence = non_promoter_sequence.rename(columns={'0': 'sequence'})
non_promoter_sequence['label']= 0
print (non_promoter_sequence.head())

                                            sequence  label
0  CGAGAGAAATTTCGGTACTGCGCATGAACCGAGCGTGACGTTGAGG...      1
1  ATTTAGACAGTACTCTTCAGGTGATTTCCCTACAGGTGAATAATTT...      1
2  GGCACGCCTGATTTAGGGTCCTGGGCAGACCAACCTCCAATCAGGA...      1
3  GCTGCTTTGAGAAAGCTGCAGCCTCGGAGTTTCTGCAAGGCCTGAA...      1
4  CCAGCGCGGACGGCGGTGCGGACAGGGAGCTGTATTGACCTGCGTT...      1

/home/pdutta/anaconda3/envs/preprocessing/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                            sequence  label
0  NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...      0
1  cctaaccctaaccctaaccctaaccctaaccctaaccctaacccta...      0
2  ctgcaaagaggaagaattttatttaccgtcgctgtggccccgagtt...      0
3  cgccggcgcaggcgcggaggggcgcgCCCGAACCCGAACCCTAATG...      0
4  TCCAGCCTTCCCGCTTCAACACCTGGACACATTCTGGAAAGTTTCC...      0

In [14]:
promoter_sequence = promoter_sequence[~promoter_sequence.sequence.str.contains("N")]
promoter_sequence['sequence'] = promoter_sequence['sequence'].str.upper()
non_promoter_sequence = non_promoter_sequence[~non_promoter_sequence.sequence.str.contains("N")]
non_promoter_sequence['sequence'] = non_promoter_sequence['sequence'].str.upper()

In [15]:
print (promoter_sequence.shape, non_promoter_sequence.shape)

(106027, 2) (8504362, 2)

In [16]:
non_promoter_sequence.head()

                                            sequence  label
1  CCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTA...      0
2  CTGCAAAGAGGAAGAATTTTATTTACCGTCGCTGTGGCCCCGAGTT...      0
3  CGCCGGCGCAGGCGCGGAGGGGCGCGCCCGAACCCGAACCCTAATG...      0
4  TCCAGCCTTCCCGCTTCAACACCTGGACACATTCTGGAAAGTTTCC...      0
5  CCACGCCCACTCCCCCAAGCGGGGAAGGAGCTTCGCGCTGCCGCTT...      0

In [31]:
# non_promoter_sequence_frac = non_promoter_sequence.sample(frac=0.060)
# non_promoter_sequence_frac_rest = non_promoter_sequence.loc[~non_promoter_sequence.index.isin(non_promoter_sequence_frac.index)]
# #df_rest = df.loc[df.index.difference(df_0_7.index)]
# #non_promoter_sequence_frac_rest= non_promoter_sequence.loc[non_promoter_sequence.index.difference(non_promoter_sequence_frac.index)]
# #non_promoter_sequence_frac = non_promoter_sequence_frac.reset_index(drop=True)
# #non_promoter_sequence_frac_rest = non_promoter_sequence_frac_rest.reset_index(drop=True)
# print (non_promoter_sequence_frac.shape, non_promoter_sequence_frac_rest.shape)

# # df_percent = df.sample(frac=0.7)
# # df_rest = df.loc[df.index.difference(df_0_7.index)]
# # df_rest = df.loc[~df.index.isin(df_percent.index)]

In [30]:
non_promoter_rest, non_promoter_data = train_test_split(non_promoter_sequence, test_size=0.060)
non_promoter_rest.reset_index(drop=True, inplace=True)
non_promoter_data.reset_index(drop=True, inplace=True)
print (non_promoter_rest.shape , non_promoter_data.shape)

(7994100, 2) (510262, 2)

In [32]:
non_promoter_rest.head()

                                            sequence  label
0  CTGGGGTCTTTGTAACCTTTGCCAGAGCTACACATTTATGGCCCAA...      0
1  GGCGTGGTGGCATAGGCCGGTTGTCTCAGCTACACGGGAGGCTGAG...      0
2  AAAATAAAATAATATAAAAATTCATAAAAGTTTATGAATTTACATT...      0
3  CATTGTTTTACAATGGGGTGTGCTGATGTGAGGTTGCCTTCTGGTG...      0
4  TAACTTCTTCGGATGTGTGCATTCGACTCACAGAATGGAACATTCC...      0

In [33]:
all_data = pd.concat([promoter_sequence, non_promoter_data], ignore_index=True)
train, test = train_test_split(all_data, test_size=0.10)
#dev, test= train_test_split(test, test_size=0.5)
train.reset_index(drop=True, inplace=True)
test.reset_index(drop=True, inplace=True)
#dev.reset_index(drop=True, inplace=True)

In [34]:
print (train.shape, test.shape)

(554660, 2) (61629, 2)

In [35]:
train.head()

                                            sequence  label
0  TCTATATATATTTATATATATTTATCTATATATATTTATATATATA...      1
1  GATTACTACAATTCAAGGTGAGATTTGAGTGGGAACACAGCCAATC...      0
2  ATTAGTACACAAGGTTTAGGTAGTCTCTTTCATAAAAATTTGAAGC...      0
3  AGAATCATTCCCACAAACTGCGTTGTGATGTGTTCCTTCAACTCAC...      0
4  AGACGCCAGAGCCCTTCTTCCAGCGCCTGCAGCGAGTTAAGGCCGA...      1

In [ ]:
df2kmer(test, "dev.tsv")
df2kmer(train, "train.tsv")
#df2kmer(dev,"dev.tsv")