In [40]:
import pandas as pd
#pd.set_option('display.max_columns', None)
import numpy as np
#from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
import plotly.express as px
import pickle

In [41]:
df= pd.read_csv("/data/projects/GDC_Cancer_Wise/Brain/Data/DNABERT_result/Acceptor/df_log_odd_score.tsv", sep="\t")
df.rename(columns={'Patient_ID': 'File_ID'}, inplace=True)
df

,File_ID,chr1_13412_13491_13417_13418,chr1_183091_183170_183143_183144,chr1_187248_187327_187301_187302,chr1_268081_268160_268129_268130,chr1_268777_268856_268832_268833,chr1_505064_505143_505073_505074,chr1_628184_628263_628244_628245,chr1_792841_792920_792861_792862,chr1_801124_801203_801141_801142,...,chr9_61968410_61968489_61968459_61968460,chr11_4049473_4049552_4049490_4049502,chr13_101176335_101176414_101176394_101176395,chr16_31844_31923_31879_31880,chr17_420631_420710_420634_420660,chr22_21484095_21484174_21484115_21484116,chr5_7896823_7896902_7896843_7896855,chr9_2647433_2647512_2647433_2647434,chr9_85840709_85840788_85840736_85840746,chrY_6868870_6868949_6868906_6868907
0,722d3df5-7254-44f0-bbe0-cf39dbd57866,0.553559,0.415038,-0.384897,-5.024607,0.823919,2.574861,-1.105056,4.800413,3.202229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ddd29528-58ad-461f-8509-4e42f71b49fb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9593d4de-0dab-4d1e-b86c-af91cac938e6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,e849abef-b55e-4124-b760-09101a7c4390,NaN,NaN,-0.384897,-5.024607,NaN,NaN,-1.105056,4.800413,3.202229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0c700657-b0b8-4361-9f89-b89a6c7b262d,NaN,NaN,NaN,-5.024607,NaN,NaN,NaN,4.800413,3.202229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,07dde76e-e126-4d66-ba85-059f076b7d04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,6f920119-c9ad-4ebf-bbc8-7724feae7b7b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,0105bc7d-a1cd-44d1-b533-b47a9781c0a5,NaN,NaN,-0.384897,-5.024607,NaN,NaN,-1.105056,4.800413,3.202229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,50014300-ff2e-49f6-857d-dd3e1f22a588,0.553559,NaN,-0.384897,-5.024607,NaN,NaN,-1.105056,NaN,3.202229,...,0.050627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,77467f98-3e82-4ce7-abbe-8e69e7a77dbe,NaN,NaN,-0.384897,-5.024607,NaN,NaN,-1.105056,4.800413,3.202229,...,NaN,4.858337,0.036213,-0.090198,13.257964,-1.358908,-0.058894,0.308125,2.58498,-1.465038

In [42]:
# Load the text file into a pandas DataFrame
manifest_df = pd.read_csv('/data/projects/GDC_Cancer_Wise/Brain/Manifest/Brain_gdc_manifest.2023-08-30.txt', sep='\t')
manifest_df

,id,filename,md5,size,state
0,8a5741e3-ade9-4aa0-bf16-fda229785973,96ef40c3-8d4c-4fe1-a33a-99f5b205a0bb_wgs_gdc_r...,872f8936e6da37d65ad164008be0d97e,224307907152,released
1,92d4df10-dc24-495c-889f-98fe42259a3d,6050f994-f394-4c1c-93ce-d36733aa9ae9_wgs_gdc_r...,22e70f4babc0dbc558899362c29d0144,255133476881,released
2,31261c79-49e6-4e8e-9135-7445a93d3ff6,7cae6c0b-36fe-411b-bbba-093a4c846d84_wgs_gdc_r...,b0a73ce14e054c4cb548b82cd4705090,433608688882,released
3,03ec9184-c32b-40ec-90f6-fcb9ac13897c,e8114ae7-e076-44ca-b2bb-b6c3629b53b0_wgs_gdc_r...,06b5e42fd7c52228a60af4dfffa39168,181458921470,released
4,8b174bed-2bd0-4318-8831-8676df9af5a0,b73cfd2e-044f-4b41-b404-080d9d18e61d_wgs_gdc_r...,9c2f64092e527de61125f7862d40c28d,224484119834,released
...,...,...,...,...,...
287,b53ad5a6-36a2-455a-8769-897c0adfb500,5844876a-d390-4c02-acb9-f32647ca7375_wgs_gdc_r...,42a5d186bc01b316584d8041e2c1f879,181285406230,released
288,87113bda-e063-4f2c-9ac2-5f02a05d3a9c,45ec553b-1e7a-4b3c-86a1-c3f1547c1b43_wgs_gdc_r...,584a461967b5853754ffcfce5c5b1c7c,166265961267,released
289,4d278e32-a900-4d28-87be-575ca498db24,8f524ded-7ae8-44cd-8e62-5db87178452c_wgs_gdc_r...,e7f743f51d4092daa2723596c5099919,32477896026,released
290,6788564d-7cfb-4bc2-a6e1-010337a37210,3ef3e4f1-9b47-4f11-9024-85242ecee397_wgs_gdc_r...,a9407d6da48c9a4c7afcc38b175a7ed0,39333905005,released
291,aac6e5e8-85eb-497a-9e0b-2125ef91e378,e3c99625-890c-48a0-8926-713cc7bfddf2_wgs_gdc_r...,ffd9d47266efef5292d803d3d4e224fe,225014734168,released

In [43]:
# Create a mapping from the filename prefix to the id
mapping = manifest_df.set_index(manifest_df['filename'].str.extract(r'(.+)_wgs_gdc_realn.bam')[0])['id'].to_dict()
df['Patient_ID'] = df['File_ID'].map(mapping)
df.insert(0, 'Patient_ID', df.pop('Patient_ID'))
df

,Patient_ID,File_ID,chr1_13412_13491_13417_13418,chr1_183091_183170_183143_183144,chr1_187248_187327_187301_187302,chr1_268081_268160_268129_268130,chr1_268777_268856_268832_268833,chr1_505064_505143_505073_505074,chr1_628184_628263_628244_628245,chr1_792841_792920_792861_792862,...,chr9_61968410_61968489_61968459_61968460,chr11_4049473_4049552_4049490_4049502,chr13_101176335_101176414_101176394_101176395,chr16_31844_31923_31879_31880,chr17_420631_420710_420634_420660,chr22_21484095_21484174_21484115_21484116,chr5_7896823_7896902_7896843_7896855,chr9_2647433_2647512_2647433_2647434,chr9_85840709_85840788_85840736_85840746,chrY_6868870_6868949_6868906_6868907
0,bf38f001-f1df-40da-9361-dc63efda3af3,722d3df5-7254-44f0-bbe0-cf39dbd57866,0.553559,0.415038,-0.384897,-5.024607,0.823919,2.574861,-1.105056,4.800413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,bcad998a-3311-4086-b490-d9119e54e6de,ddd29528-58ad-461f-8509-4e42f71b49fb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a00d6f63-c1b7-4fa1-852c-4a2b00d8a720,9593d4de-0dab-4d1e-b86c-af91cac938e6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,52460ce7-4dd9-4aaf-9f2e-2395760f7026,e849abef-b55e-4124-b760-09101a7c4390,NaN,NaN,-0.384897,-5.024607,NaN,NaN,-1.105056,4.800413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1bd09c3b-01e3-48b7-89d0-05352b6797ff,0c700657-b0b8-4361-9f89-b89a6c7b262d,NaN,NaN,NaN,-5.024607,NaN,NaN,NaN,4.800413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,ed028565-6aec-4055-9db3-a153b1afbb1e,07dde76e-e126-4d66-ba85-059f076b7d04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,69748f20-4d45-43c0-85d5-cae230582f7d,6f920119-c9ad-4ebf-bbc8-7724feae7b7b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,73091777-795c-4761-aa95-1cc079e26b47,0105bc7d-a1cd-44d1-b533-b47a9781c0a5,NaN,NaN,-0.384897,-5.024607,NaN,NaN,-1.105056,4.800413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,553afc03-a17d-46ab-b0e5-0959c4f91a24,50014300-ff2e-49f6-857d-dd3e1f22a588,0.553559,NaN,-0.384897,-5.024607,NaN,NaN,-1.105056,NaN,...,0.050627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,e2729afc-a88e-4bf0-b886-f22edde62676,77467f98-3e82-4ce7-abbe-8e69e7a77dbe,NaN,NaN,-0.384897,-5.024607,NaN,NaN,-1.105056,4.800413,...,NaN,4.858337,0.036213,-0.090198,13.257964,-1.358908,-0.058894,0.308125,2.58498,-1.465038

In [44]:
df.iloc[:, 2:]

,chr1_13412_13491_13417_13418,chr1_183091_183170_183143_183144,chr1_187248_187327_187301_187302,chr1_268081_268160_268129_268130,chr1_268777_268856_268832_268833,chr1_505064_505143_505073_505074,chr1_628184_628263_628244_628245,chr1_792841_792920_792861_792862,chr1_801124_801203_801141_801142,chr1_841159_841238_841165_841166,...,chr9_61968410_61968489_61968459_61968460,chr11_4049473_4049552_4049490_4049502,chr13_101176335_101176414_101176394_101176395,chr16_31844_31923_31879_31880,chr17_420631_420710_420634_420660,chr22_21484095_21484174_21484115_21484116,chr5_7896823_7896902_7896843_7896855,chr9_2647433_2647512_2647433_2647434,chr9_85840709_85840788_85840736_85840746,chrY_6868870_6868949_6868906_6868907
0,0.553559,0.415038,-0.384897,-5.024607,0.823919,2.574861,-1.105056,4.800413,3.202229,-0.192645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,-0.384897,-5.024607,NaN,NaN,-1.105056,4.800413,3.202229,-0.192645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,-5.024607,NaN,NaN,NaN,4.800413,3.202229,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.192645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,NaN,NaN,-0.384897,-5.024607,NaN,NaN,-1.105056,4.800413,3.202229,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,0.553559,NaN,-0.384897,-5.024607,NaN,NaN,-1.105056,NaN,3.202229,NaN,...,0.050627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,NaN,NaN,-0.384897,-5.024607,NaN,NaN,-1.105056,4.800413,3.202229,-0.192645,...,NaN,4.858337,0.036213,-0.090198,13.257964,-1.358908,-0.058894,0.308125,2.58498,-1.465038

In [45]:
# Function to get indices of non-NaN values for each column
def get_non_nan_indices(df, col):
    return list(df[col].dropna().index)

In [46]:
# Assuming you have a DataFrame named 'df'

# Calculate the maximum values for columns, starting from the third column, and sort them in descending order
column_max = df.iloc[:, 2:].max()
sorted_max = column_max.sort_values(ascending=False)

# Get the names of the top 15 columns
top_15_columns = sorted_max.index

# Count the number of non-NaN values in each of the top 15 columns
non_nan_counts = [df[col].notna().sum() for col in top_15_columns]

# Convert the Series of sorted max values to a DataFrame
top_15_df = sorted_max.reset_index()
top_15_df.columns = ['Column', 'Max Value']

# Add the non-NaN counts as a new column to the DataFrame
top_15_df['Non-NaN Count'] = non_nan_counts

# Function to get indices of non-NaN values for each column
def get_non_nan_indices(df, col):
    return list(df[col].dropna().index)

# Add a new column to top_15_df with the indices of non-NaN values for each column
top_15_df['Non-NaN Indices'] = top_15_df['Column'].apply(lambda col: get_non_nan_indices(df, col))

top_15_df

,Column,Max Value,Non-NaN Count,Non-NaN Indices
0,chr18_42574752_42574831_42574758_42574779,38.590750,12,"[46, 57, 58, 69, 94, 104, 178, 185, 212, 230, ..."
1,chr3_42193783_42193862_42193787_42193805,38.371969,57,"[0, 4, 6, 11, 12, 13, 15, 27, 47, 52, 56, 60, ..."
2,chr14_88609226_88609305_88609247_88609257,38.145875,12,"[29, 126, 130, 139, 144, 185, 214, 227, 230, 2..."
3,chr4_28287772_28287851_28287797_28287809,38.086723,3,"[67, 249, 286]"
4,chr2_232531311_232531390_232531263_232531334,38.019559,22,"[0, 61, 62, 68, 74, 78, 79, 103, 107, 115, 124..."
...,...,...,...,...
124897,chr11_46864496_46864575_46864525_46864526,-29.529571,12,"[48, 85, 98, 107, 119, 122, 162, 198, 224, 226..."
124898,chr4_107935554_107935633_107935574_107935575,-29.918149,15,"[0, 43, 66, 75, 85, 93, 99, 124, 156, 176, 190..."
124899,chr2_42698374_42698453_42698376_42698391,-30.078635,3,"[128, 160, 251]"
124900,chr2_20256131_20256210_20256195_20256206,-33.063855,2,"[122, 257]"
124901,chr2_77939847_77939926_77939884_77939885,-34.235533,4,"[4, 7, 27, 32]"

In [47]:
def variant_region_diff(row):
    parts = row.split('_')
    if len(parts) >= 4:
        start = int(parts[-2])
        end = int(parts[-1])
        return end - start
    return None

In [48]:
selected_df = top_15_df[top_15_df['Max Value']>5]
selected_df['Percentage'] = top_15_df['Non-NaN Count']/292 *100
selected_df

/tmp/ipykernel_3786287/818947200.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df['Percentage'] = top_15_df['Non-NaN Count']/292 *100

,Column,Max Value,Non-NaN Count,Non-NaN Indices,Percentage
0,chr18_42574752_42574831_42574758_42574779,38.590750,12,"[46, 57, 58, 69, 94, 104, 178, 185, 212, 230, ...",4.109589
1,chr3_42193783_42193862_42193787_42193805,38.371969,57,"[0, 4, 6, 11, 12, 13, 15, 27, 47, 52, 56, 60, ...",19.520548
2,chr14_88609226_88609305_88609247_88609257,38.145875,12,"[29, 126, 130, 139, 144, 185, 214, 227, 230, 2...",4.109589
3,chr4_28287772_28287851_28287797_28287809,38.086723,3,"[67, 249, 286]",1.027397
4,chr2_232531311_232531390_232531263_232531334,38.019559,22,"[0, 61, 62, 68, 74, 78, 79, 103, 107, 115, 124...",7.534247
...,...,...,...,...,...
6656,chr6_29828502_29828581_29828528_29828529,5.002682,193,"[0, 1, 2, 3, 6, 7, 10, 11, 13, 14, 15, 16, 17,...",66.095890
6657,chr19_35259199_35259278_35259204_35259205,5.002419,1,[44],0.342466
6658,chr11_48949198_48949277_48949214_48949229,5.001278,177,"[0, 3, 4, 6, 8, 9, 11, 12, 15, 17, 18, 19, 21,...",60.616438
6659,chr13_110492029_110492108_110492064_110492065,5.000697,22,"[43, 52, 53, 64, 66, 72, 98, 106, 115, 118, 13...",7.534247
6660,chr7_899451_899530_899526_899527,5.000186,1,[10],0.342466

In [52]:
selected_df['Variant Region Difference'] = selected_df['Column'].apply(variant_region_diff)
snp_df = selected_df[selected_df['Variant Region Difference'] <5]
snp_df

/tmp/ipykernel_3786287/3928254558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df['Variant Region Difference'] = selected_df['Column'].apply(variant_region_diff)

,Column,Max Value,Non-NaN Count,Non-NaN Indices,Percentage,Variant Region Difference
16,chr16_58267438_58267517_58267455_58267458,36.161531,32,"[6, 7, 25, 32, 49, 63, 65, 80, 97, 115, 128, 1...",10.958904,3
19,chr10_73797336_73797415_73797341_73797342,35.699415,3,"[17, 219, 266]",1.027397,1
32,chr12_23190232_23190311_23190241_23190245,34.806988,4,"[26, 163, 196, 290]",1.369863,4
40,chr4_52750790_52750869_52750817_52750818,34.397403,2,"[76, 240]",0.684932,1
41,chr3_175460004_175460083_175460009_175460012,34.386584,2,"[122, 257]",0.684932,3
...,...,...,...,...,...,...
6654,chr1_209623686_209623765_209623748_209623749,5.003059,6,"[73, 108, 140, 156, 167, 206]",2.054795,1
6656,chr6_29828502_29828581_29828528_29828529,5.002682,193,"[0, 1, 2, 3, 6, 7, 10, 11, 13, 14, 15, 16, 17,...",66.095890,1
6657,chr19_35259199_35259278_35259204_35259205,5.002419,1,[44],0.342466,1
6659,chr13_110492029_110492108_110492064_110492065,5.000697,22,"[43, 52, 53, 64, 66, 72, 98, 106, 115, 118, 13...",7.534247,1
6660,chr7_899451_899530_899526_899527,5.000186,1,[10],0.342466,1

In [53]:
bins = [0,1,2,3,4, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 96, 97, 98, 99, 100]
patient_stats = pd.cut(snp_df['Percentage'], bins=bins).value_counts().sort_index()
patient_stats
## 3606 unique acceptor regions with mutations are present 0-5% of patients

(0, 1]       1643
(1, 2]        480
(2, 3]        192
(3, 4]        110
(4, 5]         60
(5, 10]       203
(10, 15]      131
(15, 20]       90
(20, 25]       72
(25, 30]       59
(30, 35]       62
(35, 40]       59
(40, 45]       64
(45, 50]       60
(50, 55]       49
(55, 60]       43
(60, 65]       47
(65, 70]       50
(70, 75]       39
(75, 80]       34
(80, 85]       41
(85, 90]       57
(90, 95]       53
(95, 96]       15
(96, 97]       10
(97, 98]       13
(98, 99]       24
(99, 100]      25
Name: Percentage, dtype: int64

In [54]:
snp_df_0_5 = snp_df[(snp_df['Percentage']>0)&(snp_df['Percentage']<5)]
snp_df_0_5

,Column,Max Value,Non-NaN Count,Non-NaN Indices,Percentage,Variant Region Difference
19,chr10_73797336_73797415_73797341_73797342,35.699415,3,"[17, 219, 266]",1.027397,1
32,chr12_23190232_23190311_23190241_23190245,34.806988,4,"[26, 163, 196, 290]",1.369863,4
40,chr4_52750790_52750869_52750817_52750818,34.397403,2,"[76, 240]",0.684932,1
41,chr3_175460004_175460083_175460009_175460012,34.386584,2,"[122, 257]",0.684932,3
48,chr22_43990224_43990303_43990253_43990257,34.029755,2,"[93, 254]",0.684932,4
...,...,...,...,...,...,...
6651,chr15_57599578_57599657_57599643_57599644,5.004210,1,[161],0.342466,1
6653,chr12_120159984_120160063_120160002_120160003,5.003294,2,"[156, 206]",0.684932,1
6654,chr1_209623686_209623765_209623748_209623749,5.003059,6,"[73, 108, 140, 156, 167, 206]",2.054795,1
6657,chr19_35259199_35259278_35259204_35259205,5.002419,1,[44],0.342466,1
6660,chr7_899451_899530_899526_899527,5.000186,1,[10],0.342466,1

In [55]:
df_ref_score = pd.read_csv("/data/projects/GDC_Cancer_Wise/Brain/Data/DNABERT_result/Acceptor/df_ref_score.tsv", sep="\t")
df_alt_score = pd.read_csv("/data/projects/GDC_Cancer_Wise/Brain/Data/DNABERT_result/Acceptor/df_alt_score.tsv", sep="\t")

In [56]:
data = []
for index, row in snp_df_0_5.iterrows():
    first_non_nan_index = row['Non-NaN Indices'][0]
    if (df_ref_score[row['Column']][first_non_nan_index] >= 0.5) and (df_alt_score[row['Column']][first_non_nan_index] < 0.5):
        # Append the data to the list
        data.append({
            'Column': row['Column'],
            'Non-NaN Count': row['Non-NaN Count'],
            'Percentage': row['Percentage'],
            'Non-NaN Indices': row['Non-NaN Indices'],
            'Ref_Score': df_ref_score[row['Column']][first_non_nan_index],
            'Alt_Score': df_alt_score[row['Column']][first_non_nan_index]
        })

In [57]:
selected_df = pd.DataFrame(data)
selected_df

,Column,Non-NaN Count,Percentage,Non-NaN Indices,Ref_Score,Alt_Score
0,chr12_23190232_23190311_23190241_23190245,4,1.369863,"[26, 163, 196, 290]",0.999996,0.000008
1,chr4_52750790_52750869_52750817_52750818,2,0.684932,"[76, 240]",0.999974,0.000002
2,chr3_175460004_175460083_175460009_175460012,2,0.684932,"[122, 257]",0.999991,0.000005
3,chr22_43990224_43990303_43990253_43990257,2,0.684932,"[93, 254]",0.999997,0.000020
4,chr9_129285469_129285548_129285489_129285492,4,1.369863,"[20, 122, 143, 257]",0.999999,0.000051
...,...,...,...,...,...,...
824,chr12_95918937_95919016_95918965_95918966,1,0.342466,[96],0.944191,0.324227
825,chr2_104662704_104662783_104662724_104662725,2,0.684932,"[18, 195]",0.714249,0.068081
826,chr2_111151781_111151860_111151839_111151840,2,0.684932,"[156, 206]",0.732404,0.075777
827,chr14_102508510_102508589_102508546_102508547,8,2.739726,"[67, 91, 139, 150, 175, 189, 249, 270]",0.902581,0.221120
828,chr1_32867803_32867882_32867821_32867822,1,0.342466,[229],0.797768,0.108522

In [58]:
selected_df.sort_values(by='Non-NaN Count', ascending=False).head(10)

,Column,Non-NaN Count,Percentage,Non-NaN Indices,Ref_Score,Alt_Score
700,chr17_36437943_36438022_36438004_36438005,14,4.794521,"[7, 32, 46, 47, 62, 78, 89, 103, 124, 125, 143...",0.970737,0.279019
257,chr13_112321071_112321150_112321111_112321112,14,4.794521,"[23, 28, 35, 43, 57, 66, 94, 127, 140, 158, 16...",0.991656,0.006550
162,chr6_131874227_131874306_131874253_131874254,14,4.794521,"[13, 68, 72, 79, 80, 89, 125, 139, 151, 164, 1...",0.896389,0.000046
146,chr12_40432337_40432416_40432351_40432352,14,4.794521,"[12, 70, 82, 160, 161, 189, 201, 212, 213, 225...",0.999875,0.027183
597,chr1_35460398_35460477_35460473_35460474,14,4.794521,"[7, 32, 34, 48, 75, 78, 83, 138, 140, 162, 177...",0.854789,0.029385
440,chr11_102950188_102950267_102950235_102950236,14,4.794521,"[13, 45, 50, 61, 115, 185, 186, 210, 217, 230,...",0.977180,0.035415
630,chr22_26650192_26650271_26650215_26650216,14,4.794521,"[3, 24, 73, 74, 108, 114, 130, 135, 148, 167, ...",0.956683,0.136917
500,chr2_55315222_55315301_55315294_55315295,14,4.794521,"[12, 19, 29, 44, 68, 79, 80, 156, 164, 206, 22...",0.973460,0.057262
532,chr2_164527096_164527175_164527150_164527151,13,4.452055,"[16, 28, 106, 127, 138, 153, 177, 219, 228, 25...",0.970760,0.072912
470,chr18_29530559_29530638_29530631_29530632,13,4.452055,"[16, 84, 87, 88, 115, 146, 158, 212, 223, 258,...",0.994634,0.175897

In [59]:
with open("/data/projects/GDC_Cancer_Wise/Brain/Data/Sequence_generation/raw_acceptor_vcf_data.pkl", 'rb') as f:
        acceptor_pickle = pickle.load(f)

In [88]:
data_attn= []
for index, row in selected_df.iterrows():
    #print(row)
    target_values = row['Column'].split('_')
    # Convert numerical parts to integers
    target_values[1:] = [int(v) for v in target_values[1:]]
    
    
    patient_indices = row['Non-NaN Indices']
    for patient_index in patient_indices:
        patient_id=df['File_ID'][patient_index]
        patient_df = acceptor_pickle[df['File_ID'][patient_index]]
        selected_rows = patient_df[
            (patient_df['chr'] == target_values[0]) &
            (patient_df['Acceptor_start'] == target_values[1]) & 
            (patient_df['Acceptor_end'] == target_values[2]) & 
            (patient_df['varinat_start'] == target_values[3]) & 
            (patient_df['variant_end'] == target_values[4])
        ]
        new_selected_rows = selected_rows.copy()
        new_selected_rows['Ref_Score'] = row['Ref_Score']
        new_selected_rows['Alt_Score'] = row['Alt_Score']
        new_selected_rows.insert(0, 'patient_id', patient_id)

        data_attn.extend(new_selected_rows.to_dict('records'))
    #input()

In [89]:
df_attn = pd.DataFrame(data_attn)
df_attn =df_attn .drop(columns='index')
df_attn

,patient_id,chr,strand,Transcript_ID,Acceptor_start,Acceptor_end,varinat_start,variant_end,ref_neucleotide,alternative_neucleotide,reference_seq,alt_seq,Ref_Score,Alt_Score
0,cf245938-dd0c-42fe-9a39-09f29ff12f23,chr12,+,ENST00000545400.1,23190232,23190311,23190241,23190245,TAAA,TA,GCAAATCAGTAAAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTA...,GCAAATCAGTAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTAAC...,0.999996,0.000008
1,0bce913f-c4a0-4cc6-9a8b-a223f00cba11,chr12,+,ENST00000545400.1,23190232,23190311,23190241,23190245,TAAA,TA,GCAAATCAGTAAAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTA...,GCAAATCAGTAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTAAC...,0.999996,0.000008
2,ef52238c-1fb1-4ba7-a943-76e849f8145f,chr12,+,ENST00000545400.1,23190232,23190311,23190241,23190245,TAAA,TA,GCAAATCAGTAAAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTA...,GCAAATCAGTAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTAAC...,0.999996,0.000008
3,50014300-ff2e-49f6-857d-dd3e1f22a588,chr12,+,ENST00000545400.1,23190232,23190311,23190241,23190245,TAAA,TA,GCAAATCAGTAAAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTA...,GCAAATCAGTAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTAAC...,0.999996,0.000008
4,65723119-bdfe-46f0-b629-c171023abd71,chr4,-,ENST00000440542.1,52750790,52750869,52750817,52750818,T,TGAATAG,CGTGAGGGAAAGGTTCAGAGCACAGCCTCTATTGCCTTCCTGTTAA...,CGTGAGGGAAAGGTTCAGAGCACAGCCTGAATAGCTATTGCCTTCC...,0.999974,0.000002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2431,2fdab641-d73b-4f9a-aa4c-c1944f131a69,chr14,-,"ENST00000286918.9, ENST00000557902.1, ENST0000...",102508510,102508589,102508546,102508547,T,C,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTTATCTGTAAG...,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTCATCTGTAAG...,0.902581,0.221120
2432,45ec553b-1e7a-4b3c-86a1-c3f1547c1b43,chr14,-,"ENST00000286918.9, ENST00000557902.1, ENST0000...",102508510,102508589,102508546,102508547,T,C,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTTATCTGTAAG...,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTCATCTGTAAG...,0.902581,0.221120
2433,25bee010-cc99-4af0-ba2f-fe4dd308be33,chr14,-,"ENST00000286918.9, ENST00000557902.1, ENST0000...",102508510,102508589,102508546,102508547,T,C,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTTATCTGTAAG...,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTCATCTGTAAG...,0.902581,0.221120
2434,c71f8c39-653f-42f2-ad3e-439cf86a0738,chr14,-,"ENST00000286918.9, ENST00000557902.1, ENST0000...",102508510,102508589,102508546,102508547,T,C,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTTATCTGTAAG...,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTCATCTGTAAG...,0.902581,0.221120
2435,3ef3e4f1-9b47-4f11-9024-85242ecee397,chr1,-,"ENST00000373471.9, ENST00000496770.1, ENST0000...",32867803,32867882,32867821,32867822,T,C,GCTGTTGGTTCCTCCCCATCTCTTTCATGGTTACCTCATCTGCAGG...,GCTGTTGGTTCCTCCCCACCTCTTTCATGGTTACCTCATCTGCAGG...,0.797768,0.108522

In [90]:
filtered_df = df_attn[(df_attn['ref_neucleotide'].str.len() <=5) & (df_attn['alternative_neucleotide'].str.len() <=5)]
filtered_df

,patient_id,chr,strand,Transcript_ID,Acceptor_start,Acceptor_end,varinat_start,variant_end,ref_neucleotide,alternative_neucleotide,reference_seq,alt_seq,Ref_Score,Alt_Score
0,cf245938-dd0c-42fe-9a39-09f29ff12f23,chr12,+,ENST00000545400.1,23190232,23190311,23190241,23190245,TAAA,TA,GCAAATCAGTAAAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTA...,GCAAATCAGTAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTAAC...,0.999996,0.000008
1,0bce913f-c4a0-4cc6-9a8b-a223f00cba11,chr12,+,ENST00000545400.1,23190232,23190311,23190241,23190245,TAAA,TA,GCAAATCAGTAAAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTA...,GCAAATCAGTAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTAAC...,0.999996,0.000008
2,ef52238c-1fb1-4ba7-a943-76e849f8145f,chr12,+,ENST00000545400.1,23190232,23190311,23190241,23190245,TAAA,TA,GCAAATCAGTAAAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTA...,GCAAATCAGTAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTAAC...,0.999996,0.000008
3,50014300-ff2e-49f6-857d-dd3e1f22a588,chr12,+,ENST00000545400.1,23190232,23190311,23190241,23190245,TAAA,TA,GCAAATCAGTAAAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTA...,GCAAATCAGTAGAGTTTCCATTGATGGTTCTTTTGCAGACTCTAAC...,0.999996,0.000008
6,5fd77ba9-5015-4d8b-86a0-582e5c76bdd6,chr3,+,ENST00000414826.1,175460004,175460083,175460009,175460012,CAT,C,TTTCACATGTTTATGTTGTTTTCTGTTATTGCTATTACAGATTATA...,TTTCACGTTTATGTTGTTTTCTGTTATTGCTATTACAGATTATACT...,0.999991,0.000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2431,2fdab641-d73b-4f9a-aa4c-c1944f131a69,chr14,-,"ENST00000286918.9, ENST00000557902.1, ENST0000...",102508510,102508589,102508546,102508547,T,C,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTTATCTGTAAG...,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTCATCTGTAAG...,0.902581,0.221120
2432,45ec553b-1e7a-4b3c-86a1-c3f1547c1b43,chr14,-,"ENST00000286918.9, ENST00000557902.1, ENST0000...",102508510,102508589,102508546,102508547,T,C,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTTATCTGTAAG...,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTCATCTGTAAG...,0.902581,0.221120
2433,25bee010-cc99-4af0-ba2f-fe4dd308be33,chr14,-,"ENST00000286918.9, ENST00000557902.1, ENST0000...",102508510,102508589,102508546,102508547,T,C,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTTATCTGTAAG...,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTCATCTGTAAG...,0.902581,0.221120
2434,c71f8c39-653f-42f2-ad3e-439cf86a0738,chr14,-,"ENST00000286918.9, ENST00000557902.1, ENST0000...",102508510,102508589,102508546,102508547,T,C,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTTATCTGTAAG...,GTGGGTATATCACAGTCCCTGGCCGAGCCTCAGCTTCATCTGTAAG...,0.902581,0.221120
2435,3ef3e4f1-9b47-4f11-9024-85242ecee397,chr1,-,"ENST00000373471.9, ENST00000496770.1, ENST0000...",32867803,32867882,32867821,32867822,T,C,GCTGTTGGTTCCTCCCCATCTCTTTCATGGTTACCTCATCTGCAGG...,GCTGTTGGTTCCTCCCCACCTCTTTCATGGTTACCTCATCTGCAGG...,0.797768,0.108522

In [91]:
filtered_df[filtered_df['Acceptor_start']==1925899]

,patient_id,chr,strand,Transcript_ID,Acceptor_start,Acceptor_end,varinat_start,variant_end,ref_neucleotide,alternative_neucleotide,reference_seq,alt_seq,Ref_Score,Alt_Score
1412,bbcc5f2c-08f5-424d-8a66-099084f3c47e,chr1,-,"ENST00000412120.2, ENST00000464311.5, ENST0000...",1925899,1925978,1925923,1925924,C,T,CGTGCCTCTCTTGGTGATGATGTCCAGTGTTTCTTGAGCCTAAAGA...,CGTGCCTCTCTTGGTGATGATGTCTAGTGTTTCTTGAGCCTAAAGA...,0.995879,0.255925
1413,706fe100-2e22-4ce8-8730-6515c2db7ace,chr1,-,"ENST00000412120.2, ENST00000464311.5, ENST0000...",1925899,1925978,1925923,1925924,C,T,CGTGCCTCTCTTGGTGATGATGTCCAGTGTTTCTTGAGCCTAAAGA...,CGTGCCTCTCTTGGTGATGATGTCTAGTGTTTCTTGAGCCTAAAGA...,0.995879,0.255925

In [92]:
# Group by all columns except 'patient_id' and aggregate 'patient_id' into a list
grouped_df = filtered_df.groupby(
    filtered_df.columns.drop('patient_id').tolist()
).agg({'patient_id': list}).reset_index()

grouped_df

,chr,strand,Transcript_ID,Acceptor_start,Acceptor_end,varinat_start,variant_end,ref_neucleotide,alternative_neucleotide,reference_seq,alt_seq,Ref_Score,Alt_Score,patient_id
0,chr1,+,"ENST00000246151.9, ENST00000374524.1, ENST0000...",23786274,23786353,23786322,23786323,G,A,ATAATTCATACCTTCTTTCCCTATTCCTGTCATCCTCTAGAATTTC...,ATAATTCATACCTTCTTTCCCTATTCCTGTCATCCTCTAGAATTTC...,0.700227,0.032903,"[6fee80f8-11cb-4de7-aded-e586708d2368, f98de26..."
1,chr1,+,"ENST00000261464.10, ENST00000336184.6, ENST000...",211371261,211371340,211371265,211371266,A,G,ACTAATTTTTTAAACATGATTATCCATTTTGTAATGAAAGGTTTTT...,ACTAGTTTTTTAAACATGATTATCCATTTTGTAATGAAAGGTTTTT...,0.980296,0.004916,"[e849abef-b55e-4124-b760-09101a7c4390, b020b62..."
2,chr1,+,ENST00000271588.9,186078066,186078145,186078129,186078130,C,T,TAAGATTAGAGGAGTAAACATAGTGGGATATTATTTTCAGGAGGGC...,TAAGATTAGAGGAGTAAACATAGTGGGATATTATTTTCAGGAGGGC...,0.992662,0.020286,"[0332b017-17d5-4083-8fc4-9d6f8fdbbbde, 8faa4b6..."
3,chr1,+,"ENST00000292357.8, ENST00000338302.7, ENST0000...",156912729,156912808,156912797,156912798,G,A,GCCAAGATGCCATTCTGAGTGAGCACCCCATTCCACACAGGAATCC...,GCCAAGATGCCATTCTGAGTGAGCACCCCATTCCACACAGGAATCC...,0.974504,0.078847,"[5fd77ba9-5015-4d8b-86a0-582e5c76bdd6, 54c65bd..."
4,chr1,+,ENST00000294428.7,64804693,64804772,64804703,64804707,TAAA,TAA,TTTTCAAAATTAAACTGACAACGTTTTGTCATTTTCACAGAGCTCA...,TTTTCAAAATTAACTGACAACGTTTTGTCATTTTCACAGAGCTCAG...,0.999974,0.064063,"[d85192d7-683f-4214-b8de-ae2e4ff2405c, 25bee01..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
821,chrX,-,ENST00000438499.1,6668090,6668169,6668146,6668147,G,T,GATTCTCCTCCAATGCATCACATTTTTATTCCCCTGTCCCTGTGGG...,GATTCTCCTCCAATGCATCACATTTTTATTCCCCTGTCCCTGTGGG...,0.741388,0.010471,"[e7b36f2d-9ab1-4a46-b669-65367b841752, c087084..."
822,chrX,-,ENST00000480178.1,9748034,9748113,9748044,9748045,T,G,AGGAAATGCTTGAGACAGTTCCAGCGGCCACATCTCCCTCTGTGTG...,AGGAAATGCTGGAGACAGTTCCAGCGGCCACATCTCCCTCTGTGTG...,0.636375,0.043710,"[cf245938-dd0c-42fe-9a39-09f29ff12f23, 0bce913..."
823,chrX,-,ENST00000494525.1,21733718,21733797,21733771,21733772,G,A,TCCTCTTCAATTCTTTGATATCACTGAGTTCTTTTACCACTGGAAA...,TCCTCTTCAATTCTTTGATATCACTGAGTTCTTTTACCACTGGAAA...,0.702985,0.007422,[41d50a3c-49fc-4d8a-9c25-bbbcd3a5da6f]
824,chrX,-,ENST00000624824.1,15702688,15702767,15702716,15702717,A,G,TGGCACACGGCGCCTTGTGCACTTTCCAACATTTTGATGCTAACCG...,TGGCACACGGCGCCTTGTGCACTTTCCAGCATTTTGATGCTAACCG...,0.939159,0.000969,"[0332b017-17d5-4083-8fc4-9d6f8fdbbbde, 8faa4b6..."
825,chrX,-,ENST00000649154.1,120015469,120015548,120015503,120015504,G,T,CTGGTCCGAGTTCCGGCGCGTGGACTTCGGGTCGGACGCCTGCAGG...,CTGGTCCGAGTTCCGGCGCGTGGACTTCGGGTCGTACGCCTGCAGG...,0.790346,0.038582,[55952783-8c2c-4528-a544-b4c962ab634a]

In [93]:
def seq2kmer(seq):
    """
    Convert original sequence to kmers
    
    Arguments:
    seq -- str, original sequence.
    k -- int, kmer of length k specified.
    
    Returns:
    kmers -- str, kmers separated by space
    """
    k=6
    kmer = [seq[x:x+k] for x in range(len(seq)+1-k)]
    kmers = " ".join(kmer)
    return kmers

In [95]:
merged_list = list(zip(grouped_df['reference_seq'], grouped_df['alt_seq']))
merged_list = [item.upper() for tup in merged_list for item in tup]
#print(merged_list)
kmer_lst = list(map(seq2kmer, merged_list))
df_kmer = pd.DataFrame(kmer_lst, columns=['Sequence'])
df_kmer['Label'] = np.random.choice([0, 1], size=len(df_kmer))
df_kmer

                                               Sequence  Label
0     ATAATT TAATTC AATTCA ATTCAT TTCATA TCATAC CATA...      1
1     ATAATT TAATTC AATTCA ATTCAT TTCATA TCATAC CATA...      1
2     ACTAAT CTAATT TAATTT AATTTT ATTTTT TTTTTT TTTT...      0
3     ACTAGT CTAGTT TAGTTT AGTTTT GTTTTT TTTTTT TTTT...      0
4     TAAGAT AAGATT AGATTA GATTAG ATTAGA TTAGAG TAGA...      1
...                                                 ...    ...
1647  TCCTCT CCTCTT CTCTTC TCTTCA CTTCAA TTCAAT TCAA...      1
1648  TGGCAC GGCACA GCACAC CACACG ACACGG CACGGC ACGG...      0
1649  TGGCAC GGCACA GCACAC CACACG ACACGG CACGGC ACGG...      1
1650  CTGGTC TGGTCC GGTCCG GTCCGA TCCGAG CCGAGT CGAG...      0
1651  CTGGTC TGGTCC GGTCCG GTCCGA TCCGAG CCGAGT CGAG...      1

[1652 rows x 2 columns]

In [96]:
df_kmer.to_csv("/data/projects/GDC_Cancer_Wise/Brain/Data/Visualization_data/Acceptor/dev.tsv", sep="\t", index=False)