In [1]:
import pandas as pd
import numpy as np

In [2]:
def seq2kmer(seq):
    """
    Convert original sequence to kmers
    
    Arguments:
    seq -- str, original sequence.
    k -- int, kmer of length k specified.
    
    Returns:
    kmers -- str, kmers separated by space
    """
    k=6
    kmer = [seq[x:x+k] for x in range(len(seq)+1-k)]
    kmers = " ".join(kmer)
    return kmers

In [4]:
df_dev_path = "/data/projects/Enhancer/RECOMB_2024/dev.tsv"

In [8]:
df= pd.read_csv(df_dev_path, sep=" ")
df

,coord,sequence,label
0,chr5:161584159-161584358,ATTTGCTGGATTTTTGTGTAAAAGCAAACATTCTAATAATTTGACA...,0.0
1,chrX:61109440-61109639,CTCGCAGAGATGAACCTGCCTTTGAGAGTTCAGGTTCGAAACACTC...,0.0
2,chr4:60396362-60396561,GAATCTTTGCTATCCTTGCCCAGAAAGACCACTGTGATTCTTTCTT...,1.0
3,chrY:15129869-15130068,TACATCTTCAGCAACTTCATTTAGGTAACATTTTTGAAATGACAGA...,0.0
4,chrX:19241596-19241795,TGATATCTGTCATTTACCAGTTGGGTGACTTGGGGAAGGCTACTAA...,0.0
...,...,...,...
145645,chr17:38529778-38529977,AACCTCCACCTCCTGGGTTCAAGCGATTCTCATGCCTCAGCCACCC...,0.0
145646,chr6:123291755-123291954,CAAATTTTCTAAAGGTATTAATTTGCTAAATTACCAGAAAATTTTA...,0.0
145647,chr15:45749101-45749300,TTAAAAATATTTTCTTCCAATCTGTAGCTTGCCTTTTCATTTTGTT...,0.0
145648,chr12:62122443-62122642,ACACTCAGGCTCTAGGTGCTCCTTTAAGCATTGACTTTTTATCTCA...,1.0
145649,chr11:6263678-6263877,CCCAGGCTGGTCTCTAAATCCTTGGCTTAAGAGATCTGCCCACCTC...,1.0

In [9]:
df_kmer= pd.DataFrame()

In [14]:
df_kmer['Sequence'] = df['sequence'].apply(seq2kmer)
df_kmer['Label'] =  df['label'].astype(int)

In [15]:
df_kmer

                                                 Sequence  Label
0       ATTTGC TTTGCT TTGCTG TGCTGG GCTGGA CTGGAT TGGA...      0
1       CTCGCA TCGCAG CGCAGA GCAGAG CAGAGA AGAGAT GAGA...      0
2       GAATCT AATCTT ATCTTT TCTTTG CTTTGC TTTGCT TTGC...      1
3       TACATC ACATCT CATCTT ATCTTC TCTTCA CTTCAG TTCA...      0
4       TGATAT GATATC ATATCT TATCTG ATCTGT TCTGTC CTGT...      0
...                                                   ...    ...
145645  AACCTC ACCTCC CCTCCA CTCCAC TCCACC CCACCT CACC...      0
145646  CAAATT AAATTT AATTTT ATTTTC TTTTCT TTTCTA TTCT...      0
145647  TTAAAA TAAAAA AAAAAT AAAATA AAATAT AATATT ATAT...      0
145648  ACACTC CACTCA ACTCAG CTCAGG TCAGGC CAGGCT AGGC...      1
145649  CCCAGG CCAGGC CAGGCT AGGCTG GGCTGG GCTGGT CTGG...      1

[145650 rows x 2 columns]

In [16]:
df_kmer.to_csv("/data/projects/Enhancer/Finetuned_data/Consensus_data/Evaluation_data/dev.tsv", sep="\t", index= False)