In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import seaborn as sns

In [2]:
attention_score_path = "/data/projects/Enhancer/DNABERT_Output/Visualization_Enhancer_Encode/Predictions/atten_score200.npy"
prediction_path = "/data/projects/Enhancer/DNABERT_Output/Visualization_Enhancer_Encode/Predictions/pred_results.npy"
data_path = "/data/projects/Enhancer/Finetuned_data/Consensus_filter_1/Visualization/dev.tsv"
raw_data_path = "/data/projects/Enhancer/Finetuned_data/Consensus_filter_1/RF_dev.tsv"

In [3]:
attention_data = np.load(attention_score_path)
pred_result = np.load(prediction_path)
data = pd.read_csv(data_path, sep="\t") 
raw_data = pd.read_csv(raw_data_path, sep="\t")

In [4]:
pred_result

array([0.80196536, 0.00386043, 0.1981992 , ..., 0.21390572, 0.39133212,
       0.8598932 ], dtype=float32)

In [5]:
attention_data

array([[0.15736438, 0.12613323, 0.12205527, ..., 0.08286749, 0.09156235,
        0.1009498 ],
       [0.0706074 , 0.06797632, 0.07054477, ..., 0.04955077, 0.04924984,
        0.05282408],
       [0.12788138, 0.13338041, 0.12745156, ..., 0.05847935, 0.06300342,
        0.08041372],
       ...,
       [0.13845803, 0.12782378, 0.12814937, ..., 0.08183175, 0.08405915,
        0.07355097],
       [0.06446469, 0.09207337, 0.08236827, ..., 0.0796929 , 0.08804073,
        0.11264496],
       [0.0781696 , 0.08220336, 0.08146374, ..., 0.06815664, 0.07253033,
        0.09001699]])

In [6]:
data

                                               Sequence  Label
0     TCCTTT CCTTTC CTTTCT TTTCTG TTCTGC TCTGCA CTGC...      1
1     TCAAAT CAAATA AAATAA AATAAA ATAAAA TAAAAA AAAA...      0
2     CCACCA CACCAA ACCAAG CCAAGG CAAGGA AAGGAG AGGA...      0
3     CATTTA ATTTAA TTTAAA TTAAAT TAAATT AAATTT AATT...      0
4     AAGTTG AGTTGA GTTGAA TTGAAA TGAAAT GAAATT AAAT...      0
...                                                 ...    ...
3186  CCCACC CCACCA CACCAC ACCACC CCACCA CACCAC ACCA...      1
3187  TATTTT ATTTTA TTTTAT TTTATT TTATTT TATTTT ATTT...      0
3188  GAGATA AGATAA GATAAC ATAACT TAACTT AACTTA ACTT...      1
3189  TCATCT CATCTT ATCTTC TCTTCT CTTCTA TTCTAA TCTA...      1
3190  CCTGCC CTGCCT TGCCTG GCCTGA CCTGAG CTGAGC TGAG...      1

[3191 rows x 2 columns]

In [7]:
data[data['Label']==1]

                                               Sequence  Label
0     TCCTTT CCTTTC CTTTCT TTTCTG TTCTGC TCTGCA CTGC...      1
10    CGCTAG GCTAGG CTAGGC TAGGCA AGGCAT GGCATG GCAT...      1
11    GAGGTG AGGTGG GGTGGA GTGGAA TGGAAT GGAATC GAAT...      1
12    TAGGTT AGGTTT GGTTTT GTTTTA TTTTAC TTTACA TTAC...      1
13    TCTTGC CTTGCA TTGCAC TGCACA GCACAC CACACA ACAC...      1
...                                                 ...    ...
3184  GTGGAC TGGACC GGACCG GACCGG ACCGGG CCGGGC CGGG...      1
3186  CCCACC CCACCA CACCAC ACCACC CCACCA CACCAC ACCA...      1
3188  GAGATA AGATAA GATAAC ATAACT TAACTT AACTTA ACTT...      1
3189  TCATCT CATCTT ATCTTC TCTTCT CTTCTA TTCTAA TCTA...      1
3190  CCTGCC CTGCCT TGCCTG GCCTGA CCTGAG CTGAGC TGAG...      1

[1508 rows x 2 columns]

In [8]:
true_data = raw_data[['coord',"sequence","label"]]
true_data

,coord,sequence,label
0,chr13:23652031-23652230,TCCTTTCTGCACAGGGTTATTACAGCGCCCAGAAAGTGGGTATGTA...,1
1,chr14:17061576-17061775,TCAAATAAAAACTAGACAGAAGCATTCTCATAAGCTTGTTTGTGAT...,0
2,chr9:24999931-25000130,CCACCAAGGAGACCTCATTTGTAGATTTGGCAAAGTATGGCACAAT...,0
3,chr18:52169445-52169644,CATTTAAATTTTAAATGTATTTAACATTTAGAGAATAGTATAAATA...,0
4,chr9:32366053-32366252,AAGTTGAAATTAAATAAATCCTAAATTTGAATCAGGTGTGTTGGTA...,0
...,...,...,...
3186,chr9:38725772-38725971,CCCACCACCACGCCTGGCTAATTTTTCTGTATTTTCAGTAGAGATG...,1
3187,chr1:105315643-105315842,TATTTTATTTTTACTGTTTTGTCCCACATGAGCTTGCTTATATATT...,0
3188,chr7:27950006-27950205,GAGATAACTTACCTGCTTTTCACGATACTTTTGATACAATCTCATT...,1
3189,chr2:171047833-171048032,TCATCTTCTAACCACTCTGGATTATATCACCAATTATAAACGGCTT...,1
3190,chr15:41720338-41720537,CCTGCCTGAGCAACATAGCAATACTTCCATCTCTACTAAAAATAAA...,1

In [9]:
categorical_predictions = (pred_result > 0.5).astype(int)
true_data['Prediction_result'] = categorical_predictions 
true_data

df_visualize = true_data[(true_data['label'] == 1) & (true_data['Prediction_result'] == 1)]
# df_visualize_all = df_visualize.merge(true_data, left_index=True, right_index=True, how='inner')
df_visualize

/tmp/ipykernel_542008/3111908572.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  true_data['Prediction_result'] = categorical_predictions

,coord,sequence,label,Prediction_result
0,chr13:23652031-23652230,TCCTTTCTGCACAGGGTTATTACAGCGCCCAGAAAGTGGGTATGTA...,1,1
11,chr10:45519836-45520035,GAGGTGGAATCAGTAAAACTTATTGATGAGTGGCGCATTAAGAGCA...,1,1
12,chr3:193057772-193057971,TAGGTTTTACAATTCCTTTCAACACCAAATTAAGATCAGAAGGTAT...,1,1
13,chr3:77507468-77507667,TCTTGCACACAGAAGACTGCAAGAATGGGCTCTGCCTATCTAAAAA...,1,1
18,chr1:187980069-187980268,GCACTGTGGCTCATGCCTGTAATCCCAGCACTTTGGGAGGCTGAGG...,1,1
...,...,...,...,...
3181,chr5:64261727-64261926,ATATCAGGTGGAAAGAAACAAAGCTGCTCAAGTGAGAACAACCAAA...,1,1
3183,chr12:43813667-43813866,TCTACACTCTCAAAGAAGCTCATTTCAAGGCCCTTCCTTACTCAGT...,1,1
3184,chr1:204552002-204552201,GTGGACCGGGCGTAGTGGCTCACGCCTGTAATCCCAACACTTTGGG...,1,1
3186,chr9:38725772-38725971,CCCACCACCACGCCTGGCTAATTTTTCTGTATTTTCAGTAGAGATG...,1,1
3190,chr15:41720338-41720537,CCTGCCTGAGCAACATAGCAATACTTCCATCTCTACTAAAAATAAA...,1,1

In [10]:
positive_attention_score = attention_data[df_visualize.index.values]
positive_attention_score

array([[0.15736438, 0.12613323, 0.12205527, ..., 0.08286749, 0.09156235,
        0.1009498 ],
       [0.14155952, 0.11704731, 0.10161122, ..., 0.08688743, 0.08341995,
        0.08914666],
       [0.1592955 , 0.13399013, 0.1245085 , ..., 0.06538571, 0.06437823,
        0.0754427 ],
       ...,
       [0.09295924, 0.08530137, 0.08252531, ..., 0.05208671, 0.04840521,
        0.05569853],
       [0.08796743, 0.09712145, 0.10442137, ..., 0.0893162 , 0.10288811,
        0.11376228],
       [0.0781696 , 0.08220336, 0.08146374, ..., 0.06815664, 0.07253033,
        0.09001699]])

In [11]:
len(true_data["sequence"][0].split())

1

In [12]:
# Limit the rows to top 5
data = df_visualize
attention_data = positive_attention_score

In [13]:
positive_attention_score.shape

(1200, 200)

In [14]:
#seq_wise_vis_dir = "/data/projects/Enhancer/DNABERT_Output/Visualization_Enhancer_Encode/Predictions/V"
seqwise_attention_path = os.path.dirname(attention_score_path)+"/Visualization/Nucleotide_wise_attention_map"
if not os.path.exists(seqwise_attention_path):
    os.makedirs(seqwise_attention_path)

In [21]:
kmers =data['sequence'].apply(list).tolist()
num_columns = attention_data.shape[1]
print(num_columns)

        
# For each sequence, create and save a heatmap
for i, sequence in enumerate(kmers):
    reshaped_data = attention_data[i].reshape(4, 50)
    reshaped_kmers = np.array(sequence).reshape(4, 50)
    
    plt.figure(figsize=(18, 3))
    sns.heatmap(reshaped_data, cmap='YlGnBu', cbar=True, annot=reshaped_kmers, fmt='', annot_kws={"size": 8})
    title = data['coord'].iloc[i]
    if((i%100)==0):
        print(i , title)
    plt.title(title)
    plt.savefig(seqwise_attention_path+"/"+f"{title}.png")
    plt.close()
    input()

200
0 chr13:23652031-23652230

KeyboardInterrupt: Interrupted by user

In [ ]:
# Get the list of k-mers
kmers = data['Sequence'].str.split().tolist()

In [ ]:
len(kmers[1])

195