In [10]:
import pandas as pd
import numpy as np
import torch

In [11]:
input_path = "/data/projects/Enhancer/DNABERT_feature/Greater_CpG2/random_12K/cached_train_6-new-12w-0_200_dnaprom"
data = torch.load(input_path)

In [12]:
data[0]

InputFeatures(input_ids=[2, 4005, 3719, 2573, 2086, 137, 536, 2130, 316, 1249, 885, 3525, 1799, 3087, 47, 176, 692, 2754, 2811, 3038, 3947, 3486, 1641, 2455, 1614, 2345, 1173, 581, 2309, 1029, 6, 9, 22, 73, 277, 1093, 261, 1029, 6, 10, 25, 88, 339, 1343, 1261, 936, 3732, 2627, 2304, 1010, 4028, 3812, 2946, 3580, 2020, 3971, 3583, 2030, 4012, 3747, 2688, 2547, 1983, 3822, 2988, 3746, 2681, 2520, 1874, 3387, 1247, 879, 3501, 1704, 2705, 2614, 2249, 791, 3150, 299, 1181, 616, 2452, 1601, 2296, 980, 3907, 3326, 1004, 4001, 3704, 2516, 1859, 3325, 997, 3976, 3601, 2104, 209, 821, 3270, 778, 3100, 99, 382, 1514, 1948, 3681, 2421, 1479, 1807, 3119, 173, 680, 2708, 2625, 2296, 980, 3907, 3328, 1012, 4033, 3832, 3028, 3906, 3322, 988, 3939, 3453, 1512, 1939, 3645, 2280, 914, 3644, 2273, 888, 3539, 1854, 3308, 929, 3704, 2513, 1847, 3278, 812, 3234, 636, 2532, 1923, 3581, 2023, 3982, 3628, 2211, 637, 2535, 1934, 3627, 2207, 621, 2472, 1683, 2623, 2286, 940, 3748, 2692, 2562, 2044, 4065, 3959, 3533, 1832, 3217, 568, 2258, 825, 3285, 840, 3345, 1079, 206, 811, 3230, 620, 2466, 1659, 2525, 1893, 3461, 1543, 2061, 37, 133, 519, 3, 0, 0, 0], attention_mask=[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0], token_type_ids=[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], label=1)

In [13]:
all_input_ids = [item.input_ids for item in data]

In [14]:
df = pd.DataFrame(all_input_ids)
df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,2,4005,3719,2573,2086,137,536,2130,316,1249,...,3461,1543,2061,37,133,519,3,0,0,0
1,2,2659,2429,1510,1930,3611,2143,365,1445,1672,...,2605,2215,656,2611,2239,750,3,0,0,0
2,2,1934,3628,2212,642,2556,2018,3964,3553,1910,...,1411,1535,2030,4011,3743,2671,3,0,0,0
3,2,967,3855,3118,172,674,2684,2530,1916,3555,...,2156,417,1655,2510,1836,3236,3,0,0,0
4,2,575,2286,939,3743,2671,2478,1707,2719,2670,...,1934,3628,2211,639,2543,1966,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,2,2627,2301,998,3980,3620,2178,508,2020,3971,...,2325,1094,267,1055,111,429,3,0,0,0
23996,2,894,3564,1954,3706,2522,1882,3418,1371,1373,...,3617,2165,456,1810,3131,221,3,0,0,0
23997,2,1378,1401,1496,1873,3384,1233,823,3277,808,...,1997,3877,3206,523,2077,101,3,0,0,0
23998,2,3968,3572,1986,3836,3044,3971,3582,2027,3997,...,382,1516,1956,3713,2552,2004,3,0,0,0
23999,2,2455,1614,2348,1187,637,2536,1940,3652,2308,...,2707,2622,2281,920,3668,2369,3,0,0,0

In [5]:
df_200 = df.sample(200)
df_200

,0,1,2,3,4,5,6,7,8,9,...,185,186,187,188,189,190,191,192,193,194
3380,3556,1924,3587,2046,4075,3997,3687,2448,1585,2229,...,1375,1390,1451,1693,2663,2446,1579,2206,619,2463
11210,6,10,25,85,325,1285,1031,13,38,137,...,4004,3713,2551,2000,3890,3260,740,2946,3580,2020
20555,1601,2296,978,3898,3291,861,3429,1416,1553,2103,...,3959,3533,1832,3217,568,2259,829,3301,904,3601
20016,964,3843,3071,4077,4007,3725,2600,2195,574,2284,...,3976,3602,2107,221,870,3466,1564,2145,373,1478
12512,3069,4070,3980,3620,2178,508,2020,3970,3580,2020,...,3208,532,2115,253,997,3976,3602,2107,222,875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5832,2091,157,613,2439,1551,2094,171,671,2671,2477,...,939,3741,2661,2437,1543,2062,42,154,602,2396
12478,140,548,2178,508,2017,3957,3525,1799,3087,47,...,2437,1541,2053,5,5,5,5,5,5,5
7797,3233,632,2516,1860,3329,1016,4052,3908,3332,1025,...,995,3966,3563,1951,3694,2474,1692,2660,2435,1534
10264,258,1017,4053,3911,3344,1073,181,709,2821,3080,...,925,3685,2440,1556,2113,248,980,3907,3327,1006
11649,1807,3118,170,668,2660,2435,1534,2026,3996,3682,...,3620,2178,506,2012,3939,3454,1515,1949,3687,2445

In [6]:
df_200.to_csv("embedding.csv", sep=",")