In [1]:
import os
import glob
import pandas as pd
# os.chdir("/directory")

In [10]:
data_path= "/mnt/data05/shared/pdutta_data/DNABERT_data/Promoter_prediction/"

In [5]:
file_extension = '.tsv'
all_filenames = [i for i in glob.glob(f"*{file_extension}")]

In [6]:
all_filenames

[]

In [13]:
csv_files = []
for file in os.listdir(data_path):
    if file.endswith(".tsv") and file.startswith("t"):
        csv_files.append(file)

In [15]:
csv_files

['train.tsv', 'test.tsv']

In [17]:
combined_csv_data = pd.concat([pd.read_csv(data_path+f,  sep='\t') for f in csv_files])
combined_csv_data.drop_duplicates().reset_index(drop=True)

                                                 sequence  label
0       GCAGGT CAGGTG AGGTGG GGTGGT GTGGTA TGGTAT GGTA...      0
1       CCTTTC CTTTCT TTTCTG TTCTGG TCTGGT CTGGTC TGGT...      1
2       caagca aagcac agcaca gcacag cacagg acagga cagg...      0
3       tagtta agttaa gttaaa ttaaaa taaaag aaaagt aaag...      0
4       aacaga acagaa cagaaa agaaac gaaaca aaacaa aaca...      0
...                                                   ...    ...
381589  GGCCGG GCCGGA CCGGAC CGGACT GGACTG GACTGG ACTG...      1
381590  ATAAAG TAAAGC AAAGCC AAGCCA AGCCAG GCCAGG CCAG...      0
381591  atttta ttttac tttaca ttacat tacatt acattt catt...      0
381592  cctagc ctagct tagcta agctac gctact ctactt tact...      0
381593  GTATAA TATAAA ATAAAT TAAATA AAATAA AATAAA ATAA...      0

[381594 rows x 2 columns]

In [18]:
combined_csv_data.to_csv(data_path+str("train_new.tsv"), index=False,  sep='\t')