In [1]:
import os, tarfile
import re
import pandas as pd
import numpy as np
import zipfile, gzip
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

In [4]:
TRAIN_PATH = "/home/pdutta/Data/Rekha_data/Enhancer/1:5/train.tsv"
TEST_PATH = "/home/pdutta/Data/Rekha_data/Enhancer/1:5/dev.tsv"

In [11]:
train_csv  =  pd.read_csv(TRAIN_PATH,  sep='\t')
print(train_csv.shape)
test_csv  =  pd.read_csv(TEST_PATH,  sep='\t')
print (test_csv.shape)

(189232, 2)
(21026, 2)

In [12]:
all_data = pd.concat([train_csv, test_csv], ignore_index=True)
print(all_data.shape)
print (all_data.head())
print(all_data.groupby(['Label']).size())

(210258, 2)
                                            Sequence  Label
0  AAAACA AAACAG AACAGA ACAGAT CAGATG AGATGT GATG...      1
1  ATAATG TAATGT AATGTA ATGTAC TGTACA GTACAT TACA...      1
2  GATGAG ATGAGT TGAGTG GAGTGT AGTGTA GTGTAT TGTA...      1
3  ATATTT TATTTT ATTTTA TTTTAG TTTAGC TTAGCA TAGC...      1
4  ACATCC CATCCA ATCCAC TCCACT CCACTT CACTTC ACTT...      1
Label
0     35043
1    175215
dtype: int64

In [27]:
all_data = shuffle(all_data).reset_index(drop=True)
all_data.head(10)

                                            Sequence  Label
0  ATTAAC TTAACT TAACTA AACTAA ACTAAC CTAACA TAAC...      1
1  TAATTA AATTAC ATTACC TTACCA TACCAA ACCAAT CCAA...      1
2  TTGGAG TGGAGG GGAGGG GAGGGA AGGGAA GGGAAA GGAA...      1
3  TAAAAT AAAATT AAATTT AATTTC ATTTCC TTTCCC TTCC...      1
4  CAGTTG AGTTGG GTTGGT TTGGTG TGGTGC GGTGCT GTGC...      1
5  TCTTCG CTTCGG TTCGGC TCGGCT CGGCTG GGCTGT GCTG...      1
6  ACAAAC CAAACG AAACGC AACGCC ACGCCT CGCCTT GCCT...      1
7  CATTGA ATTGAC TTGACT TGACTC GACTCC ACTCCA CTCC...      0
8  ATTGGG TTGGGG TGGGGC GGGGCA GGGCAG GGCAGC GCAG...      1
9  TCAAGA CAAGAC AAGACA AGACAG GACAGC ACAGCT CAGC...      0

# Creating train and testing dataset

In [28]:
train, test = train_test_split(all_data, test_size=0.15)
train, val = train_test_split(train, test_size=0.20)
print (train.shape, test.shape, val.shape)
print(train.groupby(['Label']).size(), test.groupby(['Label']).size() , val.groupby(['Label']).size())

(142975, 2) (31539, 2) (35744, 2)
Label
0     23856
1    119119
dtype: int64 Label
0     5256
1    26283
dtype: int64 Label
0     5931
1    29813
dtype: int64

In [29]:
train.to_csv("/home/pdutta/Data/Rekha_data/Enhancer/1:5_new/train.tsv", sep="\t", index=False)
test.to_csv("/home/pdutta/Data/Rekha_data/Enhancer/1:5_new/dev.tsv", sep="\t", index=False)
val.to_csv("/home/pdutta/Data/Rekha_data/Enhancer/1:5_new/Evaluation_data/dev.tsv", sep="\t", index=False)