In [10]:
import os, tarfile
import re
import pandas as pd
import numpy as np
import zipfile, gzip
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

In [11]:
pd.set_option('display.max_columns', None)
pd.options.display.max_colwidth =50

In [21]:
DATA_PATH = "/home/pdutta/Data/DREAM_challenge/Training_folder/train_Q1_Q3.csv"
TEST_PATH = "/home/pdutta/Data/Rekha_data/Enhancer/1:5/dev.tsv"

In [22]:
train_csv  =  pd.read_csv(DATA_PATH , index_col=[0])

In [23]:
train_csv

                                                  sequence      label
0        TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...   8.000000
1        TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...  12.000000
2        TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...  11.000000
3        TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...   8.087311
4        TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...   9.000000
...                                                    ...        ...
3283720  TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...  12.000000
3283721  TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...   8.513264
3283722  TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...  10.000000
3283723  TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...  11.000000
3283724  TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...  12.000000

[3283725 rows x 2 columns]

In [26]:
print(train_csv.groupby(['label']).size())

label
0.000000      286
0.000387        1
0.000734        1
0.000890        1
0.000910        1
             ...
16.999201       1
16.999210       1
16.999245       1
16.999523       1
17.000000    5909
Length: 571333, dtype: int64

In [25]:
all_data = shuffle(train_csv).reset_index(drop=True)
all_data.head(10)

                                            sequence      label
0  TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...  10.949941
1  TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...  11.000000
2  TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...  13.000000
3  TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...  10.710841
4  TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...   9.244822
5  TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...  11.000000
6  TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...  15.000000
7  TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...   9.613097
8  TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...  14.000000
9  TGCATT GCATTT CATTTT ATTTTT TTTTTT TTTTTT TTTT...   9.000000

# Creating train and testing dataset

In [27]:
train, test = train_test_split(all_data, test_size=0.20)
print (train.shape, test.shape)

(2626980, 2) (656745, 2)

In [28]:
train.to_csv("/home/pdutta/Data/DREAM_challenge/Training_folder/Train_Q1_Q3/train.tsv", sep="\t", index=False)
test.to_csv("/home/pdutta/Data/DREAM_challenge/Training_folder/Train_Q1_Q3/dev.tsv", sep="\t", index=False)

In [9]:
train.head(100).to_csv("/home/pdutta/Data/DREAM_challenge/Training_folder/temp/train.tsv", sep="\t", index=False)
test.head(100).to_csv("/home/pdutta/Data/DREAM_challenge/Training_folder/temp/dev.tsv", sep="\t", index=False)