In [1]:
import os, tarfile
import re
import pandas as pd
import numpy as np
import zipfile, gzip
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
UP_FOLDER_PATH = "/mnt/data05/shared/pdutta_data/DNABERT_data/Pallavi_data/UP/"
DWN_FOLDER_PATH = "/mnt/data05/shared/pdutta_data/DNABERT_data/Pallavi_data/DWN/"
CONTROL_PATH = "/mnt/data05/shared/pdutta_data/DNABERT_data/Pallavi_data/Control_housekeeping_p0.1_Tc20tissues_noDEA.txt"

In [18]:
for f in os.listdir(UP_FOLDER_PATH):
    tissue_up_csv  =  pd.read_csv(UP_FOLDER_PATH+f,  sep=',')
    experiment_csv  =pd.read_csv(CONTROL_PATH ,sep=",")
    all_data = pd.concat([tissue_up_csv, experiment_csv], ignore_index=True)
    train, test = train_test_split(all_data, test_size=0.15)
    print (train.shape, test.shape)
    folder_path = "/mnt/data05/shared/pdutta_data/DNABERT_data/Pallavi_data/"+f.split('.')[0]
    if not os.path.exists(folder_path):
        os.makedirs(folder_path)
    #train.reset_index(drop=True, inplace=True)
    train.to_csv(folder_path+"/train.tsv", sep="\t", index=False)
    test.to_csv(folder_path+"/dev.tsv", sep="\t", index=False)

(180341, 2) (31826, 2)
(179310, 2) (31644, 2)
(431152, 2) (76086, 2)
(178964, 2) (31583, 2)
(243452, 2) (42963, 2)
(178196, 2) (31447, 2)

In [16]:
len(concat_up_csv.iloc[3]['Sequence'])

3814

In [14]:
experiment  =pd.read_csv(CONTROL_PATH ,sep=",")

In [15]:
experiment

                                                 Sequence  label
0       TTTTCT TTTCTG TTCTGG TCTGGG CTGGGA TGGGAG GGGA...      0
1       TTTTCT TTTCTG TTCTGG TCTGGG CTGGGA TGGGAG GGGA...      0
2       AAAAAT AAAATA AAATAA AATAAA ATAAAA TAAAAA AAAA...      0
3       GGCGGT GCGGTT CGGTTT GGTTTG GTTTGC TTTGCC TTGC...      0
4       ACATCA CATCAT ATCATT TCATTG CATTGA ATTGAT TTGA...      0
...                                                   ...    ...
187419  CCACTG CACTGA ACTGAC CTGACT TGACTG GACTGA ACTG...      0
187420  GAAAGA AAAGAC AAGACA AGACAG GACAGC ACAGCT CAGC...      0
187421  ACTGCT CTGCTG TGCTGA GCTGAG CTGAGA TGAGAG GAGA...      0
187422  ATCGGT TCGGTC CGGTCG GGTCGC GTCGCT TCGCTC CGCT...      0
187423  CACCAC ACCACC CCACCC CACCCC ACCCCC CCCCCT CCCC...      0

[187424 rows x 2 columns]