In [39]:
import os, tarfile
import re
import pandas as pd
import numpy as np
import zipfile, gzip
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

In [47]:
df_data = pd.read_csv("/home/pdutta/Data/CSIRE_students/Anooshka/raw_data/anooshka_dnabert_finetuning.csv", sep=",")

In [48]:
df_data.head()

                                            sequence  label
0  CATATG ATATGT TATGTG ATGTGA TGTGAA GTGAAA TGAA...      0
1  CAGTGG AGTGGC GTGGCT TGGCTC GGCTCA GCTCAT CTCA...      0
2  GAAATT AAATTT AATTTC ATTTCC TTTCCC TTCCCC TCCC...      0
3  TGGTTG GGTTGG GTTGGG TTGGGG TGGGGA GGGGAA GGGA...      1
4  GTCTGG TCTGGC CTGGCT TGGCTG GGCTGG GCTGGG CTGG...      1

In [49]:
print(df_data.shape)

(19807, 2)

In [50]:
df_data.dtypes

sequence    object
label        int64
dtype: object

In [40]:
df_data = shuffle(df_data).reset_index(drop=True)
df_data

                                                sequence  label
0      GGCTCG GCTCGC CTCGCC TCGCCC CGCCCG GCCCGC CCCG...      1
1      TGGTGG GGTGGA GTGGAG TGGAGA GGAGAC GAGACG AGAC...      0
2      GCGCCG CGCCGG GCCGGG CCGGGC CGGGCC GGGCCC GGCC...      1
3      AACCCC ACCCCC CCCCCA CCCCAG CCCAGC CCAGCC CAGC...      0
4      TTCATT TCATTC CATTCC ATTCCC TTCCCT TCCCTT CCCT...      0
...                                                  ...    ...
19802  TCACAA CACAAA ACAAAG CAAAGA AAAGAC AAGACC AGAC...      0
19803  GTCATC TCATCA CATCAT ATCATG TCATGA CATGAG ATGA...      0
19804  ACAGTT CAGTTT AGTTTT GTTTTA TTTTAT TTTATA TTAT...      0
19805  TGAGCC GAGCCC AGCCCA GCCCAG CCCAGG CCAGGA CAGG...      0
19806  GCGGTA CGGTAG GGTAGT GTAGTG TAGTGG AGTGGC GTGG...      1

[19807 rows x 2 columns]

In [32]:
df_data.iloc[1]

sequence    CAGTGG AGTGGC GTGGCT TGGCTC GGCTCA GCTCAT CTCA...
label                                                       0
Name: 1, dtype: object

In [23]:
df_data.groupby(['label']).size()

label
0    12942
1     6865
dtype: int64

(17826, 2) (1981, 2)
label
0    11653
1     6173
dtype: int64 label
0    1289
1     692
dtype: int64

In [58]:
df_check = pd.read_csv("/home/pdutta/Data/CSIRE_students/Anooshka/DNABERT_data/90_10/train.tsv", sep= "\t")

In [59]:
df_check

                                                sequence  label
0      AGCGCT GCGCTC CGCTCT GCTCTC CTCTCA TCTCAA CTCA...      1
1      GAGTGG AGTGGA GTGGAG TGGAGG GGAGGA GAGGAA AGGA...      1
2      AGACCC GACCCC ACCCCC CCCCCA CCCCAA CCCAAA CCAA...      0
3      CTCCTT TCCTTG CCTTGA CTTGAG TTGAGT TGAGTT GAGT...      0
4      CTCCCT TCCCTC CCCTCT CCTCTT CTCTTC TCTTCT CTTC...      0
...                                                  ...    ...
17821  AGAGGT GAGGTG AGGTGG GGTGGA GTGGAA TGGAAT GGAA...      0
17822  GGGGCA GGGCAA GGCAAA GCAAAC CAAACA AAACAG AACA...      0
17823  GAATGC AATGCA ATGCAC TGCACA GCACAC CACACC ACAC...      0
17824  CTGATT TGATTC GATTCT ATTCTT TTCTTT TCTTTG CTTT...      1
17825  CAGAAA AGAAAT GAAATA AAATAA AATAAA ATAAAA TAAA...      1

[17826 rows x 2 columns]

In [56]:
df_check.iloc[1]

Sequence    ATAATG TAATGT AATGTA ATGTAC TGTACA GTACAT TACA...
Label                                                       1
Name: 1, dtype: object

In [57]:
df_check.dtypes

Sequence    object
Label        int64
dtype: object

In [149]:
df_data1 = pd.read_csv("/home/pdutta/Data/CSIRE_students/Anooshka/raw_data/anooshka_dnabert_finetuning1.txt")

In [150]:
df_data1

                                           sequencelabel
0      CATATG ATATGT TATGTG ATGTGA TGTGAA GTGAAA TGAA...
1                                                      0
2      CAGTGG AGTGGC GTGGCT TGGCTC GGCTCA GCTCAT CTCA...
3                                                      0
4      GAAATT AAATTT AATTTC ATTTCC TTTCCC TTCCCC TCCC...
...                                                  ...
39609                                                  0
39610  CCCAAG CCAAGC CAAGCT AAGCTT AGCTTT GCTTTA CTTT...
39611                                                  1
39612  TGATGC GATGCC ATGCCA TGCCAG GCCAGA CCAGAA CAGA...
39613                                                  0

[39614 rows x 1 columns]

In [151]:
df_label = df_data1[df_data1.index%2==1].rename(columns={'sequencelabel':'label'}).reset_index(drop=True)
df_label

      label
0         0
1         0
2         0
3         1
4         1
...     ...
19802     0
19803     0
19804     0
19805     1
19806     0

[19807 rows x 1 columns]

In [152]:
df_sequence = df_data1[df_data1.index%2==0].rename(columns={'sequencelabel':'Sequence'}).reset_index(drop=True)
df_sequence

                                                Sequence
0      CATATG ATATGT TATGTG ATGTGA TGTGAA GTGAAA TGAA...
1      CAGTGG AGTGGC GTGGCT TGGCTC GGCTCA GCTCAT CTCA...
2      GAAATT AAATTT AATTTC ATTTCC TTTCCC TTCCCC TCCC...
3      TGGTTG GGTTGG GTTGGG TTGGGG TGGGGA GGGGAA GGGA...
4      GTCTGG TCTGGC CTGGCT TGGCTG GGCTGG GCTGGG CTGG...
...                                                  ...
19802  AGGCCA GGCCAA GCCAAT CCAATT CAATTG AATTGC ATTG...
19803  CGCAAT GCAATC CAATCG AATCGC ATCGCC TCGCCC CGCC...
19804  CCCGTG CCGTGG CGTGGC GTGGCC TGGCCC GGCCCA GCCC...
19805  CCCAAG CCAAGC CAAGCT AAGCTT AGCTTT GCTTTA CTTT...
19806  TGATGC GATGCC ATGCCA TGCCAG GCCAGA CCAGAA CAGA...

[19807 rows x 1 columns]

In [154]:
result = pd.concat([df_sequence, df_label], axis=1, join='inner')
result

                                                Sequence label
0      CATATG ATATGT TATGTG ATGTGA TGTGAA GTGAAA TGAA...     0
1      CAGTGG AGTGGC GTGGCT TGGCTC GGCTCA GCTCAT CTCA...     0
2      GAAATT AAATTT AATTTC ATTTCC TTTCCC TTCCCC TCCC...     0
3      TGGTTG GGTTGG GTTGGG TTGGGG TGGGGA GGGGAA GGGA...     1
4      GTCTGG TCTGGC CTGGCT TGGCTG GGCTGG GCTGGG CTGG...     1
...                                                  ...   ...
19802  AGGCCA GGCCAA GCCAAT CCAATT CAATTG AATTGC ATTG...     0
19803  CGCAAT GCAATC CAATCG AATCGC ATCGCC TCGCCC CGCC...     0
19804  CCCGTG CCGTGG CGTGGC GTGGCC TGGCCC GGCCCA GCCC...     0
19805  CCCAAG CCAAGC CAAGCT AAGCTT AGCTTT GCTTTA CTTT...     1
19806  TGATGC GATGCC ATGCCA TGCCAG GCCAGA CCAGAA CAGA...     0

[19807 rows x 2 columns]

In [156]:
result.groupby(['label']).size()

label
0    12942
1     6865
dtype: int64

In [159]:
train, test = train_test_split(result, test_size=0.10)
#print (train.shape, test.shape)
print(train.groupby(['label']).size(),  test.groupby(['label']).size())

label
0    11640
1     6186
dtype: int64 label
0    1302
1     679
dtype: int64

In [160]:
train.to_csv("/home/pdutta/Data/CSIRE_students/Anooshka/DNABERT_data/90_10/train.tsv", sep="\t", index=False)
test.to_csv("/home/pdutta/Data/CSIRE_students/Anooshka/DNABERT_data/90_10/dev.tsv", sep="\t", index=False)