In [1]:
import os, tarfile
import re
import pandas as pd
import numpy as np
import zipfile, gzip
import pandas as pd
from sklearn.model_selection import train_test_split

In [20]:
df_data = pd.read_csv("/home/pdutta/Data/CSIRE_students/Anooshka/raw_data/anooshka_dnabert_finetuning.csv")

In [21]:
df_data.head()

                                            sequence  label
0  CATATG ATATGT TATGTG ATGTGA TGTGAA GTGAAA TGAA...      0
1  CAGTGG AGTGGC GTGGCT TGGCTC GGCTCA GCTCAT CTCA...      0
2  GAAATT AAATTT AATTTC ATTTCC TTTCCC TTCCCC TCCC...      0
3  TGGTTG GGTTGG GTTGGG TTGGGG TGGGGA GGGGAA GGGA...      1
4  GTCTGG TCTGGC CTGGCT TGGCTG GGCTGG GCTGGG CTGG...      1

In [22]:
print(df_data.shape)

(19807, 2)

In [23]:
df_data.groupby(['label']).size()

label
0    12942
1     6865
dtype: int64

In [24]:
train, test = train_test_split(df_data, test_size=0.05)
print (train.shape, test.shape)
print(train.groupby(['label']).size(), test.groupby(['label']).size() )

(18816, 2) (991, 2)
label
0    12308
1     6508
dtype: int64 label
0    634
1    357
dtype: int64

In [25]:
train.to_csv("/home/pdutta/Data/CSIRE_students/Anooshka/DNABERT_data/95_5/train.tsv", sep="\t", index=False)
test.to_csv("/home/pdutta/Data/CSIRE_students/Anooshka/DNABERT_data/95_5/dev.tsv", sep="\t", index=False)