In [43]:
import numpy as np
import pandas as pd
import math

In [15]:
input_file_path = "/data/private/pdutta/Collab_data/Oliver_data/DNABERT_data/APOE_Splice_sites/all_data.tsv"

In [16]:
acceptor_probab_file_path  = "/data/private/pdutta/DNABERT_output/Acceptor_Splice_Sites/Prediction_result/APOE/pred_results.npy"
donor_probab_file_path  = "/data/private/pdutta/DNABERT_output/Donor_Splice_Sites/Prediction_result/APOE/pred_results.npy"

In [19]:
all_data = pd.read_csv(input_file_path, sep= "\t")
all_data

,CHROMOSOME,POS,ID,TAG,SEQUENCE,6-mer
0,19,44905879,rs373985746,Reference,CCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCT...,CCGGTG CGGTGA GGTGAG GTGAGA TGAGAA GAGAAG AGAA...
1,19,44905879,rs373985746,Alternative,CCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGAGGCCT...,CCGGTG CGGTGA GGTGAG GTGAGA TGAGAA GAGAAG AGAA...
2,19,44905881,NaN,Reference,GGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCT...,GGTGAG GTGAGA TGAGAA GAGAAG AGAAGC GAAGCG AAGC...
3,19,44905881,NaN,Alternative,GGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGTCCTCT...,GGTGAG GTGAGA TGAGAA GAGAAG AGAAGC GAAGCG AAGC...
4,19,44905886,NaN,Reference,GAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCTAGAAA...,GAAGCG AAGCGC AGCGCA GCGCAG CGCAGT GCAGTC CAGT...
5,19,44905886,NaN,Alternative,GAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCCAGAAA...,GAAGCG AAGCGC AGCGCA GCGCAG CGCAGT GCAGTC CAGT...
6,19,44905910,rs440446,Reference,TGAGCTCAGGGGCCTCTAGAAAGAGCTGGGACCCTGGGAACCCCTG...,TGAGCT GAGCTC AGCTCA GCTCAG CTCAGG TCAGGG CAGG...
7,19,44905910,rs440446,Alternative,TGAGCTCAGGGGCCTCTAGAAAGAGCTGGGACCCTGGGAAGCCCTG...,TGAGCT GAGCTC AGCTCA GCTCAG CTCAGG TCAGGG CAGG...
8,19,44905923,NaN,Reference,CTCTAGAAAGAGCTGGGACCCTGGGAACCCCTGGCCTCCAGGTAGT...,CTCTAG TCTAGA CTAGAA TAGAAA AGAAAG GAAAGA AAAG...
9,19,44905923,NaN,Alternative,CTCTAGAAAGAGCTGGGACCCTGGGAACCCCTGGCCTCCAAGTAGT...,CTCTAG TCTAGA CTAGAA TAGAAA AGAAAG GAAAGA AAAG...
10,19,44906639,NaN,Reference,CAGACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGC...,CAGACT AGACTG GACTGG ACTGGC CTGGCC TGGCCA GGCC...
11,19,44906639,NaN,Alternative,CAGACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGAGCTGC...,CAGACT AGACTG GACTGG ACTGGC CTGGCC TGGCCA GGCC...
12,19,44906646,NaN,Reference,GCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGCGTTGCTG...,GCCAAT CCAATC CAATCA AATCAC ATCACA TCACAG CACA...
13,19,44906646,NaN,Alternative,GCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGCGCTGCTG...,GCCAAT CCAATC CAATCA AATCAC ATCACA TCACAG CACA...
14,19,44907785,rs111833428,Reference,ACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTGGA...,ACTTGT CTTGTT TTGTTC TGTTCC GTTCCA TTCCAC TCCA...
15,19,44907785,rs111833428,Alternative,ACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCAGTGGA...,ACTTGT CTTGTT TTGTTC TGTTCC GTTCCA TTCCAC TCCA...
16,19,44907788,NaN,Reference,TGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTGGAGAC...,TGTTCC GTTCCA TTCCAC TCCACA CCACAC CACACA ACAC...
17,19,44907788,NaN,Alternative,TGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTAGAGAC...,TGTTCC GTTCCA TTCCAC TCCACA CCACAC CACACA ACAC...
18,19,44907934,NaN,Reference,ACACTGTCTGAGCAGGTGCAGGAGGAGCTGCTCAGCTCCCAGGTCA...,ACACTG CACTGT ACTGTC CTGTCT TGTCTG GTCTGA TCTG...
19,19,44907934,NaN,Alternative,ACACTGTCTGAGCAGGTGCAGGAGGAGCTGCTCAGCTCCCGGGTCA...,ACACTG CACTGT ACTGTC CTGTCT TGTCTG GTCTGA TCTG...

In [35]:
df_APOE = all_data.iloc[::2].reset_index(drop=True)
df_APOE

,CHROMOSOME,POS,ID,TAG,SEQUENCE,6-mer
0,19,44905879,rs373985746,Reference,CCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCT...,CCGGTG CGGTGA GGTGAG GTGAGA TGAGAA GAGAAG AGAA...
1,19,44905881,NaN,Reference,GGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCT...,GGTGAG GTGAGA TGAGAA GAGAAG AGAAGC GAAGCG AAGC...
2,19,44905886,NaN,Reference,GAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCTAGAAA...,GAAGCG AAGCGC AGCGCA GCGCAG CGCAGT GCAGTC CAGT...
3,19,44905910,rs440446,Reference,TGAGCTCAGGGGCCTCTAGAAAGAGCTGGGACCCTGGGAACCCCTG...,TGAGCT GAGCTC AGCTCA GCTCAG CTCAGG TCAGGG CAGG...
4,19,44905923,NaN,Reference,CTCTAGAAAGAGCTGGGACCCTGGGAACCCCTGGCCTCCAGGTAGT...,CTCTAG TCTAGA CTAGAA TAGAAA AGAAAG GAAAGA AAAG...
5,19,44906639,NaN,Reference,CAGACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGC...,CAGACT AGACTG GACTGG ACTGGC CTGGCC TGGCCA GGCC...
6,19,44906646,NaN,Reference,GCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGCGTTGCTG...,GCCAAT CCAATC CAATCA AATCAC ATCACA TCACAG CACA...
7,19,44907785,rs111833428,Reference,ACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTGGA...,ACTTGT CTTGTT TTGTTC TGTTCC GTTCCA TTCCAC TCCA...
8,19,44907788,NaN,Reference,TGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTGGAGAC...,TGTTCC GTTCCA TTCCAC TCCACA CCACAC CACACA ACAC...
9,19,44907934,NaN,Reference,ACACTGTCTGAGCAGGTGCAGGAGGAGCTGCTCAGCTCCCAGGTCA...,ACACTG CACTGT ACTGTC CTGTCT TGTCTG GTCTGA TCTG...

In [36]:
df_APOE = df_APOE.drop(['6-mer','TAG'], axis=1)
df_APOE

,CHROMOSOME,POS,ID,SEQUENCE
0,19,44905879,rs373985746,CCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCT...
1,19,44905881,NaN,GGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCT...
2,19,44905886,NaN,GAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCTAGAAA...
3,19,44905910,rs440446,TGAGCTCAGGGGCCTCTAGAAAGAGCTGGGACCCTGGGAACCCCTG...
4,19,44905923,NaN,CTCTAGAAAGAGCTGGGACCCTGGGAACCCCTGGCCTCCAGGTAGT...
5,19,44906639,NaN,CAGACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGC...
6,19,44906646,NaN,GCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGCGTTGCTG...
7,19,44907785,rs111833428,ACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTGGA...
8,19,44907788,NaN,TGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTGGAGAC...
9,19,44907934,NaN,ACACTGTCTGAGCAGGTGCAGGAGGAGCTGCTCAGCTCCCAGGTCA...

In [37]:
acceptor_probablity = np.load(acceptor_probab_file_path)
donor_probablity = np.load(donor_probab_file_path)

In [38]:
Reference_acceptor_list = acceptor_probablity[::2]
Alternative_acceptor_list = acceptor_probablity[1::2]
Refernce_donor_list = donor_probablity[::2]
Alternative_donor_list = donor_probablity[1::2]

In [39]:
df_APOE['Acceptor_ref']=Reference_acceptor_list
df_APOE['Acceptor_alt']=Alternative_acceptor_list
df_APOE['Donor_ref']=Refernce_donor_list
df_APOE['Donor_alt']=Alternative_donor_list

In [40]:
df_APOE

,CHROMOSOME,POS,ID,SEQUENCE,Acceptor_ref,Acceptor_alt,Donor_ref,Donor_alt
0,19,44905879,rs373985746,CCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCT...,0.000006,8.444858e-07,0.882925,0.821185
1,19,44905881,NaN,GGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCT...,0.000005,1.045757e-06,0.417674,0.266190
2,19,44905886,NaN,GAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCTAGAAA...,0.000559,6.861434e-03,0.080825,0.113803
3,19,44905910,rs440446,TGAGCTCAGGGGCCTCTAGAAAGAGCTGGGACCCTGGGAACCCCTG...,0.000235,8.263552e-03,0.025876,0.014943
4,19,44905923,NaN,CTCTAGAAAGAGCTGGGACCCTGGGAACCCCTGGCCTCCAGGTAGT...,0.944215,1.790375e-03,0.985347,0.966223
5,19,44906639,NaN,CAGACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGC...,0.000872,1.674424e-05,0.647475,0.269589
6,19,44906646,NaN,GCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGCGTTGCTG...,0.000059,4.819717e-04,0.046647,0.110417
7,19,44907785,rs111833428,ACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTGGA...,0.000198,5.644784e-05,0.209982,0.055846
8,19,44907788,NaN,TGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTGGAGAC...,0.000509,1.526432e-05,0.483754,0.347783
9,19,44907934,NaN,ACACTGTCTGAGCAGGTGCAGGAGGAGCTGCTCAGCTCCCAGGTCA...,0.000007,5.375740e-05,0.196539,0.189647

In [41]:
def calculate_diff_probab(p1,p2):
    return((p2-p1)*max(p1,p2))

In [44]:
def log_oods_ratio(p1,p2):
    term1 = math.log2(p1/(1-p1))
    term2 = math.log2(p2/(1-p2))
    return (term1-term2)

In [47]:
calculate_diff_probab(0.944215, 1.790375e-03)

-0.889851467294375

In [46]:
log_oods_ratio(0.944215, 1.790375e-03)

13.204103456410776

In [48]:
df_APOE['AcceptorScoreChange'] = df_APOE.apply(lambda row: calculate_diff_probab(row['Acceptor_ref'], row['Acceptor_alt']), axis=1)
df_APOE['AcceptorLogOddRatio'] = df_APOE.apply(lambda row: log_oods_ratio(row['Acceptor_ref'], row['Acceptor_alt']), axis=1)
df_APOE['DonorScoreChange'] = df_APOE.apply(lambda row: calculate_diff_probab(row['Donor_ref'], row['Donor_alt']), axis=1)
df_APOE['DonorLogOddRatio'] = df_APOE.apply(lambda row: log_oods_ratio(row['Donor_ref'], row['Donor_alt']), axis=1)

In [49]:
df_APOE

,CHROMOSOME,POS,ID,SEQUENCE,Acceptor_ref,Acceptor_alt,Donor_ref,Donor_alt,AcceptorScoreChange,AcceptorLogOddRatio,DonorScoreChange,DonorLogOddRatio
0,19,44905879,rs373985746,CCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCT...,0.000006,8.444858e-07,0.882925,0.821185,-2.635272e-11,2.722334,-0.054512,0.715617
1,19,44905881,NaN,GGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCT...,0.000005,1.045757e-06,0.417674,0.266190,-1.623169e-11,2.132544,-0.063271,0.983502
2,19,44905886,NaN,GAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCTAGAAA...,0.000559,6.861434e-03,0.080825,0.113803,4.324323e-05,-3.626526,0.003753,-0.546379
3,19,44905910,rs440446,TGAGCTCAGGGGCCTCTAGAAAGAGCTGGGACCCTGGGAACCCCTG...,0.000235,8.263552e-03,0.025876,0.014943,6.634276e-05,-5.146480,-0.000283,0.808275
4,19,44905923,NaN,CTCTAGAAAGAGCTGGGACCCTGGGAACCCCTGGCCTCCAGGTAGT...,0.944215,1.790375e-03,0.985347,0.966223,-8.898523e-01,13.204115,-0.018844,1.233160
5,19,44906639,NaN,CAGACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGC...,0.000872,1.674424e-05,0.647475,0.269589,-7.459700e-07,5.704005,-0.244672,2.315049
6,19,44906646,NaN,GCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGCGTTGCTG...,0.000059,4.819717e-04,0.046647,0.110417,2.038630e-07,-3.030905,0.007041,-1.343004
7,19,44907785,rs111833428,ACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTGGA...,0.000198,5.644784e-05,0.209982,0.055846,-2.808747e-08,1.812004,-0.032366,2.167882
8,19,44907788,NaN,TGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTGGAGAC...,0.000509,1.526432e-05,0.483754,0.347783,-2.514699e-07,5.060591,-0.065777,0.813380
9,19,44907934,NaN,ACACTGTCTGAGCAGGTGCAGGAGGAGCTGCTCAGCTCCCAGGTCA...,0.000007,5.375740e-05,0.196539,0.189647,2.526701e-09,-2.992401,-0.001355,0.063822

In [54]:
df_APOE.to_csv("/data/private/pdutta/Collab_data/Oliver_data/Output/APOE_SpliceSiteModel.csv", sep=",",index=False)