In [12]:
import pandas as pd
import pybedtools
import numpy as np
import os
pybedtools.helpers.set_tempdir('/data/projects/temp')

In [13]:
input_path_minus = "/data/private/pdutta/Collab_data/Jim_work/CPD-seq/04-damage-1bp/Tissue_1hr_S2_CPD_1bp_sorted_minus.bed"
input_path_plus = "/data/private/pdutta/Collab_data/Jim_work/CPD-seq/04-damage-1bp/Tissue_1hr_S2_CPD_1bp_sorted_plus.bed"
input_path_noUV_minus = "/data/private/pdutta/Collab_data/Jim_work/CPD-seq/04-damage-1bp/Tissue_noUV_S1_CPD_1bp_sorted_minus.bed"
input_path_noUV_plus = "/data/private/pdutta/Collab_data/Jim_work/CPD-seq/04-damage-1bp/Tissue_noUV_S1_CPD_1bp_sorted_plus.bed"

In [14]:
wgs_data_folder = "/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/"

In [15]:
df_plus =pd.read_csv(input_path_plus, sep="\t", header=None)
#df_minus =pd.read_csv(input_path_minus, sep="\t", header=None)
#df_noUV_minus =pd.read_csv(input_path_noUV_minus, sep="\t", header=None)
df_noUV_plus =pd.read_csv(input_path_noUV_plus, sep="\t", header=None)

In [6]:
print(df_plus.shape, df_noUV_plus.shape)

(99495320, 5) (15069500, 5)

In [7]:
df_UV_plus = df_plus.drop_duplicates()
df_UV_plus

              0        1        2  3   4
0          chr1  3050029  3050030  +  AA
1          chr1  3050030  3050031  +  AA
2          chr1  3050054  3050055  +  GG
3          chr1  3050055  3050056  +  GG
4          chr1  3050076  3050077  +  AG
...         ...      ...      ... ..  ..
99495301  pUC19     2626     2627  +  GA
99495306  pUC19     2634     2635  +  AA
99495310  pUC19     2635     2636  +  AA
99495314  pUC19     2635     2636  +  AG
99495317  pUC19     2636     2637  +  AG

[90995852 rows x 5 columns]

In [8]:
df_noUV_plus = df_noUV_plus.drop_duplicates()
df_noUV_plus

              0        1        2  3   4
0          chr1  3050021  3050022  +  GA
1          chr1  3050022  3050023  +  GA
2          chr1  3050413  3050414  +  AG
3          chr1  3050414  3050415  +  AG
4          chr1  3050720  3050721  +  GG
...         ...      ...      ... ..  ..
15069474  pUC19     2626     2627  +  GA
15069478  pUC19     2634     2635  +  AA
15069488  pUC19     2635     2636  +  AA
15069498  pUC19     2635     2636  +  AG
15069499  pUC19     2636     2637  +  AG

[14476001 rows x 5 columns]

In [9]:
df_merged = pd.merge(df_plus, df_noUV_plus, how="outer", indicator=True)
df_merged

                                0        1        2  3   4      _merge
0                            chr1  3050029  3050030  +  AA   left_only
1                            chr1  3050030  3050031  +  AA   left_only
2                            chr1  3050054  3050055  +  GG   left_only
3                            chr1  3050055  3050056  +  GG   left_only
4                            chr1  3050076  3050077  +  AG   left_only
...                           ...      ...      ... ..  ..         ...
111903607  chrY_JH584303v1_random   155795   155796  +  AG  right_only
111903608  chrY_JH584303v1_random   156895   156896  +  GA  right_only
111903609  chrY_JH584303v1_random   156896   156897  +  GA  right_only
111903610                   pUC19     1616     1617  +  GA  right_only
111903611                   pUC19     1617     1618  +  GA  right_only

[111903612 rows x 6 columns]

In [10]:
df_merged['_merge'].unique()

['left_only', 'both', 'right_only']
Categories (3, object): ['left_only', 'right_only', 'both']

In [11]:
only_in_df_plus = df_merged[df_merged['_merge'] == 'left_only'].drop('_merge', axis=1)
only_in_df_plus

                               0        1        2  3   4
0                           chr1  3050029  3050030  +  AA
1                           chr1  3050030  3050031  +  AA
2                           chr1  3050054  3050055  +  GG
3                           chr1  3050055  3050056  +  GG
4                           chr1  3050076  3050077  +  AG
...                          ...      ...      ... ..  ..
99327569  chrY_JH584303v1_random   157723   157724  +  AG
99327570  chrY_JH584303v1_random   157983   157984  +  GA
99327571  chrY_JH584303v1_random   157984   157985  +  GA
99327572  chrY_JH584303v1_random   158010   158011  +  GG
99327573  chrY_JH584303v1_random   158011   158012  +  GG

[96392906 rows x 5 columns]

In [17]:
only_in_df_plus.drop_duplicates().reset_index(drop=True)

                               0        1        2  3   4
0                           chr1  3050029  3050030  +  AA
1                           chr1  3050030  3050031  +  AA
2                           chr1  3050054  3050055  +  GG
3                           chr1  3050055  3050056  +  GG
4                           chr1  3050076  3050077  +  AG
...                          ...      ...      ... ..  ..
88928138  chrY_JH584303v1_random   157723   157724  +  AG
88928139  chrY_JH584303v1_random   157983   157984  +  GA
88928140  chrY_JH584303v1_random   157984   157985  +  GA
88928141  chrY_JH584303v1_random   158010   158011  +  GG
88928142  chrY_JH584303v1_random   158011   158012  +  GG

[88928143 rows x 5 columns]

In [11]:
only_in_noUV_df_plus = df_merged[df_merged['_merge'] == 'right_only'].drop('_merge', axis=1)
only_in_noUV_df_plus

                                0        1        2  3   4
90995852                     chr1  3050021  3050022  +  GA
90995853                     chr1  3050022  3050023  +  GA
90995854                     chr1  3050413  3050414  +  AG
90995855                     chr1  3050414  3050415  +  AG
90995856                     chr1  3050721  3050722  +  GG
...                           ...      ...      ... ..  ..
103404139  chrY_JH584303v1_random   155795   155796  +  AG
103404140  chrY_JH584303v1_random   156895   156896  +  GA
103404141  chrY_JH584303v1_random   156896   156897  +  GA
103404142                   pUC19     1616     1617  +  GA
103404143                   pUC19     1617     1618  +  GA

[12408292 rows x 5 columns]

In [12]:
both_in_df = df_merged[df_merged['_merge'] == 'both'].drop('_merge', axis=1)
both_in_df

              0        1        2  3   4
53         chr1  3050720  3050721  +  GG
60         chr1  3050881  3050882  +  GG
84         chr1  3051229  3051230  +  AA
108        chr1  3051533  3051534  +  GG
109        chr1  3051534  3051535  +  GG
...         ...      ...      ... ..  ..
90995847  pUC19     2626     2627  +  GA
90995848  pUC19     2634     2635  +  AA
90995849  pUC19     2635     2636  +  AA
90995850  pUC19     2635     2636  +  AG
90995851  pUC19     2636     2637  +  AG

[2067709 rows x 5 columns]

In [13]:
only_in_noUV_df_plus[0].unique()

array(['chr1', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15',
       'chr16', 'chr17', 'chr18', 'chr19', 'chr1_GL456210v1_random',
       'chr1_GL456211v1_random', 'chr1_GL456212v1_random',
       'chr1_GL456221v1_random', 'chr1_GL456239v1_random',
       'chr1_MU069434v1_random', 'chr2', 'chr3', 'chr4',
       'chr4_JH584295v1_random', 'chr5', 'chr5_GL456354v1_random',
       'chr5_JH584296v1_random', 'chr5_JH584297v1_random',
       'chr5_JH584298v1_random', 'chr5_JH584299v1_random', 'chr6', 'chr7',
       'chr7_GL456219v1_random', 'chr8', 'chr9', 'chrM',
       'chrUn_GL456359v1', 'chrUn_GL456360v1', 'chrUn_GL456366v1',
       'chrUn_GL456367v1', 'chrUn_GL456368v1', 'chrUn_GL456370v1',
       'chrUn_GL456372v1', 'chrUn_GL456378v1', 'chrUn_GL456379v1',
       'chrUn_GL456381v1', 'chrUn_GL456382v1', 'chrUn_GL456383v1',
       'chrUn_GL456385v1', 'chrUn_GL456387v1', 'chrUn_GL456389v1',
       'chrUn_GL456390v1', 'chrUn_GL456392v1', 'chrUn_GL456394v1',
       'chrUn_GL456396v1', 'chrUn_JH584304v1', 'chrUn_MU069435v1', 'chrX',
       'chrX_GL456233v2_random', 'chrY', 'chrY_JH584300v1_random',
       'chrY_JH584301v1_random', 'chrY_JH584302v1_random',
       'chrY_JH584303v1_random', 'pUC19'], dtype=object)

In [14]:
only_in_noUV_df_plus.groupby([0]).size()

0
chr1                      912599
chr10                     604646
chr11                     642427
chr12                     564011
chr13                     570294
                           ...
chrY_JH584300v1_random       480
chrY_JH584301v1_random       530
chrY_JH584302v1_random       362
chrY_JH584303v1_random       369
pUC19                          2
Length: 62, dtype: int64

# WGS data (SNV)

In [7]:
combined_df = pd.DataFrame()
for filename in os.listdir(wgs_data_folder):
    # Check if the file is a txt file
    if filename.endswith('.txt'):
        # Construct the full filepath
        filepath = os.path.join(wgs_data_folder, filename)
        print(filepath)
        
        # Read the file into a DataFrame
        temp_df = pd.read_csv(filepath, delimiter='\t', header=None)  # Assuming tab-delimited, change as needed
        
        
        # Append the data to the combined DataFrame
        combined_df = pd.concat([combined_df, temp_df], ignore_index=True)

# Show the combined DataFrame

/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/15_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/Y_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/10_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/2_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/18_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/19_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/13_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/1_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/3_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/5_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/8_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/12_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/6_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/9_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/4_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/16_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/17_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/14_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/7_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/11_seqinfo.txt
/data/private/pdutta/Collab_data/Jim_work/Mouse_WGS/SNV/X_seqinfo.txt

In [8]:
combined_df

                                 0   1          2            3  4
0       S319_final_vep_snpfiltered  15    3066686  N:AC[C>T]GT -1
1       S319_final_vep_snpfiltered  15    3391439  T:GG[C>T]GG  1
2       S319_final_vep_snpfiltered  15    3911756  N:TC[C>T]TT  1
3       S319_final_vep_snpfiltered  15    3930627  N:AT[C>T]CC  1
4       S319_final_vep_snpfiltered  15    4574999  T:CC[C>T]TT -1
...                            ...  ..        ...          ... ..
828281  S346_final_vep_snpfiltered   X  168111504  N:CT[C>T]TT  1
828282  S346_final_vep_snpfiltered   X  168232166  N:CT[C>T]TT  1
828283  S346_final_vep_snpfiltered   X  168273413  N:AA[C>T]TT  1
828284  S346_final_vep_snpfiltered   X  168326651  N:TC[C>T]TT -1
828285  S346_final_vep_snpfiltered   X  168621252  U:TT[C>T]TG  1

[828286 rows x 5 columns]

In [9]:
combined_df[['ID', '0']] = combined_df[0].str.split('_', 1, expand=True)

# Drop the original column
combined_df.drop(columns=[0], inplace=True)

# Reorder the columns to make new_col1 and new_col2 the first and second columns
combined_df = combined_df[['ID', '0'] + [col for col in combined_df.columns if col not in ['ID', '0']]]
combined_df['ID'] = combined_df['ID'].str.replace('S','').astype(int)
combined_df

/data/projects/temp/ipykernel_1922124/4152682433.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  combined_df[['ID', '0']] = combined_df[0].str.split('_', 1, expand=True)

         ID                      0   1          2            3  4
0       319  final_vep_snpfiltered  15    3066686  N:AC[C>T]GT -1
1       319  final_vep_snpfiltered  15    3391439  T:GG[C>T]GG  1
2       319  final_vep_snpfiltered  15    3911756  N:TC[C>T]TT  1
3       319  final_vep_snpfiltered  15    3930627  N:AT[C>T]CC  1
4       319  final_vep_snpfiltered  15    4574999  T:CC[C>T]TT -1
...     ...                    ...  ..        ...          ... ..
828281  346  final_vep_snpfiltered   X  168111504  N:CT[C>T]TT  1
828282  346  final_vep_snpfiltered   X  168232166  N:CT[C>T]TT  1
828283  346  final_vep_snpfiltered   X  168273413  N:AA[C>T]TT  1
828284  346  final_vep_snpfiltered   X  168326651  N:TC[C>T]TT -1
828285  346  final_vep_snpfiltered   X  168621252  U:TT[C>T]TG  1

[828286 rows x 6 columns]

In [10]:
df_interest = combined_df[(combined_df["ID"] >= 332) & (combined_df["ID"] <= 346)].reset_index(drop=True)
df_interest[1] = df_interest[1].astype(str)
df_interest = df_interest.drop_duplicates()
df_interest

         ID                      0   1          2            3  4
0       334  final_vep_snpfiltered  15    3058069  N:CC[C>T]TA -1
1       334  final_vep_snpfiltered  15    3063770  N:AA[T>A]AT -1
2       334  final_vep_snpfiltered  15    3080731  N:GT[C>T]TG  1
3       334  final_vep_snpfiltered  15    3094450  N:AG[T>G]TT  1
4       334  final_vep_snpfiltered  15    3109676  N:AC[C>T]CA  1
...     ...                    ...  ..        ...          ... ..
421491  346  final_vep_snpfiltered   X  168111504  N:CT[C>T]TT  1
421492  346  final_vep_snpfiltered   X  168232166  N:CT[C>T]TT  1
421493  346  final_vep_snpfiltered   X  168273413  N:AA[C>T]TT  1
421494  346  final_vep_snpfiltered   X  168326651  N:TC[C>T]TT -1
421495  346  final_vep_snpfiltered   X  168621252  U:TT[C>T]TG  1

[412073 rows x 6 columns]

In [11]:
# Custom sorting function
def custom_chromosome_sort(chromosome):
    if chromosome.isdigit():
        return int(chromosome)
    if chromosome == 'X':
        return 23
    if chromosome == 'Y':
        return 24
    return 25  # for any other value that might appear

In [12]:
# Apply custom sorting function
df_interest['sort_key'] = df_interest[1].apply(custom_chromosome_sort)
df_interest = df_interest.sort_values(by=['sort_key']).drop(columns=['sort_key']).reset_index(drop=True)
df_interest

         ID                      0  1          2            3  4
0       334  final_vep_snpfiltered  1   17162732  U:TT[T>A]TT -1
1       334  final_vep_snpfiltered  1  130607017  N:TC[T>C]AT -1
2       334  final_vep_snpfiltered  1  130613091  N:TT[C>T]AT -1
3       334  final_vep_snpfiltered  1  130653834  T:AC[C>T]TT  1
4       334  final_vep_snpfiltered  1  130674696  N:TT[C>T]TG  1
...     ...                    ... ..        ...          ... ..
412068  334  final_vep_snpfiltered  X  112617823  T:AT[C>T]AG -1
412069  334  final_vep_snpfiltered  X  112578837  T:AT[C>T]CT -1
412070  334  final_vep_snpfiltered  X  112683167  T:CC[C>A]GG -1
412071  346  final_vep_snpfiltered  X  168621252  U:TT[C>T]TG  1
412072  341  final_vep_snpfiltered  Y   90741143  N:TC[T>C]TG  1

[412073 rows x 6 columns]

In [13]:
df_interest[3]

0         U:TT[T>A]TT
1         N:TC[T>C]AT
2         N:TT[C>T]AT
3         T:AC[C>T]TT
4         N:TT[C>T]TG
             ...
412068    T:AT[C>T]AG
412069    T:AT[C>T]CT
412070    T:CC[C>A]GG
412071    U:TT[C>T]TG
412072    N:TC[T>C]TG
Name: 3, Length: 412073, dtype: object

In [14]:
df_interest['type'] = df_interest[3].apply(lambda x: x.split(":")[0])
df_interest

         ID                      0  1          2            3  4 type
0       334  final_vep_snpfiltered  1   17162732  U:TT[T>A]TT -1    U
1       334  final_vep_snpfiltered  1  130607017  N:TC[T>C]AT -1    N
2       334  final_vep_snpfiltered  1  130613091  N:TT[C>T]AT -1    N
3       334  final_vep_snpfiltered  1  130653834  T:AC[C>T]TT  1    T
4       334  final_vep_snpfiltered  1  130674696  N:TT[C>T]TG  1    N
...     ...                    ... ..        ...          ... ..  ...
412068  334  final_vep_snpfiltered  X  112617823  T:AT[C>T]AG -1    T
412069  334  final_vep_snpfiltered  X  112578837  T:AT[C>T]CT -1    T
412070  334  final_vep_snpfiltered  X  112683167  T:CC[C>A]GG -1    T
412071  346  final_vep_snpfiltered  X  168621252  U:TT[C>T]TG  1    U
412072  341  final_vep_snpfiltered  Y   90741143  N:TC[T>C]TG  1    N

[412073 rows x 7 columns]

In [15]:
df_interest['type'].unique()

array(['U', 'N', 'T', 'B'], dtype=object)

## Found four type of tags  
   * __N__: This might stand for "Normal," perhaps indicating that the sequence comes from normal tissue or represents a reference sequence.
   * __T__: This could stand for "Tumor," possibly indicating that the sequence comes from tumor tissue, especially if you're working on cancer genomics data.
   * __U__: This could stand for "Unknown," perhaps indicating that the origin of the sequence or the quality of the data is uncertain.
   * __B__: This is not standard in genomics as far as my training data goes. It could be specific to the particular dataset or pipeline you're working with. It might stand for something like "Baseline" or "Both" (if it's a combined analysis of tumor and normal, for example), but that's purely speculative.

In [16]:
df_interest.groupby('type').size()

type
B       912
N    271852
T     55255
U     84054
dtype: int64

In [17]:
df_interest_bed = pd.DataFrame()
df_interest_bed['chr'] = 'chr'+ df_interest[1].astype(str)
df_interest_bed['start'] = df_interest[2]-1
df_interest_bed['end'] = df_interest[2]
df_interest_bed['ID'] = df_interest['ID']
df_interest_bed['SNV'] = df_interest[3]
df_interest_bed

         chr      start        end   ID          SNV
0       chr1   17162731   17162732  334  U:TT[T>A]TT
1       chr1  130607016  130607017  334  N:TC[T>C]AT
2       chr1  130613090  130613091  334  N:TT[C>T]AT
3       chr1  130653833  130653834  334  T:AC[C>T]TT
4       chr1  130674695  130674696  334  N:TT[C>T]TG
...      ...        ...        ...  ...          ...
412068  chrX  112617822  112617823  334  T:AT[C>T]AG
412069  chrX  112578836  112578837  334  T:AT[C>T]CT
412070  chrX  112683166  112683167  334  T:CC[C>A]GG
412071  chrX  168621251  168621252  346  U:TT[C>T]TG
412072  chrY   90741142   90741143  341  N:TC[T>C]TG

[412073 rows x 5 columns]

In [18]:
df_interest_bed.drop_duplicates()

         chr      start        end   ID          SNV
0       chr1   17162731   17162732  334  U:TT[T>A]TT
1       chr1  130607016  130607017  334  N:TC[T>C]AT
2       chr1  130613090  130613091  334  N:TT[C>T]AT
3       chr1  130653833  130653834  334  T:AC[C>T]TT
4       chr1  130674695  130674696  334  N:TT[C>T]TG
...      ...        ...        ...  ...          ...
412068  chrX  112617822  112617823  334  T:AT[C>T]AG
412069  chrX  112578836  112578837  334  T:AT[C>T]CT
412070  chrX  112683166  112683167  334  T:CC[C>A]GG
412071  chrX  168621251  168621252  346  U:TT[C>T]TG
412072  chrY   90741142   90741143  341  N:TC[T>C]TG

[412073 rows x 5 columns]

## Generate multiple UV_plus CPD_seq data(by increasing the number of nucleotides in both starting and end position) and fond the intersection with the C>T mutation data

In [24]:
# Create a list of chromosomes to keep
chromosomes_to_keep = ['chr' + str(i) for i in range(1, 23)] + ['chrX', 'chrY']

# Filter the original DataFrame to only include specified chromosomes
df_UV_plus_interested = df_UV_plus[df_UV_plus[0].isin(chromosomes_to_keep)].reset_index(drop=True)
print(df_UV_plus_interested.shape, df_interest_bed.shape)

# Create a BedTool object from another DataFrame
bd_interest_SNV_bed = pybedtools.BedTool.from_dataframe(df_interest_bed)

# Initialize an empty DataFrame for temporary use
df_temp = pd.DataFrame()
df_temp['chr_name'] = df_UV_plus_interested[0]

# Convert df_noUV_plus_interested to a BedTool object initially
df_UV_plus_bed = pybedtools.BedTool.from_dataframe(df_UV_plus_interested)

for i in range(51):
    # Populate df_temp with updated start and end positions
    df_temp['chr_start'] = df_UV_plus_interested[1] - i
    df_temp['chr_end'] = df_UV_plus_interested[2] + i
    print("The number of SNV counts {} at {} epoch".format(bd_interest_SNV_bed.count(), i))
    # Convert df_temp to a BedTool object
    bd_UV_plus_bed = pybedtools.BedTool.from_dataframe(df_temp)
    # Perform the intersection
    intersect_CPD_SNV = bd_UV_plus_bed.intersect(bd_interest_SNV_bed, wa=True, wb=True)
    # Convert the result back to a DataFrame and set column names
    df_intersect_CPD_SNV = intersect_CPD_SNV.to_dataframe()
    df_intersect_CPD_SNV.columns = ['chr_name', 'CPD_start', 'CPD_end', 'chr_name_SNV', 'SNV_start', 'SNV_end', 'ID','SNV_Info']
    #print(df_intersect_noCPD_SNV[['chr_name_SNV', 'SNV_start', 'SNV_end', 'ID','SNV_Info']].drop_duplicates())
    
    # Save the result to a file
    df_intersect_CPD_SNV.to_csv(f"/data/private/pdutta/Collab_data/Jim_work/Output/UV_plus/intersected_CPD_SNV_UV_plus_{i}.tsv", sep='\t', index=False)
    
    # Identify intersecting regions for removal in the next iteration
    intersecting_SNV_regions = bd_interest_SNV_bed.intersect(bd_UV_plus_bed, wa=True, u=True)
    print("The intersecting regions size is :",intersecting_SNV_regions.to_dataframe().shape)
    #print(bd_interest_SNV_bed.to_dataframe())
    
    # Remove intersecting regions for the next iteration
    bd_interest_SNV_bed = bd_interest_SNV_bed.subtract(intersecting_SNV_regions)
    #print(bd_interest_SNV_bed.to_dataframe())
    print("After removal of intersecting region the remaining SNVs are ", bd_interest_SNV_bed.count())
    #df_noUV_plus_interested.columns = ['chr_name', 'CPD_start', 'CPD_end']
    
    print("#############################################################")

(90787037, 5) (412073, 5)
The number of SNV counts 412073 at 0 epoch
The intersecting regions size is : (23933, 5)
After removal of intersecting region the remaining SNVs are  388140
#############################################################
The number of SNV counts 388140 at 1 epoch
The intersecting regions size is : (14631, 5)
After removal of intersecting region the remaining SNVs are  373509
#############################################################
The number of SNV counts 373509 at 2 epoch
The intersecting regions size is : (12562, 5)
After removal of intersecting region the remaining SNVs are  360947
#############################################################
The number of SNV counts 360947 at 3 epoch
The intersecting regions size is : (10613, 5)
After removal of intersecting region the remaining SNVs are  350334
#############################################################
The number of SNV counts 350334 at 4 epoch
The intersecting regions size is : (10100, 5)
After removal of intersecting region the remaining SNVs are  340234
#############################################################
The number of SNV counts 340234 at 5 epoch
The intersecting regions size is : (9958, 5)
After removal of intersecting region the remaining SNVs are  330276
#############################################################
The number of SNV counts 330276 at 6 epoch
The intersecting regions size is : (9132, 5)
After removal of intersecting region the remaining SNVs are  321144
#############################################################
The number of SNV counts 321144 at 7 epoch
The intersecting regions size is : (8545, 5)
After removal of intersecting region the remaining SNVs are  312599
#############################################################
The number of SNV counts 312599 at 8 epoch
The intersecting regions size is : (8367, 5)
After removal of intersecting region the remaining SNVs are  304232
#############################################################
The number of SNV counts 304232 at 9 epoch
The intersecting regions size is : (7892, 5)
After removal of intersecting region the remaining SNVs are  296340
#############################################################
The number of SNV counts 296340 at 10 epoch
The intersecting regions size is : (7567, 5)
After removal of intersecting region the remaining SNVs are  288773
#############################################################
The number of SNV counts 288773 at 11 epoch
The intersecting regions size is : (7333, 5)
After removal of intersecting region the remaining SNVs are  281440
#############################################################
The number of SNV counts 281440 at 12 epoch
The intersecting regions size is : (7068, 5)
After removal of intersecting region the remaining SNVs are  274372
#############################################################
The number of SNV counts 274372 at 13 epoch
The intersecting regions size is : (6655, 5)
After removal of intersecting region the remaining SNVs are  267717
#############################################################
The number of SNV counts 267717 at 14 epoch
The intersecting regions size is : (6487, 5)
After removal of intersecting region the remaining SNVs are  261230
#############################################################
The number of SNV counts 261230 at 15 epoch
The intersecting regions size is : (6083, 5)
After removal of intersecting region the remaining SNVs are  255147
#############################################################
The number of SNV counts 255147 at 16 epoch
The intersecting regions size is : (5920, 5)
After removal of intersecting region the remaining SNVs are  249227
#############################################################
The number of SNV counts 249227 at 17 epoch
The intersecting regions size is : (5718, 5)
After removal of intersecting region the remaining SNVs are  243509
#############################################################
The number of SNV counts 243509 at 18 epoch
The intersecting regions size is : (5584, 5)
After removal of intersecting region the remaining SNVs are  237925
#############################################################
The number of SNV counts 237925 at 19 epoch
The intersecting regions size is : (5198, 5)
After removal of intersecting region the remaining SNVs are  232727
#############################################################
The number of SNV counts 232727 at 20 epoch
The intersecting regions size is : (5082, 5)
After removal of intersecting region the remaining SNVs are  227645
#############################################################
The number of SNV counts 227645 at 21 epoch
The intersecting regions size is : (5004, 5)
After removal of intersecting region the remaining SNVs are  222641
#############################################################
The number of SNV counts 222641 at 22 epoch
The intersecting regions size is : (4756, 5)
After removal of intersecting region the remaining SNVs are  217885
#############################################################
The number of SNV counts 217885 at 23 epoch
The intersecting regions size is : (4755, 5)
After removal of intersecting region the remaining SNVs are  213130
#############################################################
The number of SNV counts 213130 at 24 epoch
The intersecting regions size is : (4520, 5)
After removal of intersecting region the remaining SNVs are  208610
#############################################################
The number of SNV counts 208610 at 25 epoch
The intersecting regions size is : (4370, 5)
After removal of intersecting region the remaining SNVs are  204240
#############################################################
The number of SNV counts 204240 at 26 epoch
The intersecting regions size is : (4233, 5)
After removal of intersecting region the remaining SNVs are  200007
#############################################################
The number of SNV counts 200007 at 27 epoch
The intersecting regions size is : (4036, 5)
After removal of intersecting region the remaining SNVs are  195971
#############################################################
The number of SNV counts 195971 at 28 epoch
The intersecting regions size is : (3840, 5)
After removal of intersecting region the remaining SNVs are  192131
#############################################################
The number of SNV counts 192131 at 29 epoch
The intersecting regions size is : (3913, 5)
After removal of intersecting region the remaining SNVs are  188218
#############################################################
The number of SNV counts 188218 at 30 epoch
The intersecting regions size is : (3676, 5)
After removal of intersecting region the remaining SNVs are  184542
#############################################################
The number of SNV counts 184542 at 31 epoch
The intersecting regions size is : (3604, 5)
After removal of intersecting region the remaining SNVs are  180938
#############################################################
The number of SNV counts 180938 at 32 epoch
The intersecting regions size is : (3523, 5)
After removal of intersecting region the remaining SNVs are  177415
#############################################################
The number of SNV counts 177415 at 33 epoch
The intersecting regions size is : (3432, 5)
After removal of intersecting region the remaining SNVs are  173983
#############################################################
The number of SNV counts 173983 at 34 epoch
The intersecting regions size is : (3283, 5)
After removal of intersecting region the remaining SNVs are  170700
#############################################################
The number of SNV counts 170700 at 35 epoch
The intersecting regions size is : (3267, 5)
After removal of intersecting region the remaining SNVs are  167433
#############################################################
The number of SNV counts 167433 at 36 epoch
The intersecting regions size is : (3232, 5)
After removal of intersecting region the remaining SNVs are  164201
#############################################################
The number of SNV counts 164201 at 37 epoch
The intersecting regions size is : (3046, 5)
After removal of intersecting region the remaining SNVs are  161155
#############################################################
The number of SNV counts 161155 at 38 epoch
The intersecting regions size is : (2987, 5)
After removal of intersecting region the remaining SNVs are  158168
#############################################################
The number of SNV counts 158168 at 39 epoch
The intersecting regions size is : (2935, 5)
After removal of intersecting region the remaining SNVs are  155233
#############################################################
The number of SNV counts 155233 at 40 epoch
The intersecting regions size is : (2767, 5)
After removal of intersecting region the remaining SNVs are  152466
#############################################################
The number of SNV counts 152466 at 41 epoch
The intersecting regions size is : (2810, 5)
After removal of intersecting region the remaining SNVs are  149656
#############################################################
The number of SNV counts 149656 at 42 epoch
The intersecting regions size is : (2717, 5)
After removal of intersecting region the remaining SNVs are  146939
#############################################################
The number of SNV counts 146939 at 43 epoch
The intersecting regions size is : (2666, 5)
After removal of intersecting region the remaining SNVs are  144273
#############################################################
The number of SNV counts 144273 at 44 epoch
The intersecting regions size is : (2548, 5)
After removal of intersecting region the remaining SNVs are  141725
#############################################################
The number of SNV counts 141725 at 45 epoch
The intersecting regions size is : (2468, 5)
After removal of intersecting region the remaining SNVs are  139257
#############################################################
The number of SNV counts 139257 at 46 epoch
The intersecting regions size is : (2462, 5)
After removal of intersecting region the remaining SNVs are  136795
#############################################################
The number of SNV counts 136795 at 47 epoch
The intersecting regions size is : (2404, 5)
After removal of intersecting region the remaining SNVs are  134391
#############################################################
The number of SNV counts 134391 at 48 epoch
The intersecting regions size is : (2363, 5)
After removal of intersecting region the remaining SNVs are  132028
#############################################################
The number of SNV counts 132028 at 49 epoch
The intersecting regions size is : (2280, 5)
After removal of intersecting region the remaining SNVs are  129748
#############################################################
The number of SNV counts 129748 at 50 epoch
The intersecting regions size is : (2300, 5)
After removal of intersecting region the remaining SNVs are  127448
#############################################################

## Generate multiple NoUV_plus CPD_seq data(by increasing the number of nucleotides in both starting and end position) and fond the intersection with the C>T mutation data

In [83]:
# Create a list of chromosomes to keep
chromosomes_to_keep = ['chr' + str(i) for i in range(1, 23)] + ['chrX', 'chrY']

# Filter the original DataFrame to only include specified chromosomes
df_noUV_plus_interested = df_noUV_plus[df_noUV_plus[0].isin(chromosomes_to_keep)].reset_index(drop=True)
print(df_noUV_plus_interested.shape, df_interest_bed.shape)
input()
# Create a BedTool object from another DataFrame
bd_interest_SNV_bed = pybedtools.BedTool.from_dataframe(df_interest_bed)

# Initialize an empty DataFrame for temporary use
df_temp = pd.DataFrame()
df_temp['chr_name'] = df_noUV_plus_interested[0]

# Convert df_noUV_plus_interested to a BedTool object initially
df_noUV_plus_bed = pybedtools.BedTool.from_dataframe(df_noUV_plus_interested)

for i in range(51):
    # Populate df_temp with updated start and end positions
    df_temp['chr_start'] = df_noUV_plus_interested[1] - i
    df_temp['chr_end'] = df_noUV_plus_interested[2] + i
    print("The number of SNV counts {} at {} epoch".format(bd_interest_SNV_bed.count(), i))
    # Convert df_temp to a BedTool object
    bd_noUV_plus_bed = pybedtools.BedTool.from_dataframe(df_temp)
    # Perform the intersection
    intersect_noCPD_SNV = bd_noUV_plus_bed.intersect(bd_interest_SNV_bed, wa=True, wb=True)
    # Convert the result back to a DataFrame and set column names
    df_intersect_noCPD_SNV = intersect_noCPD_SNV.to_dataframe()
    df_intersect_noCPD_SNV.columns = ['chr_name', 'CPD_start', 'CPD_end', 'chr_name_SNV', 'SNV_start', 'SNV_end', 'ID','SNV_Info']
    #print(df_intersect_noCPD_SNV[['chr_name_SNV', 'SNV_start', 'SNV_end', 'ID','SNV_Info']].drop_duplicates())
    
    # Save the result to a file
    df_intersect_noCPD_SNV.to_csv(f"/data/private/pdutta/Collab_data/Jim_work/Output/No_UV_Plus/intersected_CPD_SNV_noUV_plus_{i}.tsv", sep='\t', index=False)
    
    # Identify intersecting regions for removal in the next iteration
    intersecting_SNV_regions = bd_interest_SNV_bed.intersect(bd_noUV_plus_bed, wa=True, u=True)
    print("The intersecting regions size is :",intersecting_SNV_regions.to_dataframe().shape)
    #print(bd_interest_SNV_bed.to_dataframe())
    
    # Remove intersecting regions for the next iteration
    bd_interest_SNV_bed = bd_interest_SNV_bed.subtract(intersecting_SNV_regions)
    #print(bd_interest_SNV_bed.to_dataframe())
    print("After removal of intersecting region the remaining SNVs are ", bd_interest_SNV_bed.count())
    #df_noUV_plus_interested.columns = ['chr_name', 'CPD_start', 'CPD_end']
    
    print("#############################################################")

(14424047, 5) (412073, 5)

The number of SNV counts 412073 at 0 epoch
The intersecting regions size is : (4055, 5)
After removal of intersecting region the remaining SNVs are  408018
#############################################################
The number of SNV counts 408018 at 1 epoch
The intersecting regions size is : (2719, 5)
After removal of intersecting region the remaining SNVs are  405299
#############################################################
The number of SNV counts 405299 at 2 epoch
The intersecting regions size is : (2540, 5)
After removal of intersecting region the remaining SNVs are  402759
#############################################################
The number of SNV counts 402759 at 3 epoch
The intersecting regions size is : (2243, 5)
After removal of intersecting region the remaining SNVs are  400516
#############################################################
The number of SNV counts 400516 at 4 epoch
The intersecting regions size is : (2029, 5)
After removal of intersecting region the remaining SNVs are  398487
#############################################################
The number of SNV counts 398487 at 5 epoch
The intersecting regions size is : (2251, 5)
After removal of intersecting region the remaining SNVs are  396236
#############################################################
The number of SNV counts 396236 at 6 epoch
The intersecting regions size is : (2142, 5)
After removal of intersecting region the remaining SNVs are  394094
#############################################################
The number of SNV counts 394094 at 7 epoch
The intersecting regions size is : (2061, 5)
After removal of intersecting region the remaining SNVs are  392033
#############################################################
The number of SNV counts 392033 at 8 epoch
The intersecting regions size is : (2109, 5)
After removal of intersecting region the remaining SNVs are  389924
#############################################################
The number of SNV counts 389924 at 9 epoch
The intersecting regions size is : (2055, 5)
After removal of intersecting region the remaining SNVs are  387869
#############################################################
The number of SNV counts 387869 at 10 epoch
The intersecting regions size is : (2055, 5)
After removal of intersecting region the remaining SNVs are  385814
#############################################################
The number of SNV counts 385814 at 11 epoch
The intersecting regions size is : (2134, 5)
After removal of intersecting region the remaining SNVs are  383680
#############################################################
The number of SNV counts 383680 at 12 epoch
The intersecting regions size is : (2013, 5)
After removal of intersecting region the remaining SNVs are  381667
#############################################################
The number of SNV counts 381667 at 13 epoch
The intersecting regions size is : (2065, 5)
After removal of intersecting region the remaining SNVs are  379602
#############################################################
The number of SNV counts 379602 at 14 epoch
The intersecting regions size is : (2040, 5)
After removal of intersecting region the remaining SNVs are  377562
#############################################################
The number of SNV counts 377562 at 15 epoch
The intersecting regions size is : (1948, 5)
After removal of intersecting region the remaining SNVs are  375614
#############################################################
The number of SNV counts 375614 at 16 epoch
The intersecting regions size is : (1948, 5)
After removal of intersecting region the remaining SNVs are  373666
#############################################################
The number of SNV counts 373666 at 17 epoch
The intersecting regions size is : (2004, 5)
After removal of intersecting region the remaining SNVs are  371662
#############################################################
The number of SNV counts 371662 at 18 epoch
The intersecting regions size is : (1942, 5)
After removal of intersecting region the remaining SNVs are  369720
#############################################################
The number of SNV counts 369720 at 19 epoch
The intersecting regions size is : (1859, 5)
After removal of intersecting region the remaining SNVs are  367861
#############################################################
The number of SNV counts 367861 at 20 epoch
The intersecting regions size is : (1874, 5)
After removal of intersecting region the remaining SNVs are  365987
#############################################################
The number of SNV counts 365987 at 21 epoch
The intersecting regions size is : (1884, 5)
After removal of intersecting region the remaining SNVs are  364103
#############################################################
The number of SNV counts 364103 at 22 epoch
The intersecting regions size is : (1875, 5)
After removal of intersecting region the remaining SNVs are  362228
#############################################################
The number of SNV counts 362228 at 23 epoch
The intersecting regions size is : (1779, 5)
After removal of intersecting region the remaining SNVs are  360449
#############################################################
The number of SNV counts 360449 at 24 epoch
The intersecting regions size is : (1818, 5)
After removal of intersecting region the remaining SNVs are  358631
#############################################################
The number of SNV counts 358631 at 25 epoch
The intersecting regions size is : (1769, 5)
After removal of intersecting region the remaining SNVs are  356862
#############################################################
The number of SNV counts 356862 at 26 epoch
The intersecting regions size is : (1764, 5)
After removal of intersecting region the remaining SNVs are  355098
#############################################################
The number of SNV counts 355098 at 27 epoch
The intersecting regions size is : (1780, 5)
After removal of intersecting region the remaining SNVs are  353318
#############################################################
The number of SNV counts 353318 at 28 epoch
The intersecting regions size is : (1788, 5)
After removal of intersecting region the remaining SNVs are  351530
#############################################################
The number of SNV counts 351530 at 29 epoch
The intersecting regions size is : (1865, 5)
After removal of intersecting region the remaining SNVs are  349665
#############################################################
The number of SNV counts 349665 at 30 epoch
The intersecting regions size is : (1773, 5)
After removal of intersecting region the remaining SNVs are  347892
#############################################################
The number of SNV counts 347892 at 31 epoch
The intersecting regions size is : (1765, 5)
After removal of intersecting region the remaining SNVs are  346127
#############################################################
The number of SNV counts 346127 at 32 epoch
The intersecting regions size is : (1787, 5)
After removal of intersecting region the remaining SNVs are  344340
#############################################################
The number of SNV counts 344340 at 33 epoch
The intersecting regions size is : (1815, 5)
After removal of intersecting region the remaining SNVs are  342525
#############################################################
The number of SNV counts 342525 at 34 epoch
The intersecting regions size is : (1768, 5)
After removal of intersecting region the remaining SNVs are  340757
#############################################################
The number of SNV counts 340757 at 35 epoch
The intersecting regions size is : (1741, 5)
After removal of intersecting region the remaining SNVs are  339016
#############################################################
The number of SNV counts 339016 at 36 epoch
The intersecting regions size is : (1756, 5)
After removal of intersecting region the remaining SNVs are  337260
#############################################################
The number of SNV counts 337260 at 37 epoch
The intersecting regions size is : (1652, 5)
After removal of intersecting region the remaining SNVs are  335608
#############################################################
The number of SNV counts 335608 at 38 epoch
The intersecting regions size is : (1678, 5)
After removal of intersecting region the remaining SNVs are  333930
#############################################################
The number of SNV counts 333930 at 39 epoch
The intersecting regions size is : (1663, 5)
After removal of intersecting region the remaining SNVs are  332267
#############################################################
The number of SNV counts 332267 at 40 epoch
The intersecting regions size is : (1634, 5)
After removal of intersecting region the remaining SNVs are  330633
#############################################################
The number of SNV counts 330633 at 41 epoch
The intersecting regions size is : (1656, 5)
After removal of intersecting region the remaining SNVs are  328977
#############################################################
The number of SNV counts 328977 at 42 epoch
The intersecting regions size is : (1571, 5)
After removal of intersecting region the remaining SNVs are  327406
#############################################################
The number of SNV counts 327406 at 43 epoch
The intersecting regions size is : (1528, 5)
After removal of intersecting region the remaining SNVs are  325878
#############################################################
The number of SNV counts 325878 at 44 epoch
The intersecting regions size is : (1591, 5)
After removal of intersecting region the remaining SNVs are  324287
#############################################################
The number of SNV counts 324287 at 45 epoch
The intersecting regions size is : (1627, 5)
After removal of intersecting region the remaining SNVs are  322660
#############################################################
The number of SNV counts 322660 at 46 epoch
The intersecting regions size is : (1652, 5)
After removal of intersecting region the remaining SNVs are  321008
#############################################################
The number of SNV counts 321008 at 47 epoch
The intersecting regions size is : (1607, 5)
After removal of intersecting region the remaining SNVs are  319401
#############################################################
The number of SNV counts 319401 at 48 epoch
The intersecting regions size is : (1529, 5)
After removal of intersecting region the remaining SNVs are  317872
#############################################################
The number of SNV counts 317872 at 49 epoch
The intersecting regions size is : (1568, 5)
After removal of intersecting region the remaining SNVs are  316304
#############################################################
The number of SNV counts 316304 at 50 epoch
The intersecting regions size is : (1525, 5)
After removal of intersecting region the remaining SNVs are  314779
#############################################################

In [34]:
chromosomes_to_keep = ['chr' + str(i) for i in range(1, 23)] + ['chrX', 'chrY']
df_noUV_plus_interested = df_noUV_plus[df_noUV_plus[0].isin(chromosomes_to_keep)].reset_index(drop=True)
df_interest_SNV_bed = pybedtools.BedTool.from_dataframe(df_interest_bed)
print(df_noUV_plus_interested.shape, df_interest_bed.shape)
df_temp=pd.DataFrame()
df_temp['chr_name'] = df_noUV_plus_interested[0]
for i in range(11):
    df_temp['chr_start'] = df_noUV_plus_interested[1]- i
    df_temp['chr_end'] = df_noUV_plus_interested[2]+ i
    print(df_temp)
    df_UV_plus_bed = pybedtools.BedTool.from_dataframe(df_temp)
    intersect_SNV_CPD = df_UV_plus_bed.intersect(df_interest_SNV_bed, wa=True, wb=True)
    intersect_SNV_CPD_df= intersect_SNV_CPD.to_dataframe()
    intersect_SNV_CPD_df.columns = ['chr_name', 'CPD_start', 'CPD_end', 'chr_name_SNV', 'SNV_start', 'SNV_end']
    print(intersect_SNV_CPD_df)
    intersect_SNV_CPD_df.to_csv("/data/private/pdutta/Collab_data/Jim_work/Output/No_UV_Plus/intersected_CPD_SNV_noUV_plus_"+str(i)+".tsv", sep="\t", index=False)
    print("#############################################################")

(14424047, 5) (421496, 3)
         chr_name  chr_start   chr_end
0            chr1    3050021   3050022
1            chr1    3050022   3050023
2            chr1    3050413   3050414
3            chr1    3050414   3050415
4            chr1    3050720   3050721
...           ...        ...       ...
14424042     chrY   90855678  90855679
14424043     chrY   90855821  90855822
14424044     chrY   90855822  90855823
14424045     chrY   90855830  90855831
14424046     chrY   90855831  90855832

[14424047 rows x 3 columns]
     chr_name  CPD_start    CPD_end chr_name_SNV  SNV_start    SNV_end
0        chr1    4306970    4306971         chr1    4306970    4306971
1        chr1    5857620    5857621         chr1    5857620    5857621
2        chr1    7532894    7532895         chr1    7532894    7532895
3        chr1   10057967   10057968         chr1   10057967   10057968
4        chr1   11061577   11061578         chr1   11061577   11061578
...       ...        ...        ...          ...        ...        ...
4195     chrX  160068488  160068489         chrX  160068488  160068489
4196     chrX  162290505  162290506         chrX  162290505  162290506
4197     chrX  162903275  162903276         chrX  162903275  162903276
4198     chrX  164756177  164756178         chrX  164756177  164756178
4199     chrX  165686991  165686992         chrX  165686991  165686992

[4200 rows x 6 columns]
#############################################################
         chr_name  chr_start   chr_end
0            chr1    3050020   3050023
1            chr1    3050021   3050024
2            chr1    3050412   3050415
3            chr1    3050413   3050416
4            chr1    3050719   3050722
...           ...        ...       ...
14424042     chrY   90855677  90855680
14424043     chrY   90855820  90855823
14424044     chrY   90855821  90855824
14424045     chrY   90855829  90855832
14424046     chrY   90855830  90855833

[14424047 rows x 3 columns]
      chr_name  CPD_start    CPD_end chr_name_SNV  SNV_start    SNV_end
0         chr1    4306968    4306971         chr1    4306970    4306971
1         chr1    4306969    4306972         chr1    4306970    4306971
2         chr1    5477064    5477067         chr1    5477064    5477065
3         chr1    5857618    5857621         chr1    5857620    5857621
4         chr1    5857619    5857622         chr1    5857620    5857621
...        ...        ...        ...          ...        ...        ...
11295     chrX  164756176  164756179         chrX  164756177  164756178
11296     chrX  165686989  165686992         chrX  165686991  165686992
11297     chrX  165686990  165686993         chrX  165686991  165686992
11298     chrX  167698694  167698697         chrX  167698694  167698695
11299     chrX  168752437  168752440         chrX  168752439  168752440

[11300 rows x 6 columns]
#############################################################
         chr_name  chr_start   chr_end
0            chr1    3050019   3050024
1            chr1    3050020   3050025
2            chr1    3050411   3050416
3            chr1    3050412   3050417
4            chr1    3050718   3050723
...           ...        ...       ...
14424042     chrY   90855676  90855681
14424043     chrY   90855819  90855824
14424044     chrY   90855820  90855825
14424045     chrY   90855828  90855833
14424046     chrY   90855829  90855834

[14424047 rows x 3 columns]
      chr_name  CPD_start    CPD_end chr_name_SNV  SNV_start    SNV_end
0         chr1    3363328    3363333         chr1    3363332    3363333
1         chr1    4306967    4306972         chr1    4306970    4306971
2         chr1    4306968    4306973         chr1    4306970    4306971
3         chr1    5477063    5477068         chr1    5477064    5477065
4         chr1    5477064    5477069         chr1    5477064    5477065
...        ...        ...        ...          ...        ...        ...
16934     chrX  167698694  167698699         chrX  167698694  167698695
16935     chrX  168445088  168445093         chrX  168445092  168445093
16936     chrX  168447265  168447270         chrX  168447269  168447270
16937     chrX  168752435  168752440         chrX  168752439  168752440
16938     chrX  168752436  168752441         chrX  168752439  168752440

[16939 rows x 6 columns]
#############################################################
         chr_name  chr_start   chr_end
0            chr1    3050018   3050025
1            chr1    3050019   3050026
2            chr1    3050410   3050417
3            chr1    3050411   3050418
4            chr1    3050717   3050724
...           ...        ...       ...
14424042     chrY   90855675  90855682
14424043     chrY   90855818  90855825
14424044     chrY   90855819  90855826
14424045     chrY   90855827  90855834
14424046     chrY   90855828  90855835

[14424047 rows x 3 columns]
      chr_name  CPD_start    CPD_end chr_name_SNV  SNV_start    SNV_end
0         chr1    3059753    3059760         chr1    3059753    3059754
1         chr1    3363326    3363333         chr1    3363332    3363333
2         chr1    3363327    3363334         chr1    3363332    3363333
3         chr1    3891231    3891238         chr1    3891237    3891238
4         chr1    3976125    3976132         chr1    3976125    3976126
...        ...        ...        ...          ...        ...        ...
22058     chrX  168445087  168445094         chrX  168445092  168445093
22059     chrX  168447263  168447270         chrX  168447269  168447270
22060     chrX  168447264  168447271         chrX  168447269  168447270
22061     chrX  168752434  168752441         chrX  168752439  168752440
22062     chrX  168752435  168752442         chrX  168752439  168752440

[22063 rows x 6 columns]
#############################################################
         chr_name  chr_start   chr_end
0            chr1    3050017   3050026
1            chr1    3050018   3050027
2            chr1    3050409   3050418
3            chr1    3050410   3050419
4            chr1    3050716   3050725
...           ...        ...       ...
14424042     chrY   90855674  90855683
14424043     chrY   90855817  90855826
14424044     chrY   90855818  90855827
14424045     chrY   90855826  90855835
14424046     chrY   90855827  90855836

[14424047 rows x 3 columns]
      chr_name  CPD_start    CPD_end chr_name_SNV  SNV_start    SNV_end
0         chr1    3059752    3059761         chr1    3059753    3059754
1         chr1    3059753    3059762         chr1    3059753    3059754
2         chr1    3363325    3363334         chr1    3363332    3363333
3         chr1    3363326    3363335         chr1    3363332    3363333
4         chr1    3651240    3651249         chr1    3651240    3651241
...        ...        ...        ...          ...        ...        ...
26650     chrX  168447262  168447271         chrX  168447269  168447270
26651     chrX  168447263  168447272         chrX  168447269  168447270
26652     chrX  168545490  168545499         chrX  168545498  168545499
26653     chrX  168752433  168752442         chrX  168752439  168752440
26654     chrX  168752434  168752443         chrX  168752439  168752440

[26655 rows x 6 columns]
#############################################################
         chr_name  chr_start   chr_end
0            chr1    3050016   3050027
1            chr1    3050017   3050028
2            chr1    3050408   3050419
3            chr1    3050409   3050420
4            chr1    3050715   3050726
...           ...        ...       ...
14424042     chrY   90855673  90855684
14424043     chrY   90855816  90855827
14424044     chrY   90855817  90855828
14424045     chrY   90855825  90855836
14424046     chrY   90855826  90855837

[14424047 rows x 3 columns]
      chr_name  CPD_start    CPD_end chr_name_SNV  SNV_start    SNV_end
0         chr1    3052410    3052421         chr1    3052410    3052411
1         chr1    3059751    3059762         chr1    3059753    3059754
2         chr1    3059752    3059763         chr1    3059753    3059754
3         chr1    3193475    3193486         chr1    3193475    3193476
4         chr1    3363324    3363335         chr1    3363332    3363333
...        ...        ...        ...          ...        ...        ...
31299     chrX  168447262  168447273         chrX  168447269  168447270
31300     chrX  168545488  168545499         chrX  168545498  168545499
31301     chrX  168545489  168545500         chrX  168545498  168545499
31302     chrX  168752432  168752443         chrX  168752439  168752440
31303     chrX  168752433  168752444         chrX  168752439  168752440

[31304 rows x 6 columns]
#############################################################
         chr_name  chr_start   chr_end
0            chr1    3050015   3050028
1            chr1    3050016   3050029
2            chr1    3050407   3050420
3            chr1    3050408   3050421
4            chr1    3050714   3050727
...           ...        ...       ...
14424042     chrY   90855672  90855685
14424043     chrY   90855815  90855828
14424044     chrY   90855816  90855829
14424045     chrY   90855824  90855837
14424046     chrY   90855825  90855838

[14424047 rows x 3 columns]
      chr_name  CPD_start    CPD_end chr_name_SNV  SNV_start    SNV_end
0         chr1    3052409    3052422         chr1    3052410    3052411
1         chr1    3052410    3052423         chr1    3052410    3052411
2         chr1    3059750    3059763         chr1    3059753    3059754
3         chr1    3059751    3059764         chr1    3059753    3059754
4         chr1    3193474    3193487         chr1    3193475    3193476
...        ...        ...        ...          ...        ...        ...
36101     chrX  168447261  168447274         chrX  168447269  168447270
36102     chrX  168545487  168545500         chrX  168545498  168545499
36103     chrX  168545488  168545501         chrX  168545498  168545499
36104     chrX  168752431  168752444         chrX  168752439  168752440
36105     chrX  168752432  168752445         chrX  168752439  168752440

[36106 rows x 6 columns]
#############################################################
         chr_name  chr_start   chr_end
0            chr1    3050014   3050029
1            chr1    3050015   3050030
2            chr1    3050406   3050421
3            chr1    3050407   3050422
4            chr1    3050713   3050728
...           ...        ...       ...
14424042     chrY   90855671  90855686
14424043     chrY   90855814  90855829
14424044     chrY   90855815  90855830
14424045     chrY   90855823  90855838
14424046     chrY   90855824  90855839

[14424047 rows x 3 columns]
      chr_name  CPD_start    CPD_end chr_name_SNV  SNV_start    SNV_end
0         chr1    3052408    3052423         chr1    3052410    3052411
1         chr1    3052409    3052424         chr1    3052410    3052411
2         chr1    3059749    3059764         chr1    3059753    3059754
3         chr1    3059750    3059765         chr1    3059753    3059754
4         chr1    3193473    3193488         chr1    3193475    3193476
...        ...        ...        ...          ...        ...        ...
40725     chrX  168447260  168447275         chrX  168447269  168447270
40726     chrX  168545486  168545501         chrX  168545498  168545499
40727     chrX  168545487  168545502         chrX  168545498  168545499
40728     chrX  168752430  168752445         chrX  168752439  168752440
40729     chrX  168752431  168752446         chrX  168752439  168752440

[40730 rows x 6 columns]
#############################################################
         chr_name  chr_start   chr_end
0            chr1    3050013   3050030
1            chr1    3050014   3050031
2            chr1    3050405   3050422
3            chr1    3050406   3050423
4            chr1    3050712   3050729
...           ...        ...       ...
14424042     chrY   90855670  90855687
14424043     chrY   90855813  90855830
14424044     chrY   90855814  90855831
14424045     chrY   90855822  90855839
14424046     chrY   90855823  90855840

[14424047 rows x 3 columns]
      chr_name  CPD_start    CPD_end chr_name_SNV  SNV_start    SNV_end
0         chr1    3052407    3052424         chr1    3052410    3052411
1         chr1    3052408    3052425         chr1    3052410    3052411
2         chr1    3059748    3059765         chr1    3059753    3059754
3         chr1    3059749    3059766         chr1    3059753    3059754
4         chr1    3193472    3193489         chr1    3193475    3193476
...        ...        ...        ...          ...        ...        ...
45370     chrX  168447259  168447276         chrX  168447269  168447270
45371     chrX  168545485  168545502         chrX  168545498  168545499
45372     chrX  168545486  168545503         chrX  168545498  168545499
45373     chrX  168752429  168752446         chrX  168752439  168752440
45374     chrX  168752430  168752447         chrX  168752439  168752440

[45375 rows x 6 columns]
#############################################################
         chr_name  chr_start   chr_end
0            chr1    3050012   3050031
1            chr1    3050013   3050032
2            chr1    3050404   3050423
3            chr1    3050405   3050424
4            chr1    3050711   3050730
...           ...        ...       ...
14424042     chrY   90855669  90855688
14424043     chrY   90855812  90855831
14424044     chrY   90855813  90855832
14424045     chrY   90855821  90855840
14424046     chrY   90855822  90855841

[14424047 rows x 3 columns]
      chr_name  CPD_start    CPD_end chr_name_SNV  SNV_start    SNV_end
0         chr1    3052406    3052425         chr1    3052410    3052411
1         chr1    3052407    3052426         chr1    3052410    3052411
2         chr1    3059747    3059766         chr1    3059753    3059754
3         chr1    3059748    3059767         chr1    3059753    3059754
4         chr1    3193471    3193490         chr1    3193475    3193476
...        ...        ...        ...          ...        ...        ...
50083     chrX  168447258  168447277         chrX  168447269  168447270
50084     chrX  168545484  168545503         chrX  168545498  168545499
50085     chrX  168545485  168545504         chrX  168545498  168545499
50086     chrX  168752428  168752447         chrX  168752439  168752440
50087     chrX  168752429  168752448         chrX  168752439  168752440

[50088 rows x 6 columns]
#############################################################
         chr_name  chr_start   chr_end
0            chr1    3050011   3050032
1            chr1    3050012   3050033
2            chr1    3050403   3050424
3            chr1    3050404   3050425
4            chr1    3050710   3050731
...           ...        ...       ...
14424042     chrY   90855668  90855689
14424043     chrY   90855811  90855832
14424044     chrY   90855812  90855833
14424045     chrY   90855820  90855841
14424046     chrY   90855821  90855842

[14424047 rows x 3 columns]
      chr_name  CPD_start    CPD_end chr_name_SNV  SNV_start    SNV_end
0         chr1    3052405    3052426         chr1    3052410    3052411
1         chr1    3052406    3052427         chr1    3052410    3052411
2         chr1    3059746    3059767         chr1    3059753    3059754
3         chr1    3059747    3059768         chr1    3059753    3059754
4         chr1    3193470    3193491         chr1    3193475    3193476
...        ...        ...        ...          ...        ...        ...
54776     chrX  168447257  168447278         chrX  168447269  168447270
54777     chrX  168545483  168545504         chrX  168545498  168545499
54778     chrX  168545484  168545505         chrX  168545498  168545499
54779     chrX  168752427  168752448         chrX  168752439  168752440
54780     chrX  168752428  168752449         chrX  168752439  168752440

[54781 rows x 6 columns]
#############################################################

In [65]:
df_filtered_noUV_plus_only.head(20)

       0        1        2  3   4
0   chr1  3050021  3050022  +  GA
1   chr1  3050022  3050023  +  GA
2   chr1  3050413  3050414  +  AG
3   chr1  3050414  3050415  +  AG
4   chr1  3050721  3050722  +  GG
5   chr1  3050756  3050757  +  GA
6   chr1  3050757  3050758  +  GA
7   chr1  3050807  3050808  +  GA
8   chr1  3050808  3050809  +  GA
9   chr1  3050842  3050843  +  AA
10  chr1  3050843  3050844  +  AA
11  chr1  3050880  3050881  +  GG
12  chr1  3051228  3051229  +  AA
13  chr1  3051272  3051273  +  AA
14  chr1  3051273  3051274  +  AA
15  chr1  3051321  3051322  +  AG
16  chr1  3051322  3051323  +  AG
17  chr1  3051346  3051347  +  GA
18  chr1  3051347  3051348  +  GA
19  chr1  3051525  3051526  +  AA

## Finding Intersection using `PyBedtools`

In [66]:
df_interest_SNV_bed = pybedtools.BedTool.from_dataframe(df_interest_bed)
df_noUV_plus_only_bed = pybedtools.BedTool.from_dataframe(df_filtered_noUV_plus_only)
intersect_SNV_CPD = df_interest_SNV_bed.intersect(df_noUV_plus_only_bed, wa=True, wb=True)
intersect_SNV_CPD.to_dataframe()

,chrom,start,end,name,score,strand,thickStart,thickEnd
0,chr15,3895294,3895295,chr15,3895294,3895295,+,GG
1,chr15,5579415,5579416,chr15,5579415,5579416,+,AG
2,chr15,6191775,6191776,chr15,6191775,6191776,+,GA
3,chr15,6207261,6207262,chr15,6207261,6207262,+,GA
4,chr15,9691374,9691375,chr15,9691374,9691375,+,GG
...,...,...,...,...,...,...,...,...
3501,chrX,147720411,147720412,chrX,147720411,147720412,+,GG
3502,chrX,39568936,39568937,chrX,39568936,39568937,+,GA
3503,chrX,88746130,88746131,chrX,88746130,88746131,+,GG
3504,chrX,104886995,104886996,chrX,104886995,104886996,+,GG
3505,chrX,158712030,158712031,chrX,158712030,158712031,+,GG