In [4]:
import pandas as pd
import pybedtools
import numpy as np

In [5]:
input_path = "/data/private/pdutta/Collab_data/Jim_work/CPD-seq/04-damage-1bp/Tissue_1hr_S2_CPD_1bp_sorted_minus.bed"
input_path_noUV = "/data/private/pdutta/Collab_data/Jim_work/CPD-seq/04-damage-1bp/Tissue_1hr_S2_CPD_1bp_sorted_plus.bed"

In [8]:
df =pd.read_csv(input_path, sep="\t")

In [9]:
df

           chr1  3050151  3050152  -  AA
0          chr1  3050152  3050153  -  AA
1          chr1  3050240  3050241  -  GA
2          chr1  3050241  3050242  -  AG
3          chr1  3050241  3050242  -  AG
4          chr1  3050241  3050242  -  GA
...         ...      ...      ... ..  ..
99923372  pUC19     2684     2685  -  GA
99923373  pUC19     2684     2685  -  GA
99923374  pUC19     2684     2685  -  GA
99923375  pUC19     2684     2685  -  GA
99923376  pUC19     2684     2685  -  GA

[99923377 rows x 5 columns]

In [10]:
df.groupby('-').size()

-
-    99923377
dtype: int64

In [18]:
list(df['chr_name'].unique())

['chr1',
 'chr10',
 'chr11',
 'chr12',
 'chr13',
 'chr14',
 'chr15',
 'chr16',
 'chr17',
 'chr18',
 'chr19',
 'chr1_GL456210v1_random',
 'chr1_GL456211v1_random',
 'chr1_GL456212v1_random',
 'chr1_GL456221v1_random',
 'chr1_GL456239v1_random',
 'chr1_MU069434v1_random',
 'chr2',
 'chr3',
 'chr4',
 'chr4_JH584295v1_random',
 'chr5',
 'chr5_GL456354v1_random',
 'chr5_JH584296v1_random',
 'chr5_JH584297v1_random',
 'chr5_JH584298v1_random',
 'chr5_JH584299v1_random',
 'chr6',
 'chr7',
 'chr7_GL456219v1_random',
 'chr8',
 'chr9',
 'chrM',
 'chrUn_GL456359v1',
 'chrUn_GL456360v1',
 'chrUn_GL456366v1',
 'chrUn_GL456367v1',
 'chrUn_GL456368v1',
 'chrUn_GL456370v1',
 'chrUn_GL456372v1',
 'chrUn_GL456378v1',
 'chrUn_GL456379v1',
 'chrUn_GL456381v1',
 'chrUn_GL456382v1',
 'chrUn_GL456383v1',
 'chrUn_GL456385v1',
 'chrUn_GL456387v1',
 'chrUn_GL456389v1',
 'chrUn_GL456390v1',
 'chrUn_GL456392v1',
 'chrUn_GL456394v1',
 'chrUn_GL456396v1',
 'chrUn_JH584304v1',
 'chrUn_MU069435v1',
 'chrX',
 'chrX_GL456233v2_random',
 'chrY',
 'chrY_JH584300v1_random',
 'chrY_JH584301v1_random',
 'chrY_JH584302v1_random',
 'chrY_JH584303v1_random',
 'pUC19']

In [27]:
df_noUV = pd.read_csv(input_path_noUV, sep="\t", names= ["chr_name", 'start', 'end', 'strand', 'Neucleotides'])

In [28]:
df_noUV

         chr_name    start      end strand Neucleotides
0            chr1  3050029  3050030      +           AA
1            chr1  3050030  3050031      +           AA
2            chr1  3050054  3050055      +           GG
3            chr1  3050055  3050056      +           GG
4            chr1  3050076  3050077      +           AG
...           ...      ...      ...    ...          ...
99495315    pUC19     2635     2636      +           AG
99495316    pUC19     2635     2636      +           AG
99495317    pUC19     2636     2637      +           AG
99495318    pUC19     2636     2637      +           AG
99495319    pUC19     2636     2637      +           AG

[99495320 rows x 5 columns]

In [29]:
list(df['chr_name'].unique())

['chr1',
 'chr10',
 'chr11',
 'chr12',
 'chr13',
 'chr14',
 'chr15',
 'chr16',
 'chr17',
 'chr18',
 'chr19',
 'chr1_GL456210v1_random',
 'chr1_GL456211v1_random',
 'chr1_GL456212v1_random',
 'chr1_GL456221v1_random',
 'chr1_GL456239v1_random',
 'chr1_MU069434v1_random',
 'chr2',
 'chr3',
 'chr4',
 'chr4_JH584295v1_random',
 'chr5',
 'chr5_GL456354v1_random',
 'chr5_JH584296v1_random',
 'chr5_JH584297v1_random',
 'chr5_JH584298v1_random',
 'chr5_JH584299v1_random',
 'chr6',
 'chr7',
 'chr7_GL456219v1_random',
 'chr8',
 'chr9',
 'chrM',
 'chrUn_GL456359v1',
 'chrUn_GL456360v1',
 'chrUn_GL456366v1',
 'chrUn_GL456367v1',
 'chrUn_GL456368v1',
 'chrUn_GL456370v1',
 'chrUn_GL456372v1',
 'chrUn_GL456378v1',
 'chrUn_GL456379v1',
 'chrUn_GL456381v1',
 'chrUn_GL456382v1',
 'chrUn_GL456383v1',
 'chrUn_GL456385v1',
 'chrUn_GL456387v1',
 'chrUn_GL456389v1',
 'chrUn_GL456390v1',
 'chrUn_GL456392v1',
 'chrUn_GL456394v1',
 'chrUn_GL456396v1',
 'chrUn_JH584304v1',
 'chrUn_MU069435v1',
 'chrX',
 'chrX_GL456233v2_random',
 'chrY',
 'chrY_JH584300v1_random',
 'chrY_JH584301v1_random',
 'chrY_JH584302v1_random',
 'chrY_JH584303v1_random',
 'pUC19']